<ng-container *ngIf="columns === 3">
    <div class="container">
        <div class="shop-layout shop-layout--sidebar--start">
            <div class="shop-layout__sidebar">
                <shop-sidebar [title]="title" offcanvas="mobile">
                    <app-widget-filters elements offcanvas="mobile"></app-widget-filters>
                    <app-widget-products
                        sub-elements
                        header="Последние продукты"
                    ></app-widget-products>
                </shop-sidebar>
            </div>
            <div class="shop-layout__content">
                <div class="block">
                    <app-products-view
                        [layout]="viewMode"
                        grid="grid-3-sidebar"
                        offcanvas="mobile"
                    ></app-products-view>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="columns > 3">
    <div class="container">
        <div class="block">
            <app-products-view [layout]="viewMode" grid="grid-4-full" offcanvas="always">
            </app-products-view>
        </div>
        <shop-sidebar [title]="title" offcanvas="always">
            <app-widget-filters elements offcanvas="always"></app-widget-filters>
            <app-widget-products sub-elements header="Последние продукты"></app-widget-products>
        </shop-sidebar>
    </div>
</ng-container>
