@import '../../../../shop-layout';

app-widget-products {
    padding-bottom: 10px;
}

.promotions {
    line-height: 1.15;
    padding-bottom: 10px;

    .promotion {
        flex: 1 1 100%;
        box-sizing: border-box;
        max-width: 100%;

        .info-bar {
            flex-flow: row wrap;
            box-sizing: border-box;
            display: flex;
            border: 1px solid #ddd;
            padding: 0 15px;
            margin-top: 0;
            background: #fff;

            .item {
                flex: 1 1 100%;
                box-sizing: border-box;
                max-width: 100%;

                .light-block {
                    flex-direction: row;
                    box-sizing: border-box;
                    display: flex;
                    place-content: center flex-start;
                    align-items: center;
                    box-shadow: none !important;
                    padding: 20px 0;
                    border-bottom: 1px solid #ddd;

                    app-icon {
                        fill: #333;
                    }

                    .content p {
                        text-transform: capitalize;
                        font-weight: 500;
                        font-weight: bold;
                        margin: 0;
                    }

                    .content span {
                        color: #777;
                        font-size: 14px;
                    }
                }
            }
        }

        .sale-baner {
            .widget {
                height: 14%;
                margin-top: 25px;
                padding: 15px 20px;
                text-align: center;
                background: #bfdb39;

                .widget1 {
                    color: #fff;
                    font-size: 25px;
                    font-weight: 600;
                    display: block;
                    word-wrap: break-word;
                }

                .widget2 {
                    color: #fff;
                    font-size: 18px;
                    font-weight: 600;
                    display: block;
                }

                .discount {
                    display: inline-block;
                    color: #2d2a25;
                    font-size: 77px;
                    font-weight: 600;
                    position: relative;
                }

                .percent {
                    display: inline-block;
                    line-height: 31px;

                    span {
                        display: block;
                        font-size: 3.111em;
                        font-weight: 500;
                    }
                }

                p {
                    color: #fff;
                    line-height: 20px;
                    font-weight: 300;
                    font-size: 15px;
                    margin: 0;
                }
            }
        }
    }
}
