<page-header [breadcrumbs]="breadcrumb$ | async"></page-header>

<ng-container *ngIf="layout !== 'sidebar'">
    <div class="block">
        <div class="container">
            <product-info [product]="product" [layout]="layout"></product-info>

            <product-tabs
                *ngIf="
                    product?.description ||
                    (product.techProperties | keyvalue)?.length ||
                    product.properties?.brand?.catalogs?.length
                "
                [description]="product.description"
                [catalogs]="product.properties.brand.catalogs"
                [techProperties]="product.techProperties"
            >
            </product-tabs>
        </div>
    </div>
    <block-products-carousel
        header="Cопутствующие товары"
        layout="grid-5"
        [rows]="1"
        [loading]="isLoadingRecommendedProducts$ | async"
        [withSidebar]="true"
        [products]="relatedProducts$ | async"
    >
    </block-products-carousel>
</ng-container>

<ng-container *ngIf="layout === 'sidebar'">
    <div class="container">
        <div class="shop-layout shop-layout--sidebar--{{ sidebarPosition }}">
            <div *ngIf="sidebarPosition === 'start'" class="shop-layout__sidebar">
                <app-widget-products header="Последние продукты"></app-widget-products>
                <a
                    class="yandex"
                    href="https://clck.yandex.ru/redir/dtype=stred/pid=47/cid=73582/path=static.238x398/*https://market.yandex.ru/shop--glavkom/1225178/reviews/add"
                >
                    <img
                        src="https://clck.yandex.ru/redir/dtype=stred/pid=47/cid=73581/path=static.238x398/*https://img.yandex.net/market/informer9.png"
                        border="0"
                        alt="Оцените качество магазина на Яндекс.Маркете."
                    />
                </a>
                <div class="promotions">
                    <div class="promotion">
                        <div class="info-bar">
                            <div class="item" *ngFor="let promotion of promotions">
                                <mat-card class="light-block">
                                    <app-icon [name]="promotion.icon" size="41"></app-icon>
                                    <div class="content ml10">
                                        <p>{{ promotion.title }}</p>
                                        <span>{{ promotion.description }}</span>
                                    </div>
                                </mat-card>
                            </div>
                        </div>

                        <div class="sale-baner">
                            <div class="widget">
                                <span class="widget1"> БОЛЬШАЯ РАСПРОДАЖА </span>
                                <span class="widget2"> Не пропусти! </span>
                                <span class="discount">60</span>
                                <div class="percent">
                                    <span>%</span>
                                    до
                                </div>
                                <p>
                                    Торговое оборудование, Холодильное оборудование, Оборудование
                                    для предприятий питания, Металическая мебель
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="shop-layout__content">
                <div class="block">
                    <product-info [product]="product" [layout]="layout"></product-info>

                    <product-tabs
                        *ngIf="
                            product.description ||
                            (product.techProperties | keyvalue)?.length ||
                            product.properties?.brand?.catalogs?.length
                        "
                        [withSidebar]="true"
                        [description]="product.description"
                        [catalogs]="product.properties.brand.catalogs"
                        [techProperties]="product.techProperties"
                    >
                    </product-tabs>
                </div>
                <block-products-carousel
                    header="Cопутствующие товары"
                    layout="grid-4-sm"
                    [rows]="1"
                    [loading]="isLoadingRecommendedProducts$ | async"
                    [withSidebar]="true"
                    [products]="relatedProducts$ | async"
                >
                </block-products-carousel>
            </div>

            <div *ngIf="sidebarPosition === 'end'" class="shop-layout__sidebar">
                <a
                    href="https://clck.yandex.ru/redir/dtype=stred/pid=47/cid=73582/path=static.238x398/*https://market.yandex.ru/shop--glavkom/1225178/reviews/add"
                >
                    <img
                        src="https://clck.yandex.ru/redir/dtype=stred/pid=47/cid=73581/path=static.238x398/*https://img.yandex.net/market/informer9.png"
                        border="0"
                        alt="Оцените качество магазина на Яндекс.Маркете."
                    />
                </a>
            </div>
        </div>
    </div>
</ng-container>
