@import '../../../../theme';

$primary: map-get($theme, primary);

.mat-column-progress {
    max-width: 40px;
}

:host .bg-white .mat-form-field ::ng-deep {
    .mat-form-field-underline {
        display: none;
    }

    .mat-form-field-infix {
        border-top: none;
    }

    .mat-form-field-wrapper {
        padding-bottom: 0;
    }
}

.bg-white {
    height: 100%;
    overflow: auto;
    background-color: #fafafa;
}

.filter {
    background-color: #fafafa;
    padding-left: 15px;
}

.mat-table {
    .mat-row {
        cursor: pointer;

        &:hover,
        &.selected {
            background-color: mat-color($primary, 400);

            .mat-checkbox {
                opacity: 1;
            }
        }

        &:hover button {
            opacity: 1;
        }
    }
}

:host::ng-deep {
    .example-panel-red {
        background-color: rgba(255, 0, 0, 0.5);
        border-radius: 10px;
        padding: 10px;
    }

    .example-panel-green {
        background-color: rgba(0, 255, 0, 0.5);
        border-radius: 10px;
        padding: 10px;
    }

    .example-panel-blue {
        background-color: rgba(0, 0, 255, 0.5);
        border-radius: 10px;
        padding: 10px;
    }

    .example-panel-azure {
        background-color: rgba(89, 156, 151, 0.5);
        border-radius: 10px;
        padding: 10px;
    }
}
