<div class="filter">
    <mat-form-field>
        <input matInput [formControl]="searchControl" placeholder="Фильтр" />
    </mat-form-field>
</div>
<section id="sample-table3" class="bg-white">
    <table mat-table [dataSource]="dataSource" matSort class="w-100">
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox
                    (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                >
                </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox
                    (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)"
                >
                </mat-checkbox>
            </td>
        </ng-container>
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Номер заказа</th>
            <td mat-cell *matCellDef="let row">{{ row.id }}</td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Имя Заказчика</th>
            <td mat-cell *matCellDef="let row">{{ row.customerInfo.name }}</td>
        </ng-container>

        <ng-container matColumnDef="totalCost">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Общая Стоймость</th>
            <td mat-cell *matCellDef="let row">
                {{ row.totalCost | currency: 'RUB':'symbol-narrow' }}
            </td>
        </ng-container>

        <ng-container matColumnDef="created">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Время заказа</th>
            <td mat-cell *matCellDef="let row">{{ row.created | date: 'M/d/yyy, H:mm' }}</td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Статус</th>
            <td mat-cell *matCellDef="let row">
                <mat-form-field (click)="$event.stopPropagation()">
                    <mat-select
                        [ngModel]="row.status"
                        [ngClass]="getColor(row.status)"
                        (ngModelChange)="onStatusChange(row.id, $event)"
                    >
                        <mat-option *ngFor="let status of statuses" [value]="status.id">
                            {{ status.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </td>
        </ng-container>

        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
                <button mat-button (click)="onDelete(row.id); $event.stopPropagation()">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="onOpen(row.id)"></tr>
    </table>
</section>

<mat-paginator
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    (page)="onChangePaginator($event)"
>
</mat-paginator>
