<div class="departments">
    <div class="departments__body" #bodyElement>
        <div class="departments__links-wrapper" (mouseleave)="onMouseLeave()">
            <div class="departments__submenus-container" #containerElement>
                <ng-container *ngFor="let item of categories">
                    <div
                        *ngIf="item.subCategory && item.level !== 1"
                        class="departments__submenu departments__submenu--type--megamenu departments__submenu--size--{{
                            item.level === 1 ? 'xl' : 'lg'
                        }}"
                        [ngClass]="{ 'departments__submenu--open': item === hoveredItem }"
                        #submenuElement
                    >
                        <!-- <app-header-megamenu [menu]="item.subCategory" (itemClick)="onSubItemClick()"></app-header-megamenu> -->
                    </div>
                    <!--suppress JSUnusedGlobalSymbols -->
                    <div
                        *ngIf="item.subCategory && item.level === 1"
                        class="departments__submenu departments__submenu--type--menu"
                        [ngClass]="{ 'departments__submenu--open': item === hoveredItem }"
                        #submenuElement
                    >
                        <app-header-menu
                            [items]="item.subCategory"
                            [categories]="categories"
                            [firstParentId]="item.id"
                            (itemClick)="onSubItemClick()"
                        ></app-header-menu>
                    </div>
                </ng-container>
            </div>
            <ul class="departments__links">
                <li
                    *ngFor="let item of categories; trackBy: trackByFn"
                    class="departments__item"
                    [ngClass]="{
                        'departments__item--menu': item.subCategory && item.level === 2,
                        'departments__item--hover': item === hoveredItem
                    }"
                    (mouseenter)="onItemMouseEnter(item)"
                    #itemElement
                >
                    <ng-template #link>
                        {{ item.name }}
                        <app-icon
                            *ngIf="item.subCategory"
                            class="departments__item-arrow"
                            name="arrow-rounded-right-6x9"
                            size="6x9"
                        ></app-icon>
                    </ng-template>

                    <a
                        *ngIf="!item.parentCategoryId"
                        class="departments__item-link"
                        routerLink="/catalog"
                        [queryParams]="{ category: item.id }"
                        [target]="'_self'"
                        (click)="close()"
                        (appTouchClick)="onTouchClick($event, item)"
                    >
                        <ng-container [ngTemplateOutlet]="link"></ng-container>
                    </a>
                    <a
                        *ngIf="item.parentCategoryId"
                        class="departments__item-link"
                        href="/catalog"
                        [target]="'_blank'"
                        (click)="close()"
                        (appTouchClick)="onTouchClick($event, item)"
                    >
                        <ng-container [ngTemplateOutlet]="link"></ng-container>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <button class="departments__button" (click)="toggle()">
        <app-icon class="departments__button-icon" name="menu-18x14" size="18x14"></app-icon>
        Оборудование по Категориям
        <app-icon
            class="departments__button-arrow"
            name="arrow-rounded-down-9x6"
            size="9x6"
        ></app-icon>
    </button>
</div>
