<div class="toolbar">
    <div class="actions">
        <button mat-button (click)="onCancel()">
            <mat-icon>cancel</mat-icon>
            <span>Отменить</span>
        </button>
        <div>
            <button mat-button class="create-button" type="button" (click)="onCreateBrand()">
                <mat-icon aria-label="new contact">add_circle_outline</mat-icon>
                Добавить элемент
            </button>
            <button
                mat-raised-button
                type="submit"
                class="mat-rounded-button"
                color="accent"
                [disabled]="!brandsFormArray.valid || brandsFormArray.pristine"
                (click)="onSave()"
            >
                <mat-icon>save</mat-icon>
                Сохранить
            </button>
        </div>
    </div>
</div>

<div *ngIf="brands" class="brands">
    <card-item
        *ngFor="let brand of brandsFormArray.controls; let i = index"
        [nameControl]="brand.get('name')"
        [imageControl]="brand.get('image')"
        [label]="title"
        [title]="title"
        [placeholder]="title"
    >
        <button mat-raised-button color="accent" class="remove" (click)="onRemoveBrand(i)">
            Удалить
        </button>
    </card-item>
</div>
