<div class="toggle">
    <input class="toggle-input" type="checkbox" />
    <button
        class="toggle-btn {{ className }}"
        [ngClass]="{ 'toggle-btn-on': on, 'toggle-btn-off': !on }"
        [attr.aria-expanded]="on"
    >
        <app-icon class="news" name="assignment" size="24"></app-icon>
        <app-icon class="discount" name="new-releases" size="24"></app-icon>
    </button>
</div>
