@import '../../../../../theme';

$primary: map-get($theme, primary);
$warn: map-get($theme, warn);

:host {
    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }

    .toggle {
        .news,
        .discount {
            position: absolute;
            right: 0;
            bottom: 0;
            fill: mat-color($primary, main, 0.5);
        }

        .news {
            left: 4px;
        }

        .discount {
            left: 71%;
        }

        .toggle-btn-on .discount {
            fill: mat-color($warn, main);
        }

        .toggle-btn-off .news {
            fill: mat-color($warn, main);
        }

        .toggle-btn {
            display: inline-block;
            outline: 0;
            width: 7em;
            height: 2em;
            position: relative;
            cursor: pointer;
            user-select: none;
            background: #fbfbfb;
            border-radius: 10px;
            padding: 2px;
            transition: all 0.4s ease;
            border: 1px solid #e8eae9;
        }

        .toggle-btn:focus::after,
        .toggle-btn:active::after {
            box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08),
                inset 0px 0px 0px 1.5px #9c9c9c;
        }

        .toggle-btn::after {
            left: 0;
            position: relative;
            display: block;
            content: '';
            width: 30%;
            height: 100%;
            border-radius: 2em;
            transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease,
                margin 0.3s ease;
            box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08);
        }

        .toggle-btn.toggle-btn-on::after {
            left: 70%;
        }

        .toggle-btn.toggle-btn-on:active {
            box-shadow: none;
        }

        .toggle-btn.toggle-btn-on:active::after {
            margin-left: -0.8em;
        }

        .toggle-btn:active::after {
            padding-right: 0.8em;
        }

        .toggle-input {
            display: none;
        }
    }
}
