<div
    class="block block-sidebar"
    [ngClass]="{
        'block-sidebar--offcanvas--always': offcanvas === 'always',
        'block-sidebar--offcanvas--mobile': offcanvas === 'mobile',
        'block-sidebar--open': isOpen
    }"
>
    <div class="block-sidebar__backdrop" (click)="sidebar.close()"></div>
    <div class="block-sidebar__body">
        <div class="block-sidebar__header">
            <div class="block-sidebar__title">{{ title }}</div>
            <button class="block-sidebar__close" type="button" (click)="sidebar.close()">
                <app-icon name="cross-20" size="20"></app-icon>
            </button>
        </div>
        <div class="block-sidebar__item">
            <ng-content select="[elements]"></ng-content>
        </div>
        <div class="block-sidebar__item d-none d-lg-block" *ngIf="offcanvas === 'mobile'">
            <ng-content select="[sub-elements]"></ng-content>
        </div>
    </div>
</div>
