@import '../../theme';

$warn: map-get($theme, warn);
$foreground: map-get($theme, foreground);
$primary: map-get($theme, primary);

:host {
    .toolbar {
        background-color: #fafafa;
        padding: 10px;
        justify-content: space-between;
        align-items: center;
        display: flex;

        .name {
            width: 50%;
        }

        ::ng-deep .mat-form-field {
            .mat-form-field-wrapper {
                padding-bottom: 0;
            }
        }
    }

    .bg-white {
        height: 100%;
        overflow: auto;
        background-color: #fff;
    }

    .inputs {
        display: flex;
        flex-direction: column;

        .fields-row-wrapper {
            margin: 0 6px;

            .mat-form-field {
                height: 57px;
                padding: 15px;
                width: 40%;
                min-width: 287px;
            }
        }
    }

    .inputs .fields-row-wrapper .example-full-width {
        width: calc(100% - 30px);
        height: 100%;
    }

    ::ng-deep json-input .mat-form-field {
        width: 100%;
        height: 100%;
        padding: 15px;
    }

    h1 {
        padding-left: 15px;
    }
}

.warn {
    color: mat-color($warn, main);
}

.remove-button {
    margin-bottom: 5px;
    color: mat-color($foreground, accent-text);
}

.property {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .mat-form-field {
        height: 65px;
        padding: 15px;
        width: 40%;
        min-width: 287px;
    }
}

.dir-col {
    flex-direction: column;
}

.tree-form {
    height: 57px;
    padding: 15px;
    min-width: 287px;
    width: 40%;
    position: relative;
}
