<form [formGroup]="productGroup" class="toolbar">
    <button *ngIf="isArrowBack" mat-icon-button type="button" (click)="onBack()">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <mat-form-field appearance="outline" class="name">
        <mat-label>Название товара</mat-label>
        <input matInput formControlName="name" [placeholder]="'Название товара'" />
    </mat-form-field>
    <ng-container *ngIf="product">
        <button
            mat-raised-button
            type="button"
            class="mat-rounded-button"
            color="primary"
            (click)="onRoutingProduct(-1)"
        >
            Предыдущий
        </button>
        <button
            mat-raised-button
            type="button"
            class="mat-rounded-button"
            color="primary"
            (click)="onRoutingProduct(1)"
        >
            Следующий
        </button>
    </ng-container>

    <button
        mat-raised-button
        type="submit"
        class="mat-rounded-button"
        color="accent"
        [disabled]="productGroup.invalid || simpleSelect.invalid"
        (click)="onSave()"
    >
        <mat-icon>save</mat-icon>
        Сохранить
    </button>
</form>

<section id="sample-table5" class="bg-white">
    <upload [control]="productGroup.get('image')"> </upload>
    <div class="inputs">
        <form [formGroup]="productGroup">
            <div class="fields-row-wrapper">
                <mat-form-field appearance="outline" class="price">
                    <mat-label>Цена в руб.</mat-label>
                    <input matInput type="number" formControlName="price" [placeholder]="'Цена'" />
                </mat-form-field>

                <mat-form-field appearance="outline" class="discount">
                    <mat-label>Cкидка в %</mat-label>
                    <input
                        matInput
                        type="number"
                        formControlName="discount"
                        [placeholder]="'Скидка'"
                    />
                </mat-form-field>
            </div>

            <div class="fields-row-wrapper">
                <mat-form-field appearance="outline" class="discount">
                    <mat-label>Артикул</mat-label>
                    <input matInput formControlName="vendorCode" [placeholder]="'Артикул'" />
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Производитель</mat-label>
                    <mat-select name="producer" formControlName="brandId">
                        <mat-option
                            *ngFor="let producer of brands$ | async | orderBy: 'name'"
                            [value]="producer.id"
                        >
                            {{ producer.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Страна Производства</mat-label>
                    <mat-select name="country" formControlName="countryId">
                        <mat-option *ngFor="let country of counries$ | async" [value]="country.id">
                            {{ country.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="fields-row-wrapper">
                <form class="tree-form" novalidate>
                    <tree-select
                        name="simpleSelect"
                        [items]="items"
                        childrenField="subCategory"
                        idField="id"
                        textField="name"
                        [(ngModel)]="simpleSelected"
                        [placeholder]="'Название категории'"
                        required="true"
                        #simpleSelect="ngModel"
                        [filterPlaceholder]="FilterPlaceholder"
                        [allowFilter]="ShowFilter"
                        [disabled]="Disabled"
                        [allowParentSelection]="AllowParentSelection"
                    >
                    </tree-select>
                    <div
                        *ngIf="simpleSelect.errors && (simpleSelect.dirty || simpleSelect.touched)"
                        class="alert alert-danger"
                    >
                        <div [hidden]="!simpleSelect.invalid" class="warn">
                            Обязательное поле для заполнения
                        </div>
                    </div>
                </form>
            </div>

            <div class="fields-row-wrapper">
                <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Описание товара</mat-label>
                    <textarea
                        rows="6"
                        matInput
                        placeholder="Напишите описание..."
                        formControlName="description"
                    >
                    </textarea>
                </mat-form-field>
            </div>
        </form>

        <div class="properties">
            <h1>Технические характеристики</h1>
            <div mat-dialog-content>
                <ng-container
                    *ngFor="
                        let techGroup of techProperties.controls;
                        let i = index;
                        let first = first
                    "
                >
                    <mat-divider *ngIf="!first"></mat-divider>

                    <form [formGroup]="$any(techGroup)" class="property">
                        <mat-form-field appearance="outline">
                            <mat-label>Название</mat-label>
                            <input matInput formControlName="name" [placeholder]="'Название'" />
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Значение</mat-label>
                            <input matInput formControlName="value" [placeholder]="'Значение'" />
                        </mat-form-field>

                        <button
                            mat-icon-button
                            class="btn-border remove-button"
                            (click)="onRemoveProperty(i)"
                        >
                            <mat-icon>remove_circle_outline</mat-icon>
                        </button>
                    </form>
                </ng-container>

                <div class="add-user">
                    <button
                        mat-button
                        class="add-user-button"
                        type="button"
                        (click)="onAddProperty()"
                    >
                        <mat-icon>add_circle_outline</mat-icon>
                        <span>Добавить</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
