<div class="toolbar">
    <div class="actions">
        <button mat-button (click)="onCancel()">
            <mat-icon>cancel</mat-icon>
            <span>Отменить</span>
        </button>
        <div>
            <button mat-button class="create-button" type="button" (click)="onCreateCertificate()">
                <mat-icon aria-label="new contact">add_circle_outline</mat-icon>
                Добавить элемент
            </button>
            <button
                mat-raised-button
                type="submit"
                class="mat-rounded-button"
                color="accent"
                [disabled]="!certificateFormArray.valid || certificateFormArray.pristine"
                (click)="onSave()"
            >
                <mat-icon>save</mat-icon>
                Сохранить
            </button>
        </div>
    </div>
</div>

<card-items
    [formArray]="certificateFormArray"
    [isHasItems]="!!certificates"
    [label]="'Производитель'"
    [label]="'Производитель'"
    (removeItem)="onRemoveCertificate($event)"
>
</card-items>
