@import '../../../../variables';
@import '../../../../functions';
@import '../../../../mixins/card';

.post__featured {
    text-align: center;
    position: relative;
    overflow: hidden;
    border-radius: 2px;
    margin-bottom: 40px;

    img {
        transition: opacity 0.2s;
        max-width: 100%;
    }
    &:hover img {
        opacity: 0.8;
    }
}
.post__footer {
    margin-top: 60px;
}
.post__tags-share-buttons {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}
.post__tags {
    margin-right: 30px;
}
.post__share-buttons {
    padding-top: 2px;
}
.post__section {
    margin-top: 70px;
}
.post__section-title {
    display: flex;
    align-items: center;
    margin-bottom: 28px;
    font-size: 22px;

    &::after {
        margin-top: 1px;
        content: '';
        display: block;
        height: 2px;
        flex-grow: 1;
        background: $post-section-divider-color;
        margin-left: 16px;
    }
}

@media (max-width: breakpoint(lg-end)) {
    .post__section {
        margin-top: 50px;
    }
}
@media (min-width: breakpoint(md-start)) and (max-width: breakpoint(md-end)) {
    .post__featured {
        margin-bottom: 30px;
    }
}
@media (max-width: breakpoint(sm-end)) {
    .post__featured {
        margin-bottom: 24px;
    }
    .post__footer {
        margin-top: 40px;
    }
    .post__tags-share-buttons {
        flex-direction: column;
        align-items: center;
    }
    .post__tags {
        margin-right: 0;

        .tags__list {
            justify-content: center;
        }
    }
    .post__share-buttons {
        padding: 20px 0 0;
    }
}

.post--layout--full {
    @media (min-width: breakpoint(lg-start)) {
        .post__featured {
            margin-bottom: 50px;
        }
    }
    @media (min-width: breakpoint(xl-start)) {
        .post__featured {
            width: calc(100% + 380px);
            left: -190px;
        }
    }
    @media (min-width: breakpoint(lg-start)) and (max-width: breakpoint(lg-end)) {
        .post__featured {
            width: calc(100% + 240px);
            left: -120px;
        }
    }
}

.post-header__categories {
    display: flex;

    a {
        padding: 5px 7px 4px;
        display: block;
        font-size: 11px;
        line-height: 1;
        font-weight: $font-weight-medium;
        text-transform: uppercase;
        color: $post-categories-font-color;
        background: $post-categories-bg;
        border-radius: $post-categories-border-radius;
    }
}
.post-header__meta {
    font-size: 14px;
    letter-spacing: 0.02em;
    color: $post-meta-font-color;
    display: flex;
    flex-wrap: wrap;

    a {
        color: inherit;
        transition: color 0.2s;
    }
    a:hover {
        color: $link-hover-color;
    }
}
.post-header__meta-item {
    $local-gutter-size: 20px;

    position: relative;
    margin-right: $local-gutter-size;

    &::after {
        position: absolute;
        display: block;
        content: '';
        background: currentColor;
        width: 4px;
        height: 4px;
        border-radius: 2px;
        top: 8px;
        right: -($local-gutter-size * 0.5 + 2px);
    }
    &:last-child {
        margin-right: 0;

        &::after {
            display: none;
        }
    }
}

.post-header--layout--classic {
    .post-header__categories {
        margin-bottom: 12px;
    }
    .post-header__title {
        line-height: 38px;
        margin-bottom: 8px;
    }
    .post-header__meta {
        margin-bottom: 30px;
    }

    @media (max-width: breakpoint(lg-end)) {
        .post-header__title {
            margin-bottom: 6px;
        }
    }
    @media (min-width: breakpoint(md-start)) and (max-width: breakpoint(lg-end)) {
        .post-header__meta {
            margin-bottom: 24px;
        }
    }
    @media (max-width: breakpoint(sm-end)) {
        .post-header__meta {
            margin-bottom: 20px;
        }
    }
    @media (min-width: 480px) and (max-width: breakpoint(sm-end)) {
        .post-header__title {
            font-size: 30px;
            line-height: 32px;
        }
    }
    @media (max-width: 479px) {
        .post-header__title {
            font-size: 28px;
            line-height: 30px;
        }
    }
}

.post-header--layout--full {
    width: 640px;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0 50px;

    .post-header__categories {
        justify-content: center;
        margin-bottom: 24px;
    }
    .post-header__title {
        line-height: 42px;
    }
    .post-header__meta {
        margin-top: 24px;
        justify-content: center;
    }

    @media (max-width: breakpoint(sm-end)) {
        padding: 10px 0 24px;

        .post-header__categories {
            margin-bottom: 16px;
        }
        .post-header__title {
            font-size: 30px;
            line-height: 32px;
        }
        .post-header__meta {
            margin-top: 12px;
        }
    }
    @media (max-width: breakpoint(xs-end)) {
        padding-top: 0;
        text-align: left;

        .post-header__categories {
            justify-content: flex-start;
        }
        .post-header__meta {
            margin-top: 8px;
            justify-content: flex-start;
        }
    }
}
