<div
    *ngIf="post"
    class="block post post--layout--{{ layout }}"
    itemscope
    itemtype="https://schema.org/Article"
>
    <div class="post__header post-header post-header--layout--{{ layout }}">
        <div class="post-header__categories">
            <a routerLink="/news">Последние новости</a>
        </div>
        <link itemprop="mainEntityOfPage" [href]="currentUrl | noSanitize: 'resourceUrl'" />
        <h1 class="post-header__title" itemprop="headline name">{{ post.name }}</h1>
        <div class="post-header__meta">
            <div
                class="post-header__meta-item"
                itemprop="publisher"
                itemscope
                itemtype="https://schema.org/Organization"
            >
                Автор :
                <a href="">{{ companyName }}</a>
                <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
                    <img
                        itemprop="url image"
                        [src]="logo"
                        alt="{{ companyName }} лого"
                        title="{{ companyName }} лого"
                        style="display: none"
                    />
                </div>
                <meta itemprop="name" [content]="companyName" />
                <meta itemprop="telephone" [content]="mobilePhone" />
                <meta itemprop="address" content="Россия" />
            </div>
            <div class="post-header__meta-item">
                <a>{{ post.created | date: 'd MMMM, yyyy' }}</a>
            </div>
            <!-- <div class="post-header__meta-item"><a href="">4 Comments</a></div> -->
        </div>
    </div>

    <div class="post__featured">
        <a>
            <img itemprop="url image" [src]="post.imageUrl" alt="" />
        </a>
    </div>
    <meta itemprop="description" [content]="seoDescr" />
    <meta itemprop="author" [content]="author" />
    <meta itemprop="datePublished" [content]="post.created | date: 'yyyy-MM-dd'" />
    <meta itemprop="dateModified" [content]="post.created | date: 'yyyy-MM-dd'" />
    <div
        class="post__content typography"
        itemprop="articleBody"
        [ngClass]="{ 'typography--expanded': layout === 'full' }"
        [innerHTML]="post.content | noSanitize"
    ></div>

    <section *ngIf="postComments$ | async as comments" class="post__section">
        <h4 *ngIf="comments.length" class="post__section-title">
            Комментарии ({{ comments.length }})
        </h4>

        <comments-list [comments]="comments"></comments-list>
    </section>

    <section class="post__section">
        <h4 class="post__section-title">Написать комментарий</h4>

        <form [formGroup]="formGroup">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="comment-first-name">Имя</label>
                    <input
                        type="text"
                        formControlName="firstName"
                        class="form-control"
                        id="comment-first-name"
                        placeholder="Имя"
                    />
                </div>
                <div class="form-group col-md-4">
                    <label for="comment-last-name">Фамилия</label>
                    <input
                        type="text"
                        formControlName="lastName"
                        class="form-control"
                        id="comment-last-name"
                        placeholder="Фамилия"
                    />
                </div>
                <div class="form-group col-md-4">
                    <label for="comment-email">Адрес электронной почты</label>
                    <input
                        required
                        type="email"
                        formControlName="email"
                        class="form-control is-valid"
                        id="comment-email"
                        placeholder="Адрес электронной почты"
                    />
                    <mat-error
                        *ngIf="
                            formGroup.get('email')?.hasError('required') &&
                            formGroup.get('email')?.touched
                        "
                    >
                        Электронная почта <strong>обязательна</strong>
                    </mat-error>
                    <mat-error *ngIf="formGroup.get('email')?.hasError('email')">
                        Пожалуйста, введите <strong>действующий адрес</strong>
                        электронной почты
                    </mat-error>
                </div>
            </div>
            <div class="form-group">
                <label for="comment-content">Комментарий</label>
                <textarea
                    class="form-control"
                    formControlName="comment"
                    id="comment-content"
                    rows="6"
                ></textarea>
            </div>
            <div class="form-group mt-4">
                <button type="submit" class="btn btn-primary btn-lg" (click)="onSave()">
                    Оставить комментарий
                </button>
            </div>
        </form>
    </section>
</div>
