:host {
    background-color: #fff;

    ::ng-deep .mat-list .mat-list-item .mat-list-item-content {
        padding: 0;
    }

    .pad-md {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        .mat-card {
            margin: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}

::ng-deep .mat-menu-content .history {
    padding: 10px;
}

::ng-deep div.mat-menu-panel.history-menu {
    min-width: 320px;
    max-width: 450px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    max-height: 400px;
    min-height: 340px;
    border-radius: 4px;
    outline: 0;
}

.cleare-history {
    display: flex;
    align-items: center;
    justify-content: center;
}

.radio-group {
    display: flex;
    flex-direction: column;

    .radio-item {
        padding: 10px;
    }
}
