<div *ngIf="sitesFromArray" class="pad-md">
    <mat-card *ngFor="let site of sitesFromArray.controls; trackBy: trackByFn">
        <a class="title" [href]="site.get('siteUrl')?.value">{{ site.get('siteName')?.value }}</a>
        <div class="actions">
            <button
                mat-icon-button
                (click)="onLoadHistory(site.get('id')?.value)"
                (menuClosed)="allowCloseOnClickOut()"
                [matTooltip]="'Информация обновления'"
                [matMenuTriggerFor]="menu"
            >
                <mat-icon>info</mat-icon>
            </button>
            <button
                mat-icon-button
                (click)="onRelationCategory(site.get('id')?.value)"
                [matTooltip]="'Соотношение категорий'"
                color="primary"
                aria-label="relations"
            >
                <mat-icon>swap_horiz</mat-icon>
            </button>
            <button
                *ngIf="site.get('status')?.value === 'RUNNING'; else run"
                (click)="onStop(site.value)"
                mat-icon-button
                color="warn"
                aria-label="stop"
                [matTooltip]="'Остановка парсера'"
            >
                <mat-icon>stop</mat-icon>
            </button>
            <ng-template #run>
                <button
                    mat-icon-button
                    [ngStyle]="{ color: '#00d200' }"
                    aria-label="play"
                    [matTooltip]="'Запуск парсера'"
                    [matMenuTriggerFor]="actions"
                >
                    <mat-icon>play_arrow</mat-icon>
                </button>
            </ng-template>

            <mat-menu #actions="matMenu">
                <div [formGroup]="updateFrom">
                    <mat-radio-group
                        class="radio-group"
                        formControlName="options"
                        (click)="$event.stopPropagation()"
                    >
                        <mat-radio-button
                            class="radio-item"
                            *ngIf="site.get('isAvailableUpdateCategory')?.value"
                            value="updateCategories"
                        >
                            Обновить категории
                        </mat-radio-button>
                        <mat-radio-button
                            class="radio-item"
                            *ngIf="site.get('isAvailableUpdateProduct')?.value"
                            value="updateProducts"
                        >
                            Обновить товары
                        </mat-radio-button>
                        <mat-radio-button
                            class="radio-item"
                            *ngIf="site.get('isAvailableUpdateProductPrice')?.value"
                            value="updateProductsPrice"
                        >
                            Обновить цену
                        </mat-radio-button>
                    </mat-radio-group>
                </div>
                <button mat-menu-item (click)="onStart(site.value)">
                    <i class="fas fa-play-circle"></i>
                    Запуск
                </button>
            </mat-menu>
        </div>
    </mat-card>
</div>

<mat-menu class="history-menu" #menu="matMenu">
    <ng-container *ngIf="histories$ | async as histories">
        <div class="history" *ngFor="let history of histories; let i = index">
            <ng-container *ngIf="history">
                <p>
                    <b>Дата начала обновления: {{ history.created | date: 'M/d/yyy, H:mm' }}</b>
                </p>
                <p>Статус: {{ history.status }}</p>
                <ng-container *ngIf="history.result">
                    <p>Обновлено категорий: {{ history.result.categories }}</p>
                    <p>Найдено продуктов: {{ history.result.foundedProducts }}</p>
                    <p>Новых продуктов продуктов: {{ history.result.newProducts }}</p>
                    <p>Продуктов обновлено: {{ history.result.priceProductsUpdated }}</p>
                </ng-container>
                <p>Время обновления: {{ history.duration }}</p>
                <p>Дата завершения обновления: {{ history.updated | date: 'M/d/yyy, H:mm' }}</p>
            </ng-container>
            <mat-divider></mat-divider>
        </div>
        <div class="cleare-history" *ngIf="!histories.length">История пуста</div>
    </ng-container>
</mat-menu>
