@import '../../../../variables';

@import '../../../../widgets/widget-filters';
@import '../../../../shop-layout';

.filter-list__item {
    padding: 1px 0;
    cursor: pointer;
    display: flex;
    margin: 8px 0;
}

.filter-list__title {
    padding: 1px 0;
    font-size: 14px;
    line-height: 16px;
    flex-grow: 1;
    transition: color 0.2s;
}

.filters-button {
    display: flex;
    align-items: center;
    padding: 0 9px;
    height: 32px;
    border: 1px solid $filters-button-default-border-color;
    border-radius: 2px;
    background: $filters-button-default-bg;
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    color: inherit;

    &:focus {
        outline: none;
    }

    &:hover {
        background: $filters-button-hover-bg;
        border-color: $filters-button-hover-border-color;
    }
}

.filters-button__icon {
    fill: $filters-button-icon-color;
    margin-right: 8px;
}

@media (max-width: breakpoint(lg-start)) {
    .widget-filters__list {
        padding: 0 20px;
    }
}

@media (min-width: breakpoint(lg-start)) {
    .view-options__filters-button {
        display: none;
    }
}
