<page-header [header]="header" [breadcrumbs]="breadcrumbs"></page-header>
<div class="container">
    <div class="shop-layout shop-layout--sidebar--start">
        <div class="shop-layout__sidebar">
            <shop-sidebar offcanvas="mobile">
                <div elements class="widget-filters__list">
                    <app-collapse
                        *ngFor="let item of brands$ | async | orderBy: 'name'; trackBy: trackByFn"
                        [name]="item.brand"
                        [isCollapsed]="false"
                    >
                        <label
                            *ngFor="
                                let catalog of item.catalogs | orderBy: 'name';
                                trackBy: trackByFn
                            "
                            class="filter-list__item"
                        >
                            <span class="filter-list__title" (click)="onSelect(catalog.id)">{{
                                catalog.name
                            }}</span>
                        </label>
                    </app-collapse>
                </div>
            </shop-sidebar>
        </div>
        <div class="shop-layout__content">
            <div class="view-options__filters-button">
                <button type="button" class="filters-button" (click)="sidebar.open()">
                    <app-icon class="filters-button__icon" name="filters-16" size="16"></app-icon>
                    <span class="filters-button__title">Каталоги</span>
                </button>
            </div>
            <div class="block">
                <ngx-extended-pdf-viewer
                    *ngIf="magazine$ | async as magazine"
                    [src]="magazine.catalogFileUrl"
                    [showDownloadButton]="false"
                    [useBrowserLocale]="true"
                ></ngx-extended-pdf-viewer>
            </div>
        </div>
    </div>
</div>
