@import '../../../../variables';

:host {
    background: $gradient-background-color;
}

.map {
    width: 100%;
    height: 400px;
}

h3,
h4,
p {
    margin: 0;
    padding: 0;
}

.contact-page {
    padding-bottom: 60px;

    h3 {
        font-weight: 500;
        font-size: 28px;
        text-align: left;
        color: #383838;
    }

    h4 {
        font-size: 18px;
        font-weight: 500;
        text-transform: capitalize;
        line-height: 1;
    }

    .content {
        flex-direction: row;
        box-sizing: border-box;
        display: flex;
        place-content: flex-start;
        align-items: flex-start;
        margin-top: 20px;
        margin-bottom: 0;

        @media screen and (max-width: 992px) {
            flex-direction: column;

            .left-info-panel,
            .contact-form {
                max-width: 100%;
            }
        }

        .title {
            margin-bottom: 20px;
        }

        .left-info-panel {
            flex: 1 1 100%;
            box-sizing: border-box;
            max-width: 100%;

            @media screen and (min-width: 992px) {
                max-width: 60%;
                padding-right: 100px;
            }

            ul {
                list-style-type: none;
                padding: 0;

                li {
                    list-style-type: none;

                    i {
                        float: left;
                        font-size: 33px;
                        line-height: 74px;
                        margin-right: 7px;
                    }

                    h4 {
                        display: inline-block;
                        font-size: 20px;
                    }

                    p {
                        color: #777;
                    }
                }
            }

            ul > :not(:last-child) {
                border-bottom: 1px solid #e5e5e5;
                padding-bottom: 20px;
            }
        }

        .contact-form {
            flex: 1 1 100%;
            box-sizing: border-box;
            max-width: 60%;

            @media screen and (max-width: 992px) {
                max-width: 100%;
            }

            form {
                flex-flow: row wrap;
                box-sizing: border-box;
                display: flex;

                .item {
                    flex: 1 1 100%;
                    box-sizing: border-box;
                    max-width: 100%;
                    margin-bottom: 15px;

                    mat-form-field {
                        width: 100%;
                    }

                    ::ng-deep .mat-form-field {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
