<page-header [breadcrumbs]="breadcrumbs"></page-header>
<div class="contact-page">
    <div class="container">
        <mat-card>
            <div class="map">
                <iframe
                    *ngIf="yandexRatingId"
                    loading="lazy"
                    src="{{
                        'https://yandex.ru/map-widget/v1/?z=12&ol=biz&oid=' + yandexRatingId
                            | noSanitize: 'resourceUrl'
                    }}"
                    width="100%"
                    height="400"
                    frameborder="0"
                ></iframe>
            </div>

            <div class="content">
                <div class="left-info-panel">
                    <ul itemscope="" itemtype="http://schema.org/Organization">
                        <li *ngFor="let contact of contacts">
                            <i *ngIf="contact.icon" class="fas" [ngClass]="contact.icon"></i>
                            <br />
                            <h4 [innerHTML]="contact.title | noSanitize"></h4>
                            <br />
                            <ng-container *ngFor="let desc of contact.descriptions">
                                <span [innerHTML]="desc | noSanitize"></span>
                            </ng-container>
                        </li>
                    </ul>
                </div>
                <div class="contact-form">
                    <div class="title">
                        <h3>Свяжитесь с нами</h3>
                    </div>

                    <form [formGroup]="formGroup">
                        <div class="item">
                            <mat-form-field class="product">
                                <mat-label>Ваше имя / Компания</mat-label>
                                <input
                                    matInput
                                    formControlName="name"
                                    [placeholder]="'Ваше имя / Компания'"
                                />
                            </mat-form-field>
                        </div>
                        <div class="item">
                            <mat-form-field class="product">
                                <mat-label>Введите адрес электронной почты</mat-label>
                                <input
                                    matInput
                                    formControlName="email"
                                    [placeholder]="'Введите адрес электронной почты'"
                                />
                            </mat-form-field>
                        </div>
                        <div class="item">
                            <mat-form-field class="product">
                                <mat-label>Коментарий</mat-label>
                                <input
                                    matInput
                                    formControlName="subject"
                                    [placeholder]="'Коментарий'"
                                />
                            </mat-form-field>
                        </div>
                        <div class="item">
                            <mat-form-field>
                                <mat-label>Суть вашего вопроса</mat-label>
                                <textarea rows="4" matInput formControlName="content"></textarea>
                            </mat-form-field>
                        </div>
                        <div class="item">
                            <button
                                mat-raised-button
                                class="email-button"
                                [disabled]="formGroup.invalid"
                                type="button"
                                color="primary"
                                tabindex="-1"
                                (click)="onSend()"
                            >
                                Отправить
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </mat-card>
    </div>
</div>
