<div class="search__body">
    <form [formGroup]="form" class="search__form">
        <select
            *ngIf="location === 'header'"
            class="search__categories"
            aria-label="Category"
            formControlName="category"
            (focus)="closeSuggestion()"
        >
            <option value="all">Все категории</option>
            <!-- <option
                *ngFor="let category of categories"
                [value]="category.slug"
                [innerHTML]="getCategoryName(category)"
            ></option> -->
        </select>
        <input
            class="search__input"
            name="search"
            placeholder="Поиск более 10.000 товаров"
            aria-label="Поиск по сайту"
            type="text"
            autocomplete="off"
            formControlName="query"
            (keydown.escape)="escape.next()"
            (keyup.enter)="onOpenCatalog()"
            (focus)="openSuggestion()"
            #input
        />
        <button
            (click)="onOpenCatalog()"
            class="search__button search__button--type--submit"
            type="submit"
        >
            <app-icon name="search-20" size="20"></app-icon>
        </button>
        <button
            *ngIf="location === 'mobile-header'"
            class="search__button search__button--type--close"
            type="button"
            (click)="onCloseSearch()"
        >
            <app-icon name="cross-20" size="20"></app-icon>
        </button>
        <div class="search__border"></div>
    </form>

    <div class="search__suggestions suggestions suggestions--location--{{ location }}">
        <ul class="suggestions__list">
            <li
                *ngIf="form.controls['query'].value"
                (click)="onOpenCatalog()"
                class="suggestions__item"
            >
                {{ form.controls['query'].value }} - <strong> Поиск в каталоге</strong>
            </li>
            <li *ngFor="let product of searchOptions$ | async" class="suggestions__item">
                <div class="suggestions__item-image product-image">
                    <div class="product-image__body">
                        <img class="product-image__img" [src]="product.image" alt="" />
                    </div>
                </div>

                <div class="suggestions__item-info">
                    <a
                        class="suggestions__item-name"
                        [routerLink]="'/catalog/product/' + product.id"
                        (click)="closeSuggestion()"
                    >
                        {{ product.name }}
                    </a>
                    <div class="suggestions__item-meta">SKU: {{ product.id }}</div>
                </div>
                <div class="suggestions__item-price">
                    {{ product.price | currency: 'RUB':'symbol-narrow' }}
                </div>

                <div *ngIf="location === 'header'" class="suggestions__item-actions">
                    <button
                        type="button"
                        title="Купить"
                        class="btn btn-primary btn-sm btn-svg-icon"
                        [class.btn-loading]="(orders$ | async)?.includes(product)"
                        (click)="addToCart(product)"
                    >
                        <app-icon
                            [name]="product.price ? 'cart-16' : 'send-16'"
                            size="16"
                        ></app-icon>
                    </button>
                </div>
            </li>
        </ul>
    </div>
</div>
