@import '../../../variables';
@import '../../../functions';
@import '../../../svg';
@import '../../../mixins/hacks';
@import '../../../product-image';

$local-suggestion-transition: 0.2s;
$local-height: 50px;
$local-width: 340px;

@mixin local-input-focus-state() {
    @if ($header-type == white) {
        .search__input:focus {
            @content;
        }
    } @else {
        .search__input:focus,
        &.search--has-suggestions.search--suggestions-open .search__input {
            @content;
        }
    }
}

:host.search--location--header {
    .search__body {
        position: relative;
        z-index: 2;
    }
    .search__form {
        height: $header-search-height;
        display: flex;
    }
    .search__border {
        position: absolute;
        pointer-events: none;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: $header-search-border-radius;
        transition: box-shadow 0.15s, background 0.15s;
    }
    .search__categories {
        margin: 2px;
        padding: 0 14px;
        appearance: none;
        border: none;
        background-color: transparent;
        color: $header-search-input-default-font-color;
        font-size: 14px;
        transition: background-color 0.2s;
        max-width: 30%;
        cursor: pointer;
        border-radius: 0;
        background-image: url(svg-select-arrow($header-search-input-default-arrows-color));
        background-repeat: no-repeat;
        background-size: 5px 10px;
        border-right: 2px solid $header-search-input-default-border-color;
        padding-right: 31px;
        margin-right: 0;
        background-position: center right 13px;

        &:hover {
            background-color: #f5f5f5;
        }
        &:focus {
            outline: none;
        }
    }
    .search__input {
        border: none;
        padding: 0 17px;
        background: transparent;
        width: 1px;
        flex-grow: 1;
        font-size: 15px;
        transition: color 0.15s;
        color: $header-search-input-default-font-color;

        &::placeholder {
            color: $header-search-input-default-placeholder;
        }
        & ~ .search__border {
            background: $header-search-input-default-bg;
            box-shadow: $header-search-input-default-shadow;
        }
    }
    .search__input:hover {
        color: $header-search-input-hover-font-color;

        &::placeholder {
            color: $header-search-input-hover-placeholder;
        }
        & ~ .search__border {
            background: $header-search-input-hover-bg;
            box-shadow: $header-search-input-hover-shadow;
        }
        & ~ .search__button {
            fill: $header-search-input-hover-icon-color;

            &:hover {
                fill: $header-search-input-hover-icon-hover-color;
            }
        }
    }
    @include local-input-focus-state {
        outline: none;
        color: $header-search-input-focus-font-color;

        &::placeholder {
            color: $header-search-input-focus-placeholder;
        }
        & ~ .search__border {
            background: $header-search-input-focus-bg;
            box-shadow: $header-search-input-focus-shadow;
        }
        & ~ .search__button {
            fill: $header-search-input-focus-icon-color;

            &:hover {
                fill: $header-search-input-focus-icon-hover-color;
            }
        }
    }
    .search__button {
        border: none;
        padding: 0;
        background: transparent;
        flex-grow: 0;
        width: $header-search-height;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        fill: $header-search-input-default-icon-color;
        transition: fill 0.15s;

        &:hover,
        &:focus {
            outline: none;
            fill: $header-search-input-default-icon-hover-color;
        }
    }

    @if ($header-type == white) {
        .search__suggestions {
            $local-expand: 12px;
            $local-padding-top: 6px;
            $local-padding-bottom: 10px;

            z-index: -1;
            position: absolute;
            box-shadow: $header-search-suggestions-shadow;
            background: $header-search-suggestions-bg;
            left: -$local-expand;
            top: -$local-expand;
            width: calc(100% + #{$local-expand * 2});
            padding-top: $header-search-height + $local-expand + $local-padding-top;
            padding-bottom: $local-padding-bottom;
            border-radius: 2px;
            visibility: hidden;
            opacity: 0;
            pointer-events: none;
            transition: opacity $local-suggestion-transition,
                visibility 0s $local-suggestion-transition;
        }
        &.search--has-suggestions.search--suggestions-open {
            .search__suggestions {
                transition-delay: 0s, 0s;
                opacity: 1;
                visibility: visible;
                pointer-events: auto;
            }
        }
    } @else {
        display: block;
        height: $header-search-height;

        .search__border {
            z-index: -1;
        }
        .search__body {
            display: flex;
            flex-direction: column;
        }
        .search__categories {
            margin: 0;
            border-top-left-radius: $header-search-border-radius;
            border-end-start-radius: $header-search-border-radius;
            border-bottom-left-radius: 1px solid $header-search-input-default-border-color;

            &:hover {
                background-color: rgba(#000, 0.05);
            }
        }
        .search__suggestions {
            $local-padding-top: 6px;
            $local-padding-bottom: 10px;

            left: 0;
            top: 0;
            width: calc(100%);
            border-top: 1px solid $header-search-suggestions-divider-color;
            padding-top: $local-padding-top;
            padding-bottom: $local-padding-bottom;
            display: none;
        }
        &.search--has-suggestions.search--suggestions-open {
            .search__suggestions {
                display: block;
            }
        }
    }
}

:host.search--location--indicator {
    .search__body {
        color: $indicator-search-font-color;
        background: $indicator-search-bg;
        box-shadow: $indicator-search-shadow;
        width: $local-width;
    }
    .search__form {
        display: flex;
        height: $local-height;
    }
    .search__suggestions {
        border-top: 1px solid $indicator-search-suggestions-divider-color;
        padding: 6px 0;
        display: none;
    }
    .search__input,
    .search__button {
        border: none;
        padding: 0;
        background: transparent;

        &:focus {
            outline: none;
        }
    }
    .search__input {
        padding: 0;
        flex-grow: 1;
        flex-basis: 0;
        width: 0;
        padding-left: 18px;
    }
    .search__button {
        flex-shrink: 0;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: $local-height + 2px;
        fill: $indicator-search-button-default-color;
        transition: fill 0.2s;
    }
    .search__button:hover {
        fill: $indicator-search-button-hover-color;
    }

    &.search--has-suggestions.search--suggestions-open {
        .search__suggestions {
            display: block;
        }
    }
}

:host.search--location--mobile-header {
    .search__suggestions {
        border-top: 1px solid $mobile-header-search-suggestions-divider-color;
        padding: 6px 0;
        display: none;
        overflow-y: auto;
        overscroll-behavior-y: contain;
        -webkit-overflow-scrolling: touch;
        overflow-scrolling: touch;
    }
    .mobile-header:not(.mobile-header--stuck) &.search--has-suggestions.search--suggestions-open,
    .mobile-header--stuck.mobile-header--shown &.search--has-suggestions.search--suggestions-open {
        .search__suggestions {
            display: block;
        }
    }

    @media (min-width: breakpoint(md-start)) and (max-width: breakpoint(md-end)) {
        .search__body {
            position: relative;
            z-index: 2;
        }
        .search__form {
            height: 36px;
            display: flex;
        }
        .search__input {
            position: relative;
            z-index: 1;
            flex-basis: 0;
            width: 0;
            flex-grow: 1;
            background: transparent;
            border: none;
            padding: 0 12px;
            margin: 0;
            font-family: inherit;
            font-size: 15px;
            color: $mobile-header-search-input-default-font-color;

            &::placeholder {
                color: $mobile-header-search-input-default-placeholder;
            }

            &:hover {
                color: $mobile-header-search-input-hover-font-color;

                &::placeholder {
                    color: $mobile-header-search-input-hover-placeholder;
                }
            }
        }
        &.search--has-suggestions.search--suggestions-open .search__input,
        .search__input:focus {
            color: $mobile-header-search-input-focus-font-color;
            outline: none;

            &::placeholder {
                color: $mobile-header-search-input-focus-placeholder;
            }
        }
        .search__border {
            pointer-events: none;
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background: $mobile-header-search-input-default-bg;
            box-shadow: $mobile-header-search-input-default-shadow;
            transition: all 0.2s;
            border-radius: 2px;
            z-index: -1;
            left: 0;
        }
        .search__button {
            position: relative;
            z-index: 1;
            background: transparent;
            border: none;
            padding: 0;
            margin: 0;
            width: 36px;
            flex-shrink: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            fill: $mobile-header-search-input-default-icon-color;
            transition: fill 0.2s;

            &:focus {
                outline: none;
            }
            &:focus,
            &:hover {
                fill: $mobile-header-search-input-default-icon-hover-color;
            }
        }
        .search__button--type--close {
            display: none;
        }

        .search__input:hover ~ {
            & .search__button {
                fill: $mobile-header-search-input-hover-icon-color;

                &:focus,
                &:hover {
                    fill: $mobile-header-search-input-hover-icon-hover-color;
                }
            }
            & .search__border {
                background: $mobile-header-search-input-hover-bg;
                box-shadow: $mobile-header-search-input-hover-shadow;
            }
        }
        &.search--has-suggestions.search--suggestions-open,
        .search__input:focus ~ {
            & .search__button {
                fill: $mobile-header-search-input-focus-icon-color;

                &:focus,
                &:hover {
                    fill: $mobile-header-search-input-focus-icon-hover-color;
                }
            }
            & .search__border {
                background: $mobile-header-search-input-focus-bg;
                box-shadow: $mobile-header-search-input-focus-shadow;
            }
        }
    }
    @media (max-width: breakpoint(sm-end)) {
        .search__body {
            width: 100%;
            display: flex;
            flex-direction: column;
        }
        .search__form {
            display: flex;
            height: 54px;
            flex-shrink: 0;
        }
        .search__input {
            flex-grow: 1;
            flex-basis: 0;
            width: 0;
            background: transparent;
            border: none;
            padding: 0;
            padding-left: 15px;

            &:focus {
                outline: none;
            }

            &::placeholder {
                color: $offcanvas-search-placeholder-color;
            }
        }
        .search__button {
            flex-shrink: 0;
            background: transparent;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 54px;
            cursor: pointer;
            fill: $offcanvas-search-button-default-color;

            &:focus {
                outline: none;
            }

            &:focus,
            &:hover {
                fill: $offcanvas-search-button-hover-color;
            }
        }
        .search__button--type--close {
            border-left: 1px solid $offcanvas-search-divider-color;
        }
    }
}

:host {
    .suggestions__list {
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: 15px;
        line-height: 19px;
    }

    .suggestions__item {
        position: relative;
        display: flex;
        padding: 8px 18px;
        cursor: pointer;

        &:before {
            z-index: 1;
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
        }
    }

    .suggestions__item-image {
        flex-shrink: 0;
        width: 44px;
        margin: -2px 0;
        margin-right: 12px;
    }

    .suggestions__item-info {
        flex-grow: 1;
        padding: 3px 0 2px;
    }

    .suggestions__item-name {
        &,
        &:hover {
            color: inherit;
        }

        &:before {
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }
    }

    .suggestions__item-meta {
        margin-top: 1px;
        font-size: 13px;
        line-height: 15px;
    }

    .suggestions__item-price {
        white-space: nowrap;
        flex-shrink: 0;
        padding: 3px 0 2px;
        font-weight: $font-weight-bold;
        font-size: 14px;
        margin-left: 12px;
    }

    .suggestions__item-actions {
        align-self: center;
        flex-shrink: 0;
        position: relative;
        z-index: 2;
        margin-left: 14px;
    }

    .suggestions--location--header {
        color: $header-search-suggestions-font-color;

        .suggestions__item:hover:before {
            background: $header-search-suggestions-item-hover-bg;
        }
        .suggestions__item-meta {
            color: $header-search-suggestions-muted-font-color;
        }
    }
    .suggestions--location--indicator {
        color: $indicator-search-suggestions-font-color;

        .suggestions__item:hover:before {
            background: $indicator-search-suggestions-item-hover-bg;
        }
        .suggestions__item-meta {
            color: $indicator-search-suggestions-muted-font-color;
        }
    }
    .suggestions--location--mobile-header {
        color: $mobile-header-search-suggestions-font-color;

        .suggestions__item:hover:before {
            background: $mobile-header-search-suggestions-item-hover-bg;
        }
        .suggestions__item-meta {
            color: $mobile-header-search-suggestions-muted-font-color;
        }
    }
}
