@import '../theme';

$primary: map-get($theme, primary);

:host ::ng-deep {
    router-outlet + * {
        display: flex;
        flex-direction: column;
        flex: 1;
        width: 100%;
        height: 100%;
        overflow: auto;
        position: relative;
    }

    .mat-drawer-container {
        width: 100%;
    }

    .mat-drawer {
        width: 210px;
        height: 100%;
        overflow: hidden;
    }

    .mat-drawer-content {
        display: flex;
        flex-direction: column;
        flex: 1;
        transition-duration: 0.4s;
        transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    }

    .mat-tab-body-wrapper {
        height: 100%;
    }
}

.layout-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    .sidenav-container {
        flex: 1;
        background: mat-color($primary, darker);
        .sidenav {
            padding: 12px;
            width: 250px;
            background: mat-color($primary, 50);
        }
        .main-container {
            padding: 16px;
            height: 100%;
            overflow: hidden;
        }
    }
}
