<div class="file-content">
    <div class="file-image">
        <div class="image-wrapper" #wrapper>
            <a [routerLink]="link" [queryParams]="queryParams" [target]="target">
                <img
                    itemprop="image"
                    [attr.content]="image"
                    draggable=" false"
                    [lazyLoad]="image"
                    [alt]="name"
                />
            </a>
        </div>
    </div>
</div>
<ng-content></ng-content>
