:host {
    display: flex;
    position: relative;
    overflow: hidden;
}

.file-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.file-image {
    flex: 1;
    overflow: hidden;
    position: relative;
}

.image-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    a {
        max-width: 100%;
        max-height: 100%;

        ::ng-deep > * {
            max-width: 100%;
            max-height: 100%;
        }
    }
}
