<form name="brandsGroup" *ngIf="isHasItems">
    <div class="pad-md">
        <ng-container
            *ngFor="let formGroup of formArray.controls; let i = index; trackBy: trackByFn"
        >
            <card-item
                [nameControl]="formGroup.get('name')"
                [imageControl]="formGroup.get('image')"
                [label]="label"
                [title]="title"
                [apiPath]="apiPath"
                [formats]="formats"
                [placeholder]="placeholder"
            >
                <button mat-raised-button color="accent" class="remove" (click)="onRemoveItem(i)">
                    Удалить
                </button>
            </card-item>
        </ng-container>
    </div>
</form>
