<div class="toolbar">
    <div class="actions">
        <button mat-button (click)="onCancel()">
            <mat-icon>cancel</mat-icon>
            <span>Отменить</span>
        </button>
        <div>
            <button mat-button class="create-button" type="button" (click)="onCreateCatalog()">
                <mat-icon aria-label="new contact">add_circle_outline</mat-icon>
                Добавить элемент
            </button>
            <button
                mat-raised-button
                type="submit"
                class="mat-rounded-button"
                color="accent"
                [disabled]="!catalogsArray.valid || catalogsArray.pristine"
                (click)="onSave()"
            >
                <mat-icon>save</mat-icon>
                Сохранить
            </button>
        </div>
    </div>
</div>

<card-items
    [formArray]="catalogsArray"
    [isHasItems]="!!catalogs"
    [title]="'документ'"
    [label]="'Каталог'"
    [placeholder]="'Каталог'"
    [formats]="formats"
    (removeItem)="onRemoveCatalog($event)"
>
</card-items>
