@import '../../../../theme';

$foreground: map-get($theme, foreground);

:host {
    flex-direction: column;
    background-color: #fff;

    ::ng-deep .mat-list .mat-list-item .mat-list-item-content {
        padding: 0;
    }

    .toolbar {
        background-color: #fafafa;
        padding: 10px;
        justify-content: space-between;
        align-items: center;
        display: flex;
        position: sticky;
        top: 0;
        left: 0;
        z-index: 2;

        .actions {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }

        .name {
            width: 50%;
        }

        ::ng-deep .mat-form-field {
            .mat-form-field-wrapper {
                padding-bottom: 0;
            }
        }
    }
}
