<ng-container *ngIf="lastViewProducts$ | async as lastViewProducts">
    <div *ngIf="lastViewProducts.length" class="widget-products widget">
        <h4 class="widget__title">{{ header }}</h4>
        <div class="widget-products__list">
            <div *ngFor="let product of lastViewProducts" class="widget-products__item">
                <div class="widget-products__image">
                    <div *ngIf="product.image" class="product-image">
                        <a
                            [routerLink]="'/catalog/product/' + product.id"
                            class="product-image__body"
                        >
                            <img class="product-image__img" [src]="product.image" alt="" />
                        </a>
                    </div>
                </div>
                <div class="widget-products__info">
                    <div class="widget-products__name">
                        <a [routerLink]="'/catalog/product/' + product.id">{{ product.name }}</a>
                    </div>
                    <div class="widget-products__prices">
                        <ng-container *ngIf="product.discount">
                            <span class="widget-products__new-price">{{
                                product.price | currency: 'RUB':'symbol-narrow'
                            }}</span
                            >{{ ' ' }}
                            <span class="widget-products__old-price">{{
                                product.price
                                    | precentageDeduction: product.discount
                                    | currency: 'RUB':'symbol-narrow'
                            }}</span>
                        </ng-container>
                        <ng-container *ngIf="!product.discount">
                            {{ product.price | currency: 'RUB':'symbol-narrow' }}
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>
