/*
// .menu
*/
@import '../../../../variables';
@import '../../../../mixins/hacks';

@keyframes menu__submenu--open {
    from {
        opacity: 0;
        transform: rotateY(45deg);
    }
    to {
        opacity: 1;
        transform: rotateY(0deg);
    }
}

.menu {
    color: $menu-font-color;
    background: $menu-bg;
    box-shadow: $menu-shadow;
    display: flex;
    width: 190px;
    height: 100%;
    min-width: 190px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    font-weight: $font-weight-medium;

    // without it IE renders a blurred menu
    @include only-ie() {
        box-shadow: 0 0 0 1px rgba(#000, 0.15);
    }
}
.menu__list {
    list-style: none;
    padding: 10px 0;
    overflow-y: auto;
    overscroll-behavior-y: contain;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    flex-grow: 1;
    margin: 0;

    app-icon.menu__item-arrow ::ng-deep svg {
        position: absolute;
        top: calc(50% - 5px);
        fill: $menu-item-arrow-color;
        right: 12px;
        transform: scaleX(1);
    }
}
.menu__item {
    padding-top: 10px;
    margin-top: -10px;
    pointer-events: none;
}
.menu__item-link {
    position: relative;
    background: transparent;
    border: none;
    font-weight: inherit;
    display: block;
    padding-top: 8px;
    padding-bottom: 6px;
    color: inherit;
    pointer-events: auto;
    text-align: left;
    padding-right: 24px;
    padding-left: 16px;

    &:hover {
        color: inherit;
    }
    &:focus {
        outline: none;
    }
}
.menu__item-icon {
    position: absolute;
    top: 3px;
    left: 15px;
}

.menu__item--hover {
    .menu__item-link {
        background: $menu-item-hover-bg;
    }
}

// submenu
.menu__submenu {
    position: absolute;
    display: none;
    z-index: 1;
    left: 100%;
    transform-origin: left;
}
.menu__submenu--reverse {
    left: auto;
    right: 100%;
    transform-origin: right;
}
.menu__submenu--open {
    display: flex;
    height: 100%;
    animation-name: menu__submenu--open;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

.menu--with-icons {
    .menu__item-link {
        padding-left: 16px + 24px + 10px;
    }
}

.menu--layout--topbar {
    width: 150px;
    min-width: 150px;
    box-shadow: $menu-topbar-shadow;

    // without it IE renders a blurred menu
    @include only-ie() {
        box-shadow: 0 0 0 1px rgba(#000, 0.15);
    }

    .menu__list {
        padding: 6px 0;
    }
    .menu__item-link {
        display: block;
        padding-top: 8px;
        padding-bottom: 6px;
        color: inherit;
        padding-right: 21px;
        padding-left: 13px;
    }

    &.menu--with-icons {
        .menu__item-icon {
            position: absolute;
            top: 3px;
            left: 12px;
        }
        .menu__item-link {
            padding-left: 13px + 24px + 8px;
        }
    }
}
