@import '../../../../theme';

$foreground: map-get($theme, foreground);

:host {
    background-color: #fff;

    ::ng-deep .mat-list .mat-list-item .mat-list-item-content {
        padding: 0;
    }

    .toolbar {
        background-color: #fafafa;
        position: sticky;
        top: 0;
        left: 0;
        z-index: 7;

        .container {
            padding: 10px;
            justify-content: space-between;
            align-items: center;
            display: flex;
            box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12);

            ::ng-deep {
                .mat-form-field .mat-form-field-wrapper {
                    padding-bottom: 0;
                }

                upload .columns {
                    margin: 0;

                    .drop-area {
                        margin: 0;
                        p {
                            line-height: 14px;
                        }
                    }
                }
            }
        }

        .name {
            width: 50%;
        }
    }

    .form {
        overflow: hidden;

        ::ng-deep angular-editor {
            height: 100%;
            display: flex;

            .angular-editor {
                overflow: auto;

                angular-editor-toolbar {
                    display: flex;
                    position: sticky;
                    top: 0;
                    left: 0;
                    z-index: 2;
                }
            }
        }
    }
}
