<form *ngIf="textGroup" [formGroup]="textGroup">
    <div class="toolbar">
        <div class="container">
            <mat-form-field appearance="outline" class="name">
                <mat-label>Публикация</mat-label>
                <input matInput formControlName="name" [placeholder]="'Публикация'" />
                <mat-error
                    *ngIf="textGroup.get('name')?.hasError('required')"
                    [innerHTML]="'Обязательное поле для заполнения'"
                >
                </mat-error>
            </mat-form-field>
            <upload [control]="textGroup.get('imageUrl')" height="100px" width="185px"></upload>
            <div *ngIf="{ isMobile: isMobile$ | async } as data" class="actions">
                <mat-checkbox
                    [checked]="textGroup.get('system')?.value"
                    formControlName="system"
                    class="check-box"
                    >Системная</mat-checkbox
                >
                <button
                    mat-raised-button
                    type="submit"
                    class="mat-rounded-button"
                    color="accent"
                    [disabled]="!textGroup.valid || textGroup.pristine"
                    (click)="onSave()"
                >
                    <mat-icon>save</mat-icon>
                    <span *ngIf="!data.isMobile">Сохранить</span>
                </button>
                <button mat-button (click)="onCancel()">
                    <mat-icon>cancel</mat-icon>
                    <span *ngIf="!data.isMobile">Отменить</span>
                </button>
                <button mat-button (click)="onDelete()">
                    <mat-icon>delete</mat-icon>
                    <span *ngIf="!data.isMobile">Удалить</span>
                </button>
            </div>
        </div>
    </div>

    <div *ngIf="textGroup" class="form">
        <angular-editor formControlName="content" [config]="editorConfig"></angular-editor>
    </div>
</form>
