@import './variables';

.shop-layout {
    display: flex;
}

@media (min-width: breakpoint(lg-start)) {
    .shop-layout__sidebar {
        width: 255px;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .shop-layout__content {
        width: calc(100% - 285px);
    }

    .shop-layout--sidebar--start {
        .shop-layout__sidebar {
            margin-right: 30px;
        }
    }

    .shop-layout--sidebar--end {
        .shop-layout__sidebar {
            margin-left: 30px;
        }
    }
}

@media (max-width: breakpoint(md-end)) {
    .shop-layout {
        flex-wrap: wrap;
    }

    .shop-layout__content,
    .shop-layout__sidebar {
        width: 100%;
    }

    .shop-layout__sidebar {
        order: 1;
    }

    .shop-layout--sidebar--start,
    .shop-layout--sidebar--end {
        .shop-layout__sidebar {
            margin-left: 0;
            margin-right: 0;
        }
    }
}
