@import '@angular/cdk/overlay-prebuilt.css';
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import './theme-init';
@import 'buttons';
@import 'variables';
@import 'functions';
@import 'ngx-toastr';
@import 'svg';
@import 'scss/animations';

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-family: $body-font-family;
    font-size: $body-font-size;
    font-weight: $body-font-weight;
    line-height: $body-line-height;
    background: $body-bg;
    color: $body-font-color;
    backface-visibility: hidden;
    overflow-y: scroll;
    text-align: left;
    direction: ltr;
}

.ellipsis {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.huge-dialog {
    max-height: 100%;
    width: 90%;
    height: 90%;

    @media (max-width: 992px) {
        width: 100%;
        height: 100%;
        max-width: 100vw !important;
    }

    .mat-dialog-container {
        max-width: initial;
        overflow: hidden;
        padding: 0;
    }
}

.cdk-overlay-container {
    z-index: 19000000000;
}

.request-price {
    height: 600px;
    width: 688px;
    max-width: 100%;
}

.rotated {
    transform: rotate(180deg);
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
}

svg {
    display: block;
}

a {
    color: $link-color;
    text-decoration: none;
}

a:hover {
    color: $link-hover-color;
}

*,
:after,
:before {
    box-sizing: border-box;
}

ol,
ul,
dl {
    margin-top: 0;
    margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
    margin-bottom: 0;
}

h1 {
    @if ($h1-font-family !=null) {
        font-family: $h1-font-family;
    }

    @if ($h1-font-size !=null) {
        font-size: $h1-font-size;
    }

    @if ($h1-font-weight !=null) {
        font-weight: $h1-font-weight;
    }

    @if ($h1-font-style !=null) {
        font-style: $h1-font-style;
    }
}

h2 {
    @if ($h2-font-family !=null) {
        font-family: $h2-font-family;
    }

    @if ($h2-font-size !=null) {
        font-size: $h2-font-size;
    }

    @if ($h2-font-weight !=null) {
        font-weight: $h2-font-weight;
    }

    @if ($h2-font-style !=null) {
        font-style: $h2-font-style;
    }
}

h3 {
    @if ($h3-font-family !=null) {
        font-family: $h3-font-family;
    }

    @if ($h3-font-size !=null) {
        font-size: $h3-font-size;
    }

    @if ($h3-font-weight !=null) {
        font-weight: $h3-font-weight;
    }

    @if ($h3-font-style !=null) {
        font-style: $h3-font-style;
    }
}

h4 {
    @if ($h4-font-family !=null) {
        font-family: $h4-font-family;
    }

    @if ($h4-font-size !=null) {
        font-size: $h4-font-size;
    }

    @if ($h4-font-weight !=null) {
        font-weight: $h4-font-weight;
    }

    @if ($h4-font-style !=null) {
        font-style: $h4-font-style;
    }
}

h5 {
    @if ($h5-font-family !=null) {
        font-family: $h5-font-family;
    }

    @if ($h5-font-size !=null) {
        font-size: $h5-font-size;
    }

    @if ($h5-font-weight !=null) {
        font-weight: $h5-font-weight;
    }

    @if ($h5-font-style !=null) {
        font-style: $h5-font-style;
    }
}

h6 {
    @if ($h6-font-family !=null) {
        font-family: $h6-font-family;
    }

    @if ($h6-font-size !=null) {
        font-size: $h6-font-size;
    }

    @if ($h6-font-weight !=null) {
        font-weight: $h6-font-weight;
    }

    @if ($h6-font-style !=null) {
        font-style: $h6-font-style;
    }
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;

    @media screen and (min-width: breakpoint(sm-start)) {
        max-width: 540px;
    }

    @media screen and (min-width: breakpoint(md-start)) {
        max-width: 720px;
    }

    @media screen and (min-width: breakpoint(lg-start)) {
        max-width: 960px;
    }

    @media screen and (min-width: breakpoint(xl-start)) {
        max-width: 1140px;
    }
}

.widget__title {
    margin-bottom: 20px;
    font-size: 20px;
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-check {
    padding-left: 1.5rem;
}

.form-check-input {
    position: absolute;
    margin-top: 0.1875rem;
    margin-left: -1.5rem;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}

.form-row > .col,
.form-row > [class*='col-'] {
    padding-right: 5px;
    padding-left: 5px;
}

@media (max-width: breakpoint(sm-end)) {
    .form-group {
        margin-bottom: 1.125rem;
    }
}

.form-control {
    border-radius: 2px;
    line-height: 1.25;
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control-sm {
    height: calc(1.875rem + 2px);
    line-height: 1.25;
    padding: 0.3125rem 0.5rem;
}

.form-control-lg {
    height: calc(2.75rem + 2px);
    line-height: 1.25;
}

.form-control:valid,
.form-control.is-valid,
.form-control:invalid,
.form-control.is-invalid {
    background-image: none;
}

// select
@mixin local-select-define-size($size: '') {
    @if ($size != '') {
        $size: '-' + $size;
    }

    select.form-control#{$size},
    select.form-control#{$size}:valid,
    select.form-control#{$size}.is-valid,
    select.form-control#{$size}:invalid,
    select.form-control#{$size}.is-invalid {
        @content;
    }
}

select.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;

    &::-ms-expand {
        display: none;
    }
}

@include local-select-define-size() {
    background-image: url(svg-select-arrow($form-control-select-arrow-color));
    background-repeat: no-repeat;
    background-size: 5px 10px;
    background-position: right 0.75rem center;
    padding-right: calc(0.75rem * 2 + 5px);
}

@include local-select-define-size('sm') {
    background-position: right 0.5rem center;
    padding-right: calc(0.5rem * 2 + 5px);
}

@include local-select-define-size('lg') {
    background-position: right 1rem center;
    padding-right: calc(1rem * 2 + 5px);
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.5rem;
    line-height: 1.2;
    margin-top: 0;
}

.d-none {
    display: none;
}

@media (min-width: breakpoint(lg-start)) {
    .d-lg-block {
        display: block;
    }

    .d-lg-none {
        display: none;
    }

    .col-lg-8 {
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
}

.block {
    margin-bottom: $block-margin-bottom;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.block--highlighted {
    padding: 50px 0 60px;
}

@media (max-width: breakpoint(md-end)) {
    .block {
        margin-bottom: $block-margin-bottom-md;
    }
}

.text-success {
    color: #28a745;
}

.multi_button.mb_right.mb_bottom.mb_small_size.mobile.envy-not-scalling.has-copyright-link {
    margin-bottom: 4rem;
}
