<div class="toolbar">
    <div class="actions">
        <button mat-button (click)="onCancel()">
            <mat-icon>cancel</mat-icon>
            <span>Отменить</span>
        </button>
        <button
            mat-raised-button
            type="submit"
            class="mat-rounded-button"
            color="accent"
            [disabled]="!countriesFormArray.valid || countriesFormArray.pristine"
            (click)="onSave()"
        >
            <mat-icon>save</mat-icon>
            Сохранить
        </button>
    </div>
</div>

<div class="countries" *ngIf="countries">
    <div class="pad-md">
        <ng-container *ngFor="let country of countriesFormArray.controls; let i = index">
            <form [formGroup]="$any(country)" class="item">
                <mat-form-field appearance="outline" class="sub-category">
                    <mat-label>Страна</mat-label>
                    <input matInput formControlName="name" [placeholder]="'Страна'" />
                </mat-form-field>
                <button mat-icon-button class="remove" (click)="onRemoveCountry(i)">
                    <mat-icon>cancel</mat-icon>
                </button>
            </form>
        </ng-container>
        <button mat-button class="create-button" type="button" (click)="onCreateCountry()">
            <mat-icon aria-label="new contact">add_circle_outline</mat-icon>
            Добавить элемент
        </button>
    </div>
</div>
