@import '../../../theme';

$foreground: map-get($theme, foreground);
:host {
    flex-direction: column;
    background-color: #fff;

    ::ng-deep .mat-list .mat-list-item .mat-list-item-content {
        padding: 0;
    }

    .toolbar {
        background-color: #fafafa;
        padding: 10px;
        justify-content: space-between;
        align-items: center;
        display: flex;
        position: sticky;
        top: 0;
        left: 0;
        z-index: 2;

        .actions {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
        }
    }
}

.countries {
    display: flex;
    padding: 20px;

    .pad-md {
        display: flex;
        flex-wrap: wrap;

        .create-button {
            background-color: transparent;
            border: 2px dashed mat-color($foreground, accent-text);
            color: mat-color($foreground, accent-text);
            line-height: 56px;
            height: 60px;
            letter-spacing: 0.1px;
            margin-right: 49px;

            ::ng-deep.mat-button-wrapper {
                font-size: 18px;
                font-weight: 400;
                letter-spacing: 0;
                display: flex;
                align-items: center;

                .mat-icon {
                    height: 100%;
                    width: 35px;
                    font-size: 35px;
                    margin-right: 15px;
                }
            }
        }

        .item {
            display: flex;
            padding-right: 10px;
            min-width: 280px;

            .sub-category {
                width: 100%;
            }

            .remove {
                margin-top: 15px;
            }
        }
    }
}
