<landing-hero></landing-hero>
<main-directions></main-directions>
<landing-categories></landing-categories>
<landing-features></landing-features>
<landing-posts header="Новости" layout="grid-nl"></landing-posts>
<landing-brands></landing-brands>
