@import '../../../../../variables';
@import '../../../../../functions';
@import '../../../../../mixins/card';

:host {
    .block-brands__slider {
        @include card();

        .item {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        ::ng-deep ngu-tile .tile {
            box-shadow: none;
        }
    }

    .block-brands__item {
        padding: 10px 14px;

        img {
            display: block;
            width: 100%;
            max-height: 70px;
        }
    }

    @media (min-width: breakpoint(md-start)) and (max-width: breakpoint(md-end)) {
        .block-brands__item {
            padding: 6px 14px;
        }
    }

    @media (max-width: breakpoint(sm-end)) {
        .block-brands__item {
            padding: 4px 0;
        }
    }
}
