<div class="block block-brands" *ngIf="showCarousel && !!brands?.length">
    <div class="container">
        <block-header [header]="header" [arrows]="true" [carousel]="carousel"> </block-header>

        <div class="block-brands__slider" #container>
            <ngu-carousel
                [inputs]="carouselTile"
                (carouselLoad)="carouselTileLoad()"
                [dataSource]="lazyBrands"
                #carousel
            >
                <ngu-tile NguCarouselItem *nguCarouselDef="let item; let i = index">
                    <div class="block-brands__item">
                        <a routerLink="/catalog" [queryParams]="{ brand: item.id }">
                            <img draggable="false" [lazyLoad]="item.image" [alt]="item.name" />
                        </a>
                    </div>
                </ngu-tile>
            </ngu-carousel>
        </div>
    </div>
</div>
