<div
    class="block block-products-carousel"
    [ngClass]="{
        'block-products-carousel--loading': loading,
        'block-products-carousel--has-items': !!columns.length
    }"
    [attr.data-layout]="layout"
>
    <div [ngClass]="{ container: !withSidebar }" *ngIf="showCarousel && !!columns?.length">
        <block-header
            [header]="header"
            [groups]="groups"
            [arrows]="true"
            [carousel]="carousel"
            (groupChange)="groupChange.emit($event)"
        >
        </block-header>
        <div class="block-products-carousel__slider" #container>
            <div class="block-products-carousel__preloader"></div>

            <ngu-carousel [inputs]="carouselTile" [dataSource]="columns" #carousel>
                <ngu-tile NguCarouselItem *nguCarouselDef="let item; let i = index">
                    <div *ngFor="let product of item" class="block-products-carousel__cell">
                        <flex-card [labelHeight]="25" [product]="product"></flex-card>
                    </div>
                </ngu-tile>
            </ngu-carousel>
        </div>
    </div>
</div>
