<page-header [header]="header" [breadcrumbs]="breadcrumbs"></page-header>
<div class="block">
    <div class="container">
        <div class="row">
            <div class="login">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Вход</h3>
                        <form [formGroup]="userForm" (ngSubmit)="onLogin()">
                            <div class="form-group">
                                <label>Адрес электронной почты</label>
                                <input
                                    type="email"
                                    class="form-control"
                                    formControlName="email"
                                    placeholder="Введите адрес электронной почты"
                                />
                            </div>
                            <div class="form-group">
                                <label>Пароль</label>
                                <input
                                    type="password"
                                    class="form-control"
                                    formControlName="password"
                                    placeholder="Введите Пароль"
                                />
                                <small class="form-text text-muted">
                                    <a href="">Не помню пароль</a>
                                </small>
                            </div>
                            <button type="submit" class="btn btn-primary mt-2 mt-md-3 mt-lg-4">
                                Войти
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
