@import '../../../card';
@import '../../../functions';

:host {
    .login {
        display: flex;
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;

        @media screen and (min-width: breakpoint(md-start)) {
            margin-left: 25%;
            flex: 0 0 50%;
            max-width: 50%;
        }

        .card {
            flex-grow: 1;

            @media screen and (min-width: breakpoint(md-start)) {
                margin-bottom: 0;
            }
        }
    }
}
