<div class="toolbar">
    <form [formGroup]="categoryGroup" class="container">
        <mat-form-field appearance="outline" class="name">
            <mat-label>Категория</mat-label>
            <input matInput formControlName="name" [placeholder]="'Категория'" />
            <mat-error
                *ngIf="categoryGroup.controls['name'].hasError('required')"
                [innerHTML]="'Обязательное поле для заполнения'"
            >
            </mat-error>
        </mat-form-field>
        <div class="actions">
            <button mat-button class="create-button" type="button" (click)="onCreateSubCategory()">
                <mat-icon>add_circle_outline</mat-icon>
                <span *ngIf="!isMobile">Добавить</span>
            </button>
            <button
                mat-raised-button
                type="submit"
                class="mat-rounded-button"
                color="accent"
                [disabled]="!categoryGroup.valid || categoryGroup.pristine"
                (click)="onSave()"
            >
                <mat-icon>save</mat-icon>
                <span *ngIf="!isMobile">Сохранить</span>
            </button>
            <button mat-button (click)="onCancel()">
                <mat-icon>cancel</mat-icon>
                <span *ngIf="!isMobile">Отменить</span>
            </button>
            <button mat-button (click)="onDelete()">
                <mat-icon>delete</mat-icon>
                <span *ngIf="!isMobile">Удалить</span>
            </button>
        </div>
    </form>
    <breadcrumbs
        [breadcrumbs]="breadcrumbs$ | async"
        [parent]="parent$ | async"
        (navigateTo)="onNavigateFromBreadCrumb($event)"
    >
    </breadcrumbs>
</div>

<div class="form" *ngIf="category">
    <upload [control]="categoryGroup.get('image')"></upload>
    <div class="pad-md">
        <card-item
            *ngFor="let subGroup of subCategoryFormArray.controls; let i = index"
            [nameControl]="subGroup.get('name')"
            [imageControl]="subGroup.get('image')"
            [label]="title"
            [title]="title"
            [placeholder]="title"
        >
            <button
                *ngIf="subGroup.get('id')?.value"
                mat-raised-button
                color="primary"
                (click)="onNavigateToSubCategory(subGroup.get('id')?.value)"
            >
                Перейти в подкатегории
            </button>
            <button
                *ngIf="subGroup.get('id')?.value"
                mat-raised-button
                class="remove"
                color="primary"
                (click)="onChangeCategory(subGroup.get('id')?.value)"
            >
                Сменить Категорию
            </button>
            <button
                mat-raised-button
                class="remove"
                color="accent"
                (click)="onRemoveSubCategory(i)"
            >
                Удалить
            </button>
        </card-item>
    </div>
</div>
