:host {
    flex-direction: column;
    background-color: #fff;

    ::ng-deep .mat-list .mat-list-item .mat-list-item-content {
        padding: 0;
    }

    .toolbar {
        background-color: #fafafa;
        position: sticky;
        top: 0;
        left: 0;
        z-index: 7;

        .container {
            padding: 10px;
            justify-content: space-between;
            align-items: center;
            display: flex;
            box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12);

            ::ng-deep .mat-form-field {
                .mat-form-field-wrapper {
                    padding-bottom: 0;
                }
            }
        }

        .name {
            width: 50%;
        }
    }
}

.form {
    padding: 20px;

    .pad-md {
        display: flex;
        flex-wrap: wrap;

        .remove {
            margin-top: 15px;
        }
    }
}