<div class="product-gallery__featured">
    <div class="product-gallery__featured-inset" *ngIf="!!items?.length">
        <button
            *ngIf="productLayout !== 'quickview'"
            class="product-gallery__zoom"
            (click)="openPhotoSwipe(currentItem)"
        >
            <app-icon name="zoom-in" size="24"></app-icon>
        </button>
        <ngu-carousel
            [inputs]="carouselOptions"
            [dataSource]="items"
            (changed)="featuredCarouselTranslated($event)"
            #featuredCarousel
        >
            <!--suppress AngularUndefinedBinding -->
            <ngu-tile NguCarouselItem *nguCarouselDef="let item; let i = index" [id]="item.id">
                <div class="product-image product-image--location--gallery">
                    <a
                        appClick
                        class="product-image__body"
                        target="_blank"
                        [href]="item.image"
                        (click)="onFeaturedImageClick($event, item)"
                    >
                        <!--
                        The data-width and data-height attributes must contain the size of a larger version
                        of the product image.

                        If you do not know the image size, you can remove the data-width and data-height
                        attribute, in which case the width and height will be obtained from the naturalWidth
                        and naturalHeight property of img.product-image__img.
                        -->
                        <img
                            class="product-image__img"
                            [lazyLoad]="item.image"
                            itemprop="image"
                            alt=""
                            #imageElement
                        />
                    </a>
                </div>
            </ngu-tile>
        </ngu-carousel>
    </div>
</div>
<div class="product-gallery__carousel" *ngIf="!!items?.length">
    <ngu-carousel
        [inputs]="thumbnailsCarouselOptions"
        [dataSource]="items"
        (changed)="featuredCarouselTranslated($event)"
        #thumbnailsCarousel
    >
        <!--suppress AngularUndefinedBinding -->
        <ngu-tile NguCarouselItem *nguCarouselDef="let item; let i = index" [id]="item.id">
            <div
                appClick
                class="product-image product-gallery__carousel-item"
                [class.product-gallery__carousel-item--active]="item === currentItem"
                (click)="onThumbnailImageClick(item, i)"
            >
                <div class="product-image__body">
                    <img
                        class="product-image__img product-gallery__carousel-image"
                        [src]="item.image"
                        alt=""
                    />
                </div>
            </div>
        </ngu-tile>
    </ngu-carousel>
</div>
