@import '../../../../variables';
@import '../../../../product-image';

.product-gallery {
    display: flex;
    flex-direction: column;
}
.product-gallery__featured {
    margin: 22px;
}
.product-gallery__featured-inset {
    margin: -22px;
    position: relative;
    box-shadow: $product-gallery-item-default-shadow;
    padding: 2px;
    border-radius: $product-gallery-item-border-radius;

    .product-image {
        padding: 20px;
    }

    ::ng-deep ngu-tile .tile {
        box-shadow: none;
    }
}
.product-gallery__zoom {
    position: absolute;
    cursor: pointer;
    padding: 11px;
    border: none;
    z-index: 2;
    top: 0;
    background: $product-gallery-zoom-button-normal-bg-color;
    fill: $product-gallery-zoom-button-normal-icon-color;
    transition: background 0.2s, fill 0.2s;
    right: 0;
    border-top-right-radius: $product-gallery-item-border-radius + 0.5px;
    border-bottom-left-radius: 2px;
    transform: scaleX(1);
    &:focus {
        outline: none;
    }
    &:hover {
        background: $product-gallery-zoom-button-hover-bg-color;
        fill: $product-gallery-zoom-button-hover-icon-color;
    }
    &:active {
        background: $product-gallery-zoom-button-active-bg-color;
        fill: $product-gallery-zoom-button-active-icon-color;
    }
}
.product-gallery__carousel {
    margin-top: 16px;
}
.product-gallery__carousel-item {
    cursor: pointer;
    display: block;
    box-shadow: $product-gallery-item-default-shadow;
    padding: 12px;
    border-radius: $product-gallery-item-border-radius;
}
.product-gallery__carousel-item--active {
    box-shadow: $product-gallery-item-active-shadow;
}
