@import '../../../theme';

$primary: map-get($theme, primary);

:host {
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;

    .mat-toolbar {
        justify-content: space-between;
    }

    .user-name {
        font-size: 16px;
        padding-left: 5px;
    }
}

.nav-brand {
    text-align: center;
    display: flex;
    align-items: center;
}

.topnav-icon {
    text-decoration: none;
    display: flex;
    color: mat-color($primary, 50);
}

.nav-spacer {
    flex: 1 1 auto;
}

.visible-md {
    display: none;
}

.visible-sm {
    display: none;
}

@media screen and (max-width: 992px) {
    .visible-md {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .visible-sm {
        display: block;
    }

    .nav-brand {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .hidden-sm {
        display: none;
    }
}

.mr10 {
    margin-right: 10px;
}
