<mat-toolbar color="primary" class="fix-nav">
    <div class="nav-brand">
        <button type="button" mat-icon-button class="visible-md" (click)="toggleSidebar()">
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <button type="button" mat-icon-button (click)="onBack()">
            <mat-icon aria-label="Side nav toggle icon">keyboard_backspace</mat-icon>
        </button>
        Admin Menu
    </div>
    <div>
        <button class="hidden-sm" mat-icon-button [matMenuTriggerFor]="profile">
            <mat-icon>account_circle</mat-icon>
        </button>
        <span *ngIf="currentUser$ | async as user" class="user-name">{{ user.email }}</span>
    </div>
</mat-toolbar>

<mat-menu #profile="matMenu" [overlapTrigger]="false">
    <button mat-menu-item>
        <mat-icon>person</mat-icon>
        <span>Profile</span>
    </button>
    <button mat-menu-item>
        <mat-icon>inbox</mat-icon>
        <span>Inbox</span>
    </button>
    <button mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
    </button>
</mat-menu>
