:host {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    border: 1px solid rgba(rgba(#2b3850, 0.87), 0.54);
    padding-right: 10px;
    min-width: 280px;

    ::ng-deep .mat-form-field {
        .mat-form-field-wrapper {
            padding-bottom: 0;
        }
    }

    .sub-category {
        width: 100%;
    }

    .actions {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
    }
}
