<upload [formats]="formats" [title]="title" [apiPath]="apiPath" [control]="imageControl"> </upload>
<mat-form-field appearance="outline" class="sub-category">
    <mat-label>{{ label }}</mat-label>
    <input matInput [formControl]="name" [placeholder]="placeholder" />
</mat-form-field>
<section class="actions">
    <ng-content></ng-content>
</section>
