@import '../../../../variables';

:host {
    display: block;
    width: 100%;
    position: relative;
}

.input-number__input {
    -moz-appearance: textfield;
    display: block;
    width: 100%;
    min-width: 88px;
    padding: 0 24px 1px;
    text-align: center;

    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }
}

.input-number__sub,
.input-number__add {
    position: absolute;
    height: 100%;
    width: 24px;
    top: 0;
    padding: 1px;
    cursor: pointer;
    user-select: none;
    opacity: 0.3;
    transition: opacity 0.18s;

    &:before,
    &:after {
        display: block;
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        background: currentColor;
    }

    &:before {
        width: 8px;
        height: 2px;
    }

    &:hover {
        opacity: 1;
    }

    &:active {
        opacity: 1;
        background-clip: padding-box;
        background-color: rgba(#000, 0.05);
    }
}

.input-number__sub {
    left: 1px;
}

.input-number__add {
    right: 1px;

    &:after {
        width: 2px;
        height: 8px;
    }
}
