<div>
    <image-wrapper
        class="image-wrap"
        [wrapperAttribute]="imageDerectives"
        [image]="images[mainSlideIndex]"
        [width]="width"
        [height]="height"
    >
        <a class="slide" (click)="openModal(); currentSlide(mainSlideIndex + 1)">
            <app-icon name="zoom-in" size="24"></app-icon>
        </a>
    </image-wrapper>
</div>

<div class="image-row" *ngIf="images.length > 1">
    <mat-card class="image-column" *ngFor="let image of images; let i = index">
        <img mat-card-image src="{{ image }}" (click)="currentSlide(i + 1)" class="cursor" />
    </mat-card>
</div>

<div id="imgModal" class="slide-modal">
    <button
        mat-mini-fab
        class="close cursor"
        color="warn"
        aria-label="close"
        (click)="closeModal()"
    >
        &times;
    </button>
    <div class="slide-modal-content">
        <div class="img-slides" *ngFor="let image of images; let i = index">
            <img src="{{ image }}" />
        </div>

        <ng-container *ngIf="images.length > 1">
            <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
            <a class="next" (click)="plusSlides(1)">&#10095;</a>
        </ng-container>

        <div class="image-row" *ngIf="images.length > 1">
            <div class="image-column" *ngFor="let image of images; let i = index">
                <img class="images" (click)="currentSlide(i + 1)" src="{{ image }}" />
            </div>
        </div>
    </div>
</div>
