.image-row {
    display: flex;
    flex-wrap: wrap;

    &:after {
        content: '';
        display: table;
        clear: both;
    }
}

.image-wrap {
    border-radius: 4px;
    background: #fff;
    box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 transparent,
        0 1px 3px 0 rgba(0, 0, 0, 0.12);

    .slide {
        z-index: 1;
        height: 44px;
        cursor: pointer;

        app-icon {
            padding: 10px;
        }
    }
}

.image-column {
    float: left;
    width: 25%;
}

.slide-modal {
    display: none;
    position: fixed;
    z-index: 101;
    padding-top: 10px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0, 0, 0, 0.32);

    img {
        width: 100%;
    }
}

.slide-modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .image-column {
        padding: 0;
    }
}

.close {
    z-index: 3;
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;

    &:hover,
    &:focus {
        color: #888888;
        text-decoration: none;
        cursor: pointer;
    }
}

.img-slides {
    display: none;
}

.cursor {
    cursor: pointer;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    width: auto;
    padding: 18px;
    color: white !important;
    font-weight: bold;
    font-size: 20px;
    transition: 0.8s ease;
    border-radius: 0 5px 5px 0;
    user-select: none;
    -webkit-user-select: none;
    background-color: rgba(0, 0, 0, 0.1);
}

.prev {
    left: 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

img {
    margin-bottom: -4px;
}

.images {
    opacity: 0.7;
}

.active,
.demo:hover {
    opacity: 1;
}
