/*
// .widget-filters
*/
@import '../variables';
@import '../mixins/card';

@mixin local-offcanvas() {
    border: none;
    padding-top: 0;

    .widget-filters__title {
        display: none;
    }

    app-collapse:first-child {
        border-top: none;
    }

    app-collapse {
        border-width: 1px;
    }
}

.widget-filters {
    @include card();
    padding: $widget-shop-padding;
}

app-collapse {
    padding: 8px $widget-shop-padding;
    margin: 0 (-$widget-shop-padding);
    border-bottom: 2px solid $card-border-color;

    &:first-child {
        border-top: 2px solid $card-border-color;
    }
}

.widget-filters__actions {
    padding-top: 24px;
    padding-bottom: 16px;

    & > .btn + .btn {
        $margin-left: 8px;
    }
}

.widget-filters--offcanvas--always {
    @include local-offcanvas;
}

.widget-filters--offcanvas--mobile {
    @media (max-width: breakpoint(md-end)) {
        @include local-offcanvas;
    }
}
