$disable-background-color: #eceeef;
$error-border-color: #a94442;

:host.ng-invalid:not(.ng-pristine) span.form-control,
:host.ng-invalid:not(.ng-untouched) span.form-control {
    border-color: $error-border-color;
}

// Fix Bootstrap dropdown position when inside a input-group
.input-group > .dropdown {
    //Instead of relative
    position: static;
}

.disabled {
    pointer-events: none;

    & > div {
        background-color: $disable-background-color;
        cursor: not-allowed;
    }

    .btn {
        border-color: #ccc;
    }
}

.enabled {
    & > div {
        cursor: context-menu;
    }
}

.open > .dropdown-menu {
    display: block;
    position: relative;
    z-index: 5;
    background: #fff;
    padding: 0;
    border: 2px solid black;
    min-height: 300px;
}

.dropdown {
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 5px;

    .btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0;
    }

    input {
        width: 100%;
        height: 40px;
    }
}

.btn-default {
    width: 100%;
    height: 100%;
    min-height: 60px;
}

.selected-item-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-plus-square-o:before {
    content: '\f196';
}

::ng-deep div.mat-menu-panel.dropdown-menu {
    min-width: 450px;
    /** set width to 500px */
    max-width: 450px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    max-height: 500px;
    min-height: 500px;
    border-radius: 4px;
    outline: 0;
}

.tree-placeholder {
    position: absolute;
    left: 25px;
    top: 35px;
    z-index: 6;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.6);
    pointer-events: none;
}

.form-control {
    position: sticky;
    height: 40px;
    z-index: 5;
    background: white;
    top: 0;
    width: 100%;
}

li {
    list-style-type: none;
    margin: 0;
}

.selected-container-text {
    padding-left: 7px;
}

.selected-container-item {
    padding-left: 2px;
}

.selected-item-text {
    font-size: 14px;
    margin: 3px;
}

.selected-item-item {
    font-size: 14px;
    margin: 2px;
    outline: 0;
}

.more-items-icon {
    bottom: 23px;
    height: 10px;
    opacity: 0.5;
    position: absolute;
    right: 20px;
    z-index: 100;
}

.close {
    font-size: 18px;
    line-height: 0.75;
    margin-left: 5px;
    padding-top: 3px;
    z-index: 50;
}

.caret {
    height: 10px;
    margin-top: -2px;
    position: absolute;
    right: 10px;
    top: 50%;
}

.btn {
    display: table;
    padding-right: 20px;
}
