<div tabindex="0" class="dropdown open show" [off-click]="clickedOutside">
    <div [class.disabled]="disabled" [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger">
        <div
            tabindex="-1"
            class="btn btn-default btn-secondary"
            [class.selected-container-text]="!multiple"
            [class.selected-container-item]="multiple"
            (click)="toggle($event)"
        >
            <span *ngIf="selection.length <= 0" class="ui-select-placeholder text-muted">{{
                placeholder
            }}</span>
            <ng-container *ngFor="let itm of selection; let idx = index">
                <ng-container
                    *ngIf="moreLoaded || maxVisibleItemCount == 0 || idx < maxVisibleItemCount"
                >
                    <span
                        class="pull-left"
                        [class.selected-item-text]="!multiple"
                        [class.selected-item-item]="multiple"
                        [class.btn]="multiple"
                        [class.btn-default]="multiple"
                        [class.btn-xs]="multiple"
                    >
                        {{ itm.text }}
                    </span>
                    <button
                        *ngIf="!disabled"
                        mat-icon-button
                        class="close"
                        (click)="removeItem($event, itm)"
                    >
                        <mat-icon>cancel</mat-icon>
                    </button>
                </ng-container>
            </ng-container>
        </div>
    </div>

    <mat-menu class="dropdown-menu" (click)="$event.stopPropagation()" role="menu" #menu="matMenu">
        <input
            name="filterText"
            *ngIf="allowFilter"
            type="text"
            [(ngModel)]="filter"
            (click)="setInputFocus(); $event.stopPropagation()"
            (blur)="setInputFocusOut()"
            class="form-control"
            placeholder="{{ filterPlaceholder }}"
            [ngModelOptions]="{ standalone: true }"
            autocomplete="off"
        />
        <li *ngFor="let o of internalItems | itemPipe" role="menuitem">
            <tree-select-item [item]="o" [onTouchedCallBack]="onTouchedCallback"></tree-select-item>
        </li>
    </mat-menu>
</div>
