$active-background-color: #428bca;
$hover-background-color: darken($active-background-color, 5);
$text-color: #333;
$active-text-color: #fff;
$hover-text-color: #fff;

.item {
    color: $text-color;

    ul {
        list-style-type: none;
        margin: 0;
    }

    & > a {
        clear: both;
        color: inherit;
        display: block;
        font-weight: 400;
        line-height: 1.42857143;
        padding: 3px 20px;
        padding-left: 10px;
        text-decoration: none;
        white-space: nowrap;

        &:hover {
            background-color: $hover-background-color;
            color: $hover-text-color;
            outline: 0;
            text-decoration: none;
        }
    }

    &.active {
        background-color: $active-background-color;
        color: $active-text-color;
        outline: 0;
        text-decoration: none;
    }
}
