<mat-card>
    <svg viewBox="0 0 530 100">
        <use xlink:href="assets/svg/unfollow.svg#unfollow"></use>
    </svg>
    <mat-card-content *ngIf="step === 1">
        <h1>{{ email }}</h1>
        <h3>Вы действительно хотите отписаться от маркетинговой рассылки?</h3>
    </mat-card-content>
    <mat-card-actions *ngIf="step === 1">
        <button mat-raised-button color="primary" (click)="onMainPage()">Перейти на сайт</button>
        <button mat-raised-button color="primary" (click)="onUnsubscribe()">Да, отписаться</button>
    </mat-card-actions>
    <span *ngIf="step != 1"> Вы успешно отписались от рассылки! </span>
</mat-card>
