:host {
    align-items: center;
    justify-content: center;

    .mat-card-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mat-card-actions {
        display: flex;
        justify-content: space-evenly;
    }
}
