.content {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 20px;
    line-height: 1.15;

    img {
        max-width: 100%;
    }

    .error-number {
        font-size: 200px;
        display: block;
        text-align: center;
        color: #434444;
    }

    .error-text {
        color: #4e5355;
        font-size: 26px;
        padding: 0 33%;
    }

    .error-btn {
        border: 1px solid #ff8400;
        display: block;
        color: #ff8400;
        font-weight: 600;
        text-decoration: none;
        margin: 50px auto;
        padding: 15px;
        font-size: 18px;
        width: 330px;

        &:hover {
            background-color: #ff8400;
            color: white;
        }
    }
}
