<div class="container">
    <main class="content">
        <img [src]="erroreImagePath" />
        <span class="error-number"> 404 </span>
        <p class="error-text">Что-то пошло не так, или страница не найдена... Пока что</p>
        <a (click)="onMain()" class="error-btn"> Вернуться на главную страницу </a>
    </main>
</div>
