<div class="mobile-header" [ngClass]="{ 'mobile-header--sticky': stickyMode }" #element>
    <div class="mobile-header__panel" #panelElement>
        <div class="container">
            <div class="mobile-header__body">
                <button class="mobile-header__menu-button" (click)="menu.open()">
                    <app-icon name="menu-18x14" size="18x14"></app-icon>
                </button>
                <a class="mobile-header__logo" routerLink="/">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 430.6386719 79.1269531"
                        width="150px"
                        height="35px"
                    >
                        <text
                            x="2"
                            y="70"
                            font-size="100"
                            font-family="'Cambria', sans-serif"
                            word-spacing="30"
                        >
                            {{ name }}
                        </text>
                    </svg>
                </a>

                <app-search
                    appDropdown="mobile-header__search--open"
                    class="mobile-header__search"
                    location="mobile-header"
                    (closeButtonClick)="searchDropdown.close()"
                    #search="search"
                    #searchDropdown="appDropdown"
                ></app-search>

                <div class="mobile-header__indicators">
                    <div class="indicator indicator--mobile-search indicator--mobile d-md-none">
                        <button
                            class="indicator__button"
                            (click)="searchDropdown.open(); search.inputElement.focus()"
                        >
                            <span class="indicator__area">
                                <app-icon name="search-20" size="20"></app-icon>
                            </span>
                        </button>
                    </div>
                    <div class="indicator site-header__phone-number indicator--mobile d-md-none">
                        <a
                            *ngIf="mobilePhones$ | async as mobilePhones"
                            [href]="'tel:' + mobilePhones[0]"
                        >
                            <app-icon name="phone-24" size="26" color="#00d200"></app-icon>
                        </a>
                    </div>

                    <div class="indicator indicator--mobile d-sm-flex d-none">
                        <a routerLink="/wishlist" class="indicator__button">
                            <span class="indicator__area">
                                <app-icon name="heart-20" size="20"></app-icon>
                                <span class="indicator__value">{{ wishlist$ | async }}</span>
                            </span>
                        </a>
                    </div>

                    <!-- <div class="indicator indicator--mobile">
                        <a class="indicator__button"  [href]="'mailto:' + (email$ | async)">
                            <span class="indicator__area">
                                <app-icon name="email-24" size="20"></app-icon>
                            </span>
                        </a>
                    </div> -->
                    <div class="indicator indicator--mobile">
                        <a (click)="onCartClick()" class="indicator__button">
                            <span class="indicator__area">
                                <app-icon name="cart-20" size="20"></app-icon>
                                <span
                                    *ngIf="totalCount$ | async as count"
                                    class="indicator__value"
                                    >{{ count }}</span
                                >
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
