<div
    class="widget-filters widget"
    [ngClass]="{
        'widget-filters--offcanvas--always': offcanvas === 'always',
        'widget-filters--offcanvas--mobile': offcanvas === 'mobile'
    }"
    appCollapse
>
    <h4 class="widget-filters__title widget__title">Фильтр</h4>

    <div class="widget-filters__list" [formGroup]="filtersForm" *ngIf="filtersForm">
        <app-collapse *ngFor="let filter of filters; trackBy: trackBySlug" [name]="filter.name">
            <div
                *ngIf="filter.type === 'subCategory'"
                class="filter-categories"
                [ngClass]="{ 'filter-categories--root': filter.root }"
            >
                <sub-categories></sub-categories>
            </div>

            <!-- <div *ngIf="price && filter.type === 'price' && isPlatformBrowser" class="filter-price">
                <div class="filter-price__slider">
                    <div class="ngx-slider-custom">
                        <ngx-slider formControlName="filter" [options]="{
                                            animate: false,
                                            mouseEventsInterval: 10,
                                            floor: price.min,
                                            ceil: price.max,
                                            step: 1
                                        }" #slider>
                        </ngx-slider>
                    </div>
                </div>
                <div class="filter-price__title">
                    <span class="filter-price__min-value">{{ slider.value | currency:'RUB':'symbol-narrow' }}</span>
                    –
                    <span class="filter-price__max-value">{{ slider.highValue | currency:'RUB':'symbol-narrow' }}</span>
                </div>
            </div> -->

            <div *ngIf="filter.type === 'countries'" class="filter-list">
                <div class="filter-list__list">
                    <label
                        *ngFor="
                            let item of countries$ | async | orderBy: 'name';
                            trackBy: trackByFn
                        "
                        class="filter-list__item"
                    >
                        <span class="filter-list__input input-check">
                            <span class="input-check__body">
                                <input
                                    class="input-check__input"
                                    type="checkbox"
                                    [checked]="item.selected"
                                    [value]="item.id"
                                    [name]="'filter_countries'"
                                    (change)="toggleCountry(item.id)"
                                />
                                <span class="input-check__box"></span>
                                <app-icon
                                    class="input-check__icon"
                                    name="check-9x7"
                                    size="9x7"
                                ></app-icon>
                            </span>
                        </span>

                        <span class="filter-list__title">{{ item.name }}</span>
                    </label>
                </div>
            </div>

            <div *ngIf="filter.type === 'brands'" class="filter-list">
                <div class="filter-list__list">
                    <label
                        *ngFor="let item of brands$ | async | orderBy: 'name'; trackBy: trackByFn"
                        class="filter-list__item"
                    >
                        <span class="filter-list__input input-check">
                            <span class="input-check__body">
                                <input
                                    class="input-check__input"
                                    type="checkbox"
                                    [checked]="item.selected"
                                    [value]="item.selected"
                                    [name]="'filter_brands'"
                                    (change)="toggleBrand(item.id)"
                                />
                                <span class="input-check__box"></span>
                                <app-icon
                                    class="input-check__icon"
                                    name="check-9x7"
                                    size="9x7"
                                ></app-icon>
                            </span>
                        </span>

                        <span class="filter-list__title">{{ item.name }}</span>
                    </label>
                </div>
            </div>

            <div *ngIf="filter.type === 'category'" class="filter-list">
                <div class="filter-list__list">
                    <label
                        *ngFor="
                            let item of categories$ | async | orderBy: 'name';
                            trackBy: trackByFn
                        "
                        class="filter-list__item"
                    >
                        <span class="filter-list__input input-radio">
                            <span class="input-radio__body">
                                <input
                                    class="input-radio__input"
                                    type="radio"
                                    [checked]="item.selected"
                                    [value]="item.item"
                                    (change)="onSetCategory(item.id)"
                                />
                                <span class="input-radio__circle"></span>
                            </span>
                        </span>

                        <span class="filter-list__title">{{ item.name }}</span>
                    </label>
                </div>
            </div>
        </app-collapse>
    </div>
    <div class="widget-filters__actions d-flex">
        <button class="btn btn-secondary btn-sm" (click)="onReset()">Очистить все</button>
    </div>
</div>
