@use 'sass:math';

@import '../../../../theme';
@import '../../../../variables';
@import '../../../../buttons';
@import '../../../../input-check';
@import '../../../../widgets/widget-filters';

$local-bar-height: 6px;
$local-handle-size: 16px;
$local-handle-inner-size: 6px;
$local-transition-duration: 0.2s;
$local-margin: 8px;

:host ::ng-deep {
    .ngx-slider-custom {
        height: max($local-handle-size, $local-bar-height);
        padding: (($local-handle-size - $local-bar-height) * 0.5) 0;

        .ngx-slider {
            display: block;
            height: $local-bar-height;
            margin: 0;

            .ngx-slider-bubble {
                display: none;
            }

            .ngx-slider-bar {
                height: $local-bar-height;
                border-radius: ($local-bar-height) * 0.5;
            }

            .ngx-slider-pointer {
                width: $local-handle-size;
                height: $local-handle-size;
                border-radius: $local-handle-size * 0.5;
                top: -(($local-handle-size - $local-bar-height) * 0.5);

                &::after {
                    width: $local-handle-inner-size;
                    height: $local-handle-inner-size;
                    border-radius: $local-handle-inner-size * 0.5;
                    top: ($local-handle-size * 0.5 - $local-handle-inner-size * 0.5);
                    left: ($local-handle-size * 0.5 - $local-handle-inner-size * 0.5);
                }
            }

            // styles
            .ngx-slider-bar {
                background: $nouislider-bg-color;
            }
            .ngx-slider-selection {
                background: $nouislider-connect-color;
            }
            .ngx-slider-pointer,
            .ngx-slider-pointer:hover {
                cursor: ew-resize;
                background: $nouislider-border-color;
                box-shadow: 0 0 0 0 #444;
                transition: box-shadow 0.2s;

                &::after {
                    background: $nouislider-handle-color;
                    transition: transform 0.2s;
                }
            }
            .ngx-slider-pointer:focus {
                outline: none;
                box-shadow: 0 0 0 3px #444;

                &::after {
                    transform: scale(0);
                }
            }
        }
    }
}

.filter-list__list {
    margin: -$local-margin 0;
    overflow-y: auto;
    max-height: 200px;

    label {
        margin-bottom: 0.25rem;
    }
}
.filter-list__item {
    padding: 1px 0;
    cursor: pointer;
    display: flex;
    margin: $local-margin 0;
}
.filter-list__input {
    flex-shrink: 0;
    margin-right: 7px;
}
.filter-list__title {
    padding: 1px 0;
    font-size: 14px;
    line-height: 16px;
    flex-grow: 1;
    transition: color 0.2s;
}
.filter-list__counter {
    padding-top: 3px;
    font-size: 12px;
    line-height: 12px;
    color: $card-font-muted-color;
    margin-left: 12px;
}
.filter-list__item--disabled {
    cursor: default;

    .filter-list__title {
        color: $card-font-muted-color;
    }
    .filter-list__counter {
        display: none;
    }
}

.filter-price__slider {
    margin-top: 6px;
}
.filter-price__title {
    margin-top: 16px;
    font-size: 14px;
    color: $card-font-muted-color;
}
