@mixin folder-select-dialog-theme($theme) {
    $accent: map-get($theme, accent);
    $foreground: map-get($theme, foreground);
    $primary: map-get($theme, primary);

    .mat-dialog-title {
        .back-icon {
            color: mat-color($foreground, secondary-text);
        }
    }

    .folders-content {
        border-top: 1px solid mat-color($primary, 400);

        .folder {
            mat-icon {
                color: mat-color($foreground, secondary-text);
            }
        }

        .folder.selected {
            color: mat-color($primary, 50);
            background-color: mat-color($accent, main);

            mat-icon {
                color: mat-color($primary, 50);
            }

            &:hover {
                background-color: mat-color($accent, main);
            }
        }

        .folder.disabled {
            background-color: mat-color($primary, 400);
        }

        .folder:hover {
            background-color: mat-color($primary, 400);
        }
    }
}
