<div mat-dialog-title>
    <button mat-icon-button *ngIf="parentFolder" (click)="goBack()">
        <mat-icon class="back-icon" mat-list-icon>arrow_back</mat-icon>
    </button>
    <div>{{ parentFolder ? parentFolder.name : data.root }}</div>
</div>
<div class="folders-content" mat-dialog-content>
    <div
        class="folder"
        *ngFor="let child of childFolders"
        [ngClass]="{
            selected: child.id === selectedFolder.id,
            disabled: child.id === forbiddenFolderId
        }"
        (click)="onSelect(child)"
        (dblclick)="onOpen(child)"
    >
        <mat-icon mat-list-icon>folder</mat-icon>
        <div>{{ child.name }}</div>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button color="primary" (click)="dialogRef.close()">Закрыть</button>
    <button
        mat-raised-button
        color="primary"
        [disabled]="forbiddenFolderId && forbiddenFolderId === selectedFolder.id"
        (click)="onMove()"
    >
        {{ data.title }}
    </button>
</div>
