:host {
    min-width: 230px;
    max-width: 400px;
    display: block;
}

.mat-dialog-title {
    display: flex;

    button {
        height: 30px;
        width: 30px;
        line-height: 1;
    }

    > div {
        font-weight: 500;
        flex: 1;
        padding-left: 10px;
        font-size: 16px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.mat-dialog-content {
    margin: 0;
    padding: 5px 0;
    height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
}

.folder {
    display: flex;
    justify-content: stretch;
    align-items: center;
    padding: 5px 10px;
    font-size: 13px;
    cursor: pointer;

    mat-icon {
        font-size: 20px;
        height: 20px;
        width: 20px;
    }

    > div {
        flex: 1;
        padding-left: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
