<!-- .block-banner -->
<div class="block block-banner">
    <div class="container">
        <a routerLink="/catalog" class="block-banner__body">
            <div
                class="block-banner__image block-banner__image--desktop"
                style="background-image: url('{{ imageDekstop }}')"
            ></div>
            <div
                class="block-banner__image block-banner__image--mobile"
                style="background-image: url('{{ imageMobile }}')"
            ></div>
            <div class="block-banner__title">{{ title }}</div>
            <div class="block-banner__text">{{ text }}</div>
            <div class="block-banner__button">
                <span class="btn btn-sm btn-primary">Купить Сейчас</span>
            </div>
        </a>
    </div>
</div>
<!-- .block-banner / end -->
