<mat-toolbar
    *ngIf="{
        isMobile: isMobile$ | async
    } as data"
>
    <div class="logo" (click)="onMain()">
        <img class="icon" alt="logo" [src]="logo" />
        <img class="label" alt="перейти на глвную" src="assets/svg/glavkom_capitalise.svg" />
    </div>
    <div class="search-actions">
        <search-bar
            [showSearchHint]="showSearchHint"
            [searchTerm]="searchTerm"
            [title]="title"
            [isMobile]="data.isMobile"
            (searchChange)="onSearchChange($event)"
        >
        </search-bar>
        <div class="mobile">
            <button mat-icon-button (click)="onCall()">
                <mat-icon mat-list-icon [ngStyle]="{ color: '#00d200' }">phone</mat-icon>
            </button>
            <button mat-icon-button (click)="onOpenBasket()">
                <mat-icon>shopping_cart</mat-icon>
                <interest-discount
                    *ngIf="totalCount$ | async as count"
                    [inPercent]="false"
                    [count]="count"
                >
                </interest-discount>
            </button>
            <button mat-icon-button class="toggle-btn" (click)="onToggleClick()">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
    </div>

    <div class="actions">
        <button mat-button class="email" (click)="onSend()">
            <mat-icon mat-list-icon>email</mat-icon>
        </button>
        <button mat-button class="call" (click)="onCall()">
            <mat-icon mat-list-icon [ngStyle]="{ color: '#00d200' }">phone</mat-icon>
            <span>{{ mobilePhones[0] }}</span>
        </button>
        <button class="price" mat-button (click)="onOpenBasket()">
            <mat-icon>shopping_cart</mat-icon>
            <interest-discount
                *ngIf="totalCount$ | async as count"
                [inPercent]="false"
                [count]="count"
            >
            </interest-discount>
            <span>{{ cost$ | async | currency: 'RUB':'symbol-narrow' }}</span>
        </button>
        <button mat-button (click)="login.emit()">Войти</button>
    </div>
</mat-toolbar>
