@import '../../../theme';

$primary: map-get($theme, primary);
$foreground: map-get($theme, foreground);

:host {
    background-color: #fafafa;
    display: block;
    z-index: 2;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 1px 5px 0 rgba(0, 0, 0, 0.12);

    mat-toolbar {
        justify-content: space-between;
        padding: 0 5vw;

        interest-discount {
            position: absolute;
            top: 0;
            left: 26px;
        }

        .price {
            font-size: 14px;
        }
    }

    @media screen and (max-width: 992px) {
        mat-toolbar {
            padding: 0;
        }
    }
}

.search-actions {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}

.logo {
    cursor: pointer;
    display: flex;
    padding-right: 20px;

    p {
        margin: 0;
    }

    .title {
        font-weight: bold;
        font-size: 26px;
        line-height: 40px;
        letter-spacing: 2px;
        font-family: 'Comfortaa', cursive;
    }

    .description {
        text-transform: capitalize;
        line-height: 20px;
        font-size: 12px;
    }

    .icon {
        padding-right: 15px;
        font-size: 50px;
        height: 50px;
        width: 50px;
    }

    .label {
        font-size: 50px;
        height: 50px;
        width: 160px;

        @media screen and (max-width: 992px) {
            width: 120px;
        }
    }
}

.mobile {
    display: none;

    @media screen and (max-width: 992px) {
        display: flex;
    }
}

.actions {
    align-items: center;
    display: flex;

    @media screen and (max-width: 992px) {
        display: none;
    }
}

.mat-icon {
    color: mat-color($primary, 600);
}

.mat-button {
    margin-right: 20px;
    border: 1px solid mat-color($foreground, divider);
    background-color: #fafafa;

    &:hover {
        background-color: mat-color($primary, main, 0.05);
    }
}
