<form [formGroup]="emailGroup">
    <div class="toolbar">
        <mat-icon color="primary">mail</mat-icon>

        <mat-checkbox
            [disabled]="isSending"
            formControlName="sendAll"
            class="check-box send-button"
        >
            <mat-spinner *ngIf="isSending" color="primary" [diameter]="20"> </mat-spinner>
            {{ isSending ? 'Идет отправка' : 'Отправить письмо всем' }}
        </mat-checkbox>

        <button
            mat-raised-button
            type="submit"
            class="mat-rounded-button"
            color="primary"
            [disabled]="!isSending"
            (click)="onStop()"
        >
            <mat-icon>close</mat-icon>
            Остановить отправку
        </button>

        <mat-checkbox
            formControlName="sendTemplate"
            (change)="onSetupForm($event)"
            class="check-box"
            >Отправить Буклет</mat-checkbox
        >

        <button
            mat-raised-button
            type="submit"
            color="accent"
            [disabled]="emailGroup.invalid"
            (click)="onSend()"
        >
            <mat-icon>send</mat-icon>
            Отправить
        </button>
    </div>

    <section id="sample-table1" class="bg-white">
        <mat-form-field class="example-chip-list">
            <mat-chip-grid
                #chipList
                aria-label="Email selection"
                [disabled]="emailGroup.get('sendAll')?.value"
            >
                <div *ngFor="let email of emails.controls; let i = index">
                    <mat-chip-row
                        [aria-description]="'press enter to edit ' + email.value"
                        [editable]="true"
                        (removed)="remove(i)"
                    >
                        {{ email.value }}
                        <button matChipRemove [attr.aria-label]="'remove ' + email.value">
                            <mat-icon>cancel</mat-icon>
                        </button>
                    </mat-chip-row>
                    <mat-error *ngIf="email.hasError('email')" [innerHTML]="'Неправильный Email'">
                    </mat-error>
                </div>
                <input
                    placeholder="Введите Email и нажмите Enter"
                    [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    [matChipInputAddOnBlur]="addOnBlur"
                    (matChipInputTokenEnd)="add($event)"
                />
            </mat-chip-grid>
        </mat-form-field>

        <mat-form-field appearance="outline" class="topic">
            <mat-label>Тема</mat-label>
            <input matInput type="text" formControlName="subject" [placeholder]="'Тема'" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Письмо</mat-label>
            <textarea
                rows="12"
                matInput
                placeholder="Напишите описание..."
                formControlName="message"
            >
            </textarea>
        </mat-form-field>
    </section>
</form>
