@import '../../../../theme';

$primary: map-get($theme, primary);

:host {
    .toolbar {
        padding: 10px;
        justify-content: space-between;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        background: #fafafa;

        .name {
            width: 50%;
        }

        ::ng-deep .mat-form-field {
            .mat-form-field-wrapper {
                padding-bottom: 0;
            }
        }
    }

    .send-button ::ng-deep.mat-checkbox-label {
        display: flex;
        align-items: center;
    }

    .mat-error {
        font-size: 12px;
    }

    .check-box {
        padding: 5px;
        border-radius: 10px;
        border: 1px solid rgba(0, 0, 0, 0.12);
    }

    .example-full-width {
        width: 97%;
        padding: 5px;
    }

    .bg-white {
        height: 100%;
        overflow: auto;
        background-color: #fafafa;
    }

    .example-chip-list {
        width: 97%;
        padding: 5px;
    }

    .topic {
        width: 97%;
        padding: 5px;
    }
}
