<page-header [header]="header" [breadcrumbs]="breadcrumbs"></page-header>
<div class="container">
    <div class="row">
        <div *ngIf="sidebarPosition === 'start'" class="col-12 col-lg-4 order-1 order-lg-0">
            <shop-sidebar position="start"> </shop-sidebar>
        </div>
        <div class="col-12 col-lg-8">
            <div class="block">
                <div class="posts-view">
                    <div class="posts-view__list posts-list posts-list--layout--{{ layout }}">
                        <div class="posts-list__body">
                            <div
                                *ngFor="let post of posts$ | async | orderBy: '-created'"
                                class="posts-list__item"
                            >
                                <post-card
                                    [post]="post"
                                    [descriptionLength]="60"
                                    [layout]="getPostCardLayout()"
                                ></post-card>
                            </div>
                        </div>
                    </div>
                    <div class="posts-view__pagination">
                        <pagination [current]="1" [siblings]="2"></pagination>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="sidebarPosition === 'end'" class="col-12 col-lg-4">
            <shop-sidebar position="end"> </shop-sidebar>
        </div>
    </div>
</div>
