<div
    class="post-card"
    [ngClass]="{
        'post-card--layout--grid': ['grid-nl', 'grid-lg'].includes(layout || ''),
        'post-card--layout--list': ['list-nl', 'list-sm'].includes(layout || ''),

        'post-card--size--nl': ['grid-nl', 'list-nl'].includes(layout || ''),
        'post-card--size--lg': layout === 'grid-lg',
        'post-card--size--sm': layout === 'list-sm'
    }"
>
    <div class="post-card__image">
        <a appClick [routerLink]="'/news/post/' + post.id">
            <img [lazyLoad]="post.imageUrl" [alt]="post.name" />
        </a>
    </div>
    <div class="post-card__info">
        <div class="post-card__name">
            <a appClick [routerLink]="'/news/post/' + post.id">{{ post.name }}</a>
        </div>
        <div class="post-card__date">{{ post.created | date: 'd MMMM, yyyy' }}</div>
        <div
            class="post-card__content"
            [innerHTML]="post.content | seoDescription: descriptionLength"
        ></div>
        <div class="post-card__read-more">
            <a appClick [routerLink]="'/news/post/' + post.id" class="btn btn-secondary btn-sm"
                >Подробнее</a
            >
        </div>
    </div>
</div>
