<page-header [breadcrumbs]="breadcrumbs"></page-header>

<div class="container">
    <div class="content">
        <image-wrapper
            class="brand"
            *ngFor="let brand of brands$ | async"
            [width]="width"
            [height]="height"
            [image]="brand.image"
            [name]="brand.name"
        >
            <a routerLink="/catalog" [queryParams]="{ brand: brand.id }"></a>
        </image-wrapper>
    </div>
    <div class="navigation">
        <h1 class="menu">Производители</h1>
        <div *ngFor="let group of brandsByGroup$ | async">
            <p>{{ group.key }}</p>
            <div class="brand" *ngFor="let brand of group.brands">
                <a routerLink="/catalog" [queryParams]="{ brand: brand.id }">
                    {{ brand.name }}
                </a>
            </div>
        </div>
    </div>
</div>
