@use 'sass:map';
@import '../../../../theme';

$background: map.get($theme, background);

:host {
    background-color: get-color-from-palette($background, background);

    .container {
        display: flex;

        @media screen and (min-width: 992px) {
            padding: 0 15px;
        }

        .content {
            display: flex;
            flex-wrap: wrap;

            .brand {
                margin: 20px;
                cursor: pointer;
                transition: all 0.2s ease-in-out;
            }

            .brand:hover {
                -webkit-transform: scale(1.2);
                -ms-transform: scale(1.2);
                transform: scale(1.2);
                z-index: 10;
            }

            a {
                width: 100%;
                height: 100%;
                z-index: 3;
            }
        }

        .navigation {
            h1 {
                font-size: 20px;
            }

            .brand {
                width: 150px;
                padding-bottom: 5px;
            }

            a {
                color: blue;
                padding-left: 10px;
                position: relative;
            }

            a::before {
                content: '';
                display: block;
                position: absolute;
                top: 5px;
                width: 5px;
                height: 5px;
                border-radius: 5px;
                border: 1px solid;
                left: 0;
            }
        }
    }
}
