@use 'sass:map';
@import '../../../variables';
@import '../../../product-image';
@import '../../../card';
@import '../../../input-check';
@import '../../../mixins/buttons';
$accent: map.get($theme, accent);
$warn: map.get($theme, warn);

.cart {
    height: 100%;

    .container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.scroll {
    overflow: auto;
    height: 100%;
}

.total-body {
    padding: 1rem;
}

.cart-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    overflow-y: auto;
    display: block;
}

.cart-table__product-name {
    color: inherit;
}

.cart-table__options {
    list-style: none;
    padding: 0;
    margin: 4px 0 0;
    font-size: 14px;
    color: $cart-table-options-font-color;
    line-height: 19px;

    li {
        position: relative;
        padding-left: 12px;
    }

    li::before {
        content: '';
        display: block;
        position: absolute;
        top: 7px;
        width: 4px;
        height: 4px;
        border-radius: 2px;
        background: currentColor;
        left: 1px;
    }
}

.checkout {
}

.checkout__totals {
    font-size: 15px;
    line-height: 19px;
    width: 100%;
    margin-bottom: 40px;

    th,
    td {
        padding: 4px 0;
    }

    th {
        font-weight: $font-weight-bold;
    }

    tr > :first-child {
        padding-right: 20px;
    }

    tr > :last-child {
        white-space: nowrap;
        text-align: right;
    }
}

.checkout__totals-products {
    tr:first-child > * {
        padding-top: 20px;
        border-top: 1px solid $card-divider-color;
    }

    tr:last-child > * {
        padding-bottom: 20px;
        border-bottom: 1px solid $card-divider-color;
    }
}

.checkout__totals-header {
    tr:last-child > * {
        padding-bottom: 10px;
    }
}

.checkout__totals-subtotals {
    tr:first-child > * {
        padding-top: 20px;
    }

    tr:last-child > * {
        padding-bottom: 20px;
        border-bottom: 1px solid $card-divider-color;
    }
}

.checkout__totals-footer {
    font-size: 24px;

    th {
        font-weight: $font-weight-medium;
    }

    tr:first-child > * {
        padding-top: 20px;
    }
}

.payment-methods {
    margin-bottom: 30px;
}

.payment-methods__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.payment-methods__item {
    border-radius: $payment-methods-border-radius;
    background: $payment-methods-default-bg;
    border: $payment-methods-default-border;

    &:hover {
        background: $payment-methods-hover-bg;
        border: $payment-methods-hover-border;
    }

    & + & {
        margin-top: 6px;
    }
}

.payment-methods__item-header {
    display: flex;
    align-items: center;
    padding: 8px 14px;
    font-size: 15px;
    font-weight: $font-weight-medium;
    letter-spacing: 0.01em;
    cursor: pointer;
    margin-bottom: 0;
}

.payment-methods__item-radio {
    margin-right: 10px;
}

.payment-methods__item-container {
    overflow: hidden;
    height: 0;
    transition: height 0.2s;
}

.payment-methods__item-description {
    font-size: 15px;
    line-height: 20px;
    padding: 2px 16px 13px 16px;
}

.payment-methods__item--active {
    &,
    &:hover {
        background: $payment-methods-active-bg;
        border: $payment-methods-active-border;
    }

    .payment-methods__item-container {
        height: auto;
    }
}

.checkout__agree {
    margin-bottom: 36px;

    a:hover {
        text-decoration: underline;
    }
}

@media (min-width: breakpoint(md-start)) {
    .cart-table__column {
        padding: 12px 18px;
        border-top: 1px solid $table-border-color;

        &:first-child {
            border-left: 1px solid $table-border-color;
        }

        &:last-child {
            border-right: 1px solid $table-border-color;
        }
    }

    .cart-table__head {
        background: $table-th-bg;
        font-size: 15px;

        .cart-table__column {
            font-weight: $font-weight-medium;
        }

        .cart-table__column:first-child {
            border-top-left-radius: $table-border-radius;
        }

        .cart-table__column:last-child {
            border-top-right-radius: $table-border-radius;
        }
    }

    .cart-table__body {
        .cart-table__column {
            padding-top: 18px;
            padding-bottom: 18px;
        }

        .cart-table__row:last-child {
            .cart-table__column {
                border-bottom: 1px solid $table-border-color;
            }

            .cart-table__column:first-child {
                border-bottom-left-radius: $table-border-radius;
            }

            .cart-table__column:last-child {
                border-bottom-right-radius: $table-border-radius;
            }
        }
    }

    .cart-table__column--image {
        width: 1px;
        text-align: center;
        padding-right: 4px;

        .product-image {
            width: 80px;
        }
    }

    .cart-table__column--price {
        width: 170px;
        text-align: right;
    }

    .cart-table__column--quantity {
        text-align: center;
        width: 1px;
        padding-left: 90px;
    }

    .cart-table__column--total {
        width: 170px;
        text-align: right;
    }

    .cart-table__column--remove {
        width: 1px;
    }
}

@media (min-width: breakpoint(lg-start)) and (max-width: breakpoint(lg-end)) {
    .cart-table__column--quantity {
        padding-left: 40px;
    }

    .cart-table__column--price,
    .cart-table__column--total {
        width: 130px;
    }

    .col-lg-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: breakpoint(md-start)) and (max-width: breakpoint(md-end)) {
    .cart-table__column--quantity {
        padding-left: 0;
        padding-right: 0;
    }

    .cart-table__column--price,
    .cart-table__column--total {
        width: 1px;
    }

    .cart-table__column--remove {
        padding-left: 0;
    }

    .col-md-7 {
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }
}

@media (min-width: breakpoint(xl-start)) {
    .col-xl-5 {
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

    .col-xl-7 {
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }
}

@media (max-width: breakpoint(sm-end)) {
    .cart-table {
        display: block;
    }

    .cart-table__head {
        display: none;
    }

    .cart-table__body {
        display: flex;
        flex-wrap: wrap;
    }

    .cart-table__row {
        position: relative;
        width: 100%;
        display: block;
        border: 1px solid $cart-table-card-border-color;
        border-radius: 2px;

        & + & {
            margin-top: 15px;
        }
    }

    .cart-table__column {
        display: block;
        padding: 0;
    }

    .cart-table__column--image {
        padding: 20px 20px 12px;
        text-align: center;

        .product-image {
            width: 100%;
            max-width: 160px;
            margin: 0 auto;
        }
    }

    .cart-table__column--product {
        text-align: center;
        border-bottom: 1px solid $cart-table-card-border-color;
        padding: 0 20px 18px;
    }

    .cart-table__column--price,
    .cart-table__column--quantity,
    .cart-table__column--total {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 20px;

        &::before {
            font-weight: $font-weight-medium;
            width: 55%;
            flex-shrink: 0;
            content: attr(data-title) ': ';
            text-align: right;
        }
    }

    .cart-table__column--quantity .input-number {
        width: 110px;
    }

    .cart-table__column--price {
        padding-top: 18px;
    }

    .cart-table__column--total {
        padding-bottom: 18px;
    }

    .cart-table__column--remove {
        position: absolute;
        top: 5px;
        right: 5px;
    }

    .cart-table__options li::before {
        display: none;
    }
}

//-----------------

.block-empty {
}

.block-empty__body {
    text-align: center;
    padding: 18px 0 60px;
}

.block-empty__message {
    font-size: 17px;
}

.block-empty__actions {
    margin-top: 24px;
}

//---------------------------

mat-horizontal-stepper ::ng-deep {
    .mat-horizontal-stepper-header-container {
        display: none;
    }

    .mat-horizontal-content-container {
        height: 100%;
        padding: 0;

        .mat-horizontal-stepper-content[aria-expanded='true'] {
            height: 100%;
        }
    }
}

//--------------------------------

.cart {
}

.cart__actions {
    display: flex;
    justify-content: space-between;
}

.total {
    margin-top: 1rem;
}

.cart__coupon-form {
    margin-top: 1rem;
    width: calc(50% - 15px);
    display: flex;

    .btn {
        flex-shrink: 0;
        margin-left: 0.5rem;
    }
}

.cart__buttons {
    width: calc(50% - 15px);
    display: flex;
    justify-content: flex-end;
}

.cart__update-button {
    margin-left: 0.5rem;
}

.cart__totals {
    line-height: 20px;
    width: 100%;
    margin-bottom: 10px;

    a:hover {
        text-decoration: underline;
    }

    td {
        font-weight: $font-weight-bold;
    }

    th {
        font-weight: $font-weight-medium;
    }

    th,
    td {
        vertical-align: top;
        padding: 6px 0;
    }

    tr > :first-child {
        padding-right: 20px;
    }

    tr > :last-child {
        text-align: right;
    }
}

.cart__totals-header {
    tr:last-child > * {
        padding-bottom: 5px;
    }
}

.cart__totals-body {
    tr:first-child > * {
        padding-top: 10px;
        border-top: 1px solid $cart-divider-color;
    }

    tr:last-child > * {
        padding-bottom: 10px;
        border-bottom: 1px solid $cart-divider-color;
    }
}

.cart__totals-footer {
    tr:first-child > * {
        padding-top: 10px;
    }
}

.cart__calc-shipping {
    margin-top: 2px;
    font-size: 15px;
}

.justify-content-end {
    justify-content: flex-end;
}

.pb-10 {
    padding-bottom: 10px;
}

@media (max-width: breakpoint(sm-end)) {
    .cart__actions {
        display: block;
    }

    .total {
        margin-top: 0.5rem;

        .total-body {
            padding: 0.5rem;
        }
    }

    .cart__totals {
        line-height: 10px;
        font-size: 14px;
        margin-bottom: 5px;
    }

    .cart__coupon-form,
    .total {
        width: 100%;
    }

    .cart__buttons {
        flex-direction: column;
        margin-top: 2.5rem;
        width: 100%;
    }

    .cart__update-button {
        order: -1;
        margin-bottom: 0.75rem;
        margin-left: 0;
    }
}

@media (max-width: 479px) {
    .cart__checkout-button {
        @include btn-nl();
    }
}

@media (max-width: 379px) {
    .cart__checkout-button {
        @include btn-sm();
    }
}

:host {
    height: 100%;
    display: flex;
    flex-direction: column;

    mat-horizontal-stepper ::ng-deep {
        overflow: hidden;
    }

    .done {
        display: block;
        width: 100%;
        height: 100%;

        .icon-container {
            display: flex;
            align-items: center;
            justify-content: center;

            .success {
                fill: get-color-from-palette($accent, main);
            }

            .fail {
                fill: get-color-from-palette($warn, main);
            }
        }

        .second-title {
            font-size: 25px;
            text-align: center;
        }
    }
}

// :host {
//     display: flex;
//     flex-direction: column;
//     max-height: 100%;
//     height: 100%;
//     position: relative;

//     mat-horizontal-stepper ::ng-deep {
//         overflow: hidden;
//         height: 100%;

//         .mat-horizontal-content-container {
//             height: calc(100% - 35px);
//             padding: 0;
//             overflow: hidden;
//         }

//         .mat-horizontal-stepper-header-container {
//             display: none;
//         }

//         .mat-horizontal-stepper-header {
//             height: 35px;
//         }

//         @media screen and (max-width: 992px) {
//             .mat-horizontal-stepper-header {
//                 height: 40px;
//                 padding: 0 5px;
//                 flex-direction: column;
//             }
//         }

//         form {
//             height: 100%;
//             margin: 0;
//         }
//     }

//     ::ng-deep .mat-list {
//         padding: 0;

//         .mat-list-item .mat-list-item-content {
//             justify-content: space-around;
//             border-bottom: 1px solid mat-color($primary, A100);
//         }
//     }

//     .container {
//         height: calc(100% - 56px);
//         overflow-y: auto;
//         padding-left: 20px;
//         padding-right: 20px;
//         padding-top: 20px;
//     }

//     .done {
//         display: block;
//         width: 100%;
//         height: 100%;

//         .icon-container {
//             text-align: center;

//             .success {
//                 fill: mat-color($accent, main);
//             }

//             .fail {
//                 fill: mat-color($warn, main);
//             }
//         }

//         .second-title {
//             font-size: 25px;
//             text-align: center;
//         }
//     }

//     .description {
//         display: flex;
//         flex-direction: column;
//         overflow-y: auto;

//         .row-basket {
//             align-items: center;
//             justify-content: center;
//             display: flex;
//             flex-wrap: wrap;
//             width: 100%;

//             .mat-form-field {
//                 flex: 1;
//             }
//         }

//         .column {
//             display: flex;
//             flex-direction: column;
//         }

//         .mat-form-field {
//             padding: 0 20px;
//         }
//     }

//     h1 {
//         text-align: center;
//     }
// }

// .header-button:last-child {
//     margin-right: 12px;
// }

// .name {
//     width: 400px;
// }

// .price {
//     width: 150px;
// }

// .header {
//     position: sticky !important;
//     top: 0;
//     left: 0;
//     z-index: 2;
//     background-color: #fff;
// }

// .counter-title, .counter {
//     width: 91px;
// }

// .counter {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     border-radius: 20px;
//     border: 1px solid mat-color($foreground, divider);
// }

// app-icon {
//     display: flex;
//     justify-content: center;
// }

// .dialog-actions {
//     bottom: 0;
//     position: absolute;
//     display: flex;
//     justify-content: space-between;
//     width: calc(100% - 20px);
//     padding: 10px;
//     background-color: mat-color($primary, 200);
// }

// .statistic {
//     display: flex;
//     align-items: center;
//     justify-content: space-evenly;

//     .total {
//         font-size: 18px;
//         font-weight: bold;
//     }
// }

// button {
//     text-transform: uppercase;
// }

// .mat-drawer-container .tile-items {
//     padding-top: 5px;
// }

// .label {
//     padding: 20px 0;
//     font-size: 18px;
//     font-weight: 500;
//     line-height: 24px;
// }

// .empty {
//     width: 40px;
// }
