<ng-container
    *ngIf="{
        orders: orders$ | async,
        totalCount: totalCount$ | async,
        isSuccess: isSuccess$ | async
    } as data"
>
    <page-header [header]="header">
        <button type="button" class="btn btn-light btn-lg btn-svg-icon" (click)="onClose()">
            <app-icon name="cross-20" size="25"></app-icon>
        </button>
    </page-header>
    <!-- <div class="statistic">
    <span class="total" *ngIf="data.totalCount">Общее количество: {{data.totalCount}}</span>
    <span class="total" *ngIf="cost$ | async as cost">Итого: {{cost | currency:'RUB':'symbol-narrow'}}</span>
  </div> -->
    <div class="block block-empty" *ngIf="!data.orders?.length">
        <div class="container">
            <div class="block-empty__body">
                <div class="block-empty__message">Ваша корзина пуста!</div>
                <div class="block-empty__actions">
                    <a [routerLink]="'/catalog'" (click)="onClose()" class="btn btn-primary btn-sm"
                        >Продолжить</a
                    >
                </div>
            </div>
        </div>
    </div>
    <mat-horizontal-stepper *ngIf="data.orders?.length" linear #stepper>
        <mat-step>
            <div class="cart block">
                <div class="container">
                    <table class="cart__table cart-table">
                        <thead class="cart-table__head">
                            <tr class="cart-table__row">
                                <th class="cart-table__column cart-table__column--image">Фото</th>
                                <th class="cart-table__column cart-table__column--product">
                                    Продукт
                                </th>
                                <th class="cart-table__column cart-table__column--price">Цена</th>
                                <th class="cart-table__column cart-table__column--quantity">
                                    Количество
                                </th>
                                <th class="cart-table__column cart-table__column--total">Всего</th>
                                <th class="cart-table__column cart-table__column--remove"></th>
                            </tr>
                        </thead>
                        <tbody class="cart-table__body">
                            <tr *ngFor="let item of data.orders" class="cart-table__row">
                                <td class="cart-table__column cart-table__column--image">
                                    <div *ngIf="item.image" class="product-image">
                                        <a
                                            [routerLink]="'/catalog/product/' + item.id"
                                            (click)="onClose()"
                                            class="product-image__body"
                                        >
                                            <img
                                                class="product-image__img"
                                                [src]="item.image"
                                                [alt]="item.name"
                                            />
                                        </a>
                                    </div>
                                </td>
                                <td class="cart-table__column cart-table__column--product">
                                    <a
                                        [routerLink]="'/catalog/product/' + item.id"
                                        (click)="onClose()"
                                        class="cart-table__product-name"
                                        >{{ item.name }}</a
                                    >
                                    <!-- <ul *ngIf="item.cartItem.options.length" class="cart-table__options">
                            <li *ngFor="let option of item.cartItem.options">{{ option.name }}: {{ option.value }}</li>
                        </ul> -->
                                </td>
                                <td
                                    class="cart-table__column cart-table__column--price"
                                    data-title="Цена"
                                >
                                    {{
                                        item.price
                                            | precentageDeduction: item.discount
                                            | currency: 'RUB':'symbol-narrow'
                                    }}
                                </td>
                                <td
                                    class="cart-table__column cart-table__column--quantity"
                                    data-title="Количество"
                                >
                                    <input-number
                                        [setValue]="item.count"
                                        (changed)="onUpdateCount(item, $event)"
                                        [min]="1"
                                    ></input-number>
                                </td>
                                <td
                                    class="cart-table__column cart-table__column--total"
                                    data-title="Всего"
                                >
                                    {{
                                        item.price * item.count
                                            | precentageDeduction: item.discount
                                            | currency: 'RUB':'symbol-narrow'
                                    }}
                                </td>
                                <td class="cart-table__column cart-table__column--remove">
                                    <button
                                        type="button"
                                        class="btn btn-light btn-sm btn-svg-icon"
                                        (click)="onRemove(item.id)"
                                    >
                                        <app-icon name="cross-12" size="12"></app-icon>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="cart__actions">
                        <form class="cart__coupon-form">
                            <label for="input-coupon-code" class="sr-only">Код</label>
                            <input
                                type="text"
                                class="form-control"
                                id="input-coupon-code"
                                placeholder="Промокод"
                            />
                            <button type="submit" class="btn btn-secondary">Применить код</button>
                        </form>
                        <!-- <div class="cart__buttons">
                    <a routerLink="/" (click)="onClose()" class="btn btn-light">Продолжить покупки</a>
                </div> -->
                        <div class="total pb-10">
                            <div class="card">
                                <div class="total-body">
                                    <table class="cart__totals">
                                        <thead *ngIf="data.totalCount" class="cart__totals-header">
                                            <tr>
                                                <th>Количество</th>
                                                <td>{{ data.totalCount }}</td>
                                            </tr>
                                        </thead>
                                        <tfoot class="cart__totals-footer">
                                            <tr *ngIf="cost$ | async as cost">
                                                <th>Общая стоимость:</th>
                                                <td>
                                                    {{ cost | currency: 'RUB':'symbol-narrow' }}
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                    <button
                                        type="submit"
                                        class="btn btn-primary cart__checkout-button"
                                        matStepperNext
                                    >
                                        Оформить заказ
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
            <form class="container scroll" [formGroup]="secondFormGroup">
                <div class="row">
                    <div class="col-12 col-lg-6 col-xl-7">
                        <div class="card mb-lg-0">
                            <div class="card-body">
                                <h3 class="card-title">Платежные реквизиты</h3>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="checkout-name">Контактное лицо</label>
                                        <input
                                            type="text"
                                            class="form-control"
                                            id="checkout-name"
                                            formControlName="name"
                                            placeholder="Контактное лицо"
                                        />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="checkout-name"
                                            >Реквизиты для счета<span class="text-muted"
                                                >(По желанию)</span
                                            ></label
                                        >
                                        <input
                                            type="text"
                                            class="form-control"
                                            id="checkout-name"
                                            formControlName="requisites"
                                            placeholder="Реквизиты"
                                        />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="checkout-company-name"
                                        >Организация<span class="text-muted"
                                            >(По желанию)</span
                                        ></label
                                    >
                                    <input
                                        type="text"
                                        class="form-control"
                                        formControlName="organization"
                                        id="checkout-company-name"
                                        placeholder="Организация"
                                    />
                                </div>
                                <div class="form-group">
                                    <label for="checkout-street-address"
                                        >Город/Адрес доставки</label
                                    >
                                    <input
                                        type="text"
                                        class="form-control"
                                        formControlName="address"
                                        id="checkout-street-address"
                                        placeholder="Адрес доставки"
                                    />
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="checkout-email">Электронная почта*</label>
                                        <input
                                            required
                                            type="email"
                                            class="form-control is-valid"
                                            id="checkout-email"
                                            formControlName="email"
                                            placeholder="Электронная почта"
                                        />
                                        <mat-error
                                            *ngIf="
                                                secondFormGroup
                                                    .get('email')
                                                    ?.hasError('required') &&
                                                secondFormGroup.get('email')?.touched
                                            "
                                        >
                                            Электронная почта <strong>обязательна</strong>
                                        </mat-error>
                                        <mat-error
                                            *ngIf="secondFormGroup.get('email')?.hasError('email')"
                                        >
                                            Пожалуйста, введите
                                            <strong>действующий адрес</strong> электронной почты
                                        </mat-error>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="checkout-phone">Контактный телефон*</label>
                                        <input
                                            required
                                            type="text"
                                            class="form-control is-valid"
                                            id="checkout-phone"
                                            formControlName="phone"
                                            placeholder="Контактный телефон"
                                        />
                                        <mat-error
                                            *ngIf="
                                                secondFormGroup
                                                    .get('phone')
                                                    ?.hasError('required') &&
                                                secondFormGroup.get('phone')?.touched
                                            "
                                        >
                                            Контактный телефон <strong>обязателен</strong>
                                        </mat-error>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="checkout-comment"
                                        >Комментарий к заказу<span class="text-muted"
                                            >(По желанию)</span
                                        ></label
                                    >
                                    <textarea
                                        id="checkout-comment"
                                        formControlName="city"
                                        class="form-control"
                                        rows="4"
                                    ></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-6 col-xl-5 mt-4 mt-lg-0">
                        <div class="card mb-0">
                            <div class="card-body">
                                <h3 class="card-title">Ваш заказ</h3>

                                <table class="checkout__totals">
                                    <thead class="checkout__totals-header">
                                        <tr>
                                            <th>Продукт</th>
                                            <th>Стоимость</th>
                                        </tr>
                                    </thead>
                                    <tbody class="checkout__totals-products">
                                        <tr *ngFor="let item of data.orders">
                                            <td>{{ item.name }} × {{ item.count }}</td>
                                            <td>
                                                {{
                                                    item.price * item.count
                                                        | precentageDeduction: item.discount
                                                        | currency: 'RUB':'symbol-narrow'
                                                }}
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot class="checkout__totals-footer">
                                        <tr *ngIf="cost$ | async as cost">
                                            <th>Общая стоимость:</th>
                                            <td>{{ cost | currency: 'RUB':'symbol-narrow' }}</td>
                                        </tr>
                                    </tfoot>
                                </table>

                                <div class="checkout__agree form-group">
                                    <div class="form-check">
                                        <span class="form-check-input input-check">
                                            <span class="input-check__body">
                                                <input
                                                    class="input-check__input"
                                                    type="checkbox"
                                                    formControlName="isConfirm"
                                                    id="checkout-terms"
                                                />
                                                <span class="input-check__box"></span>
                                                <svg
                                                    class="input-check__icon"
                                                    width="9px"
                                                    height="7px"
                                                >
                                                    <use
                                                        xlink:href="assets/svg/check-9x7.svg#check-9x7"
                                                    ></use>
                                                </svg>
                                            </span>
                                        </span>
                                        <label class="form-check-label" for="checkout-terms">
                                            Я прочитал и согласен с
                                            <a target="_blank" [routerLink]="'/privacy'"
                                                >условиями использования веб-сайта</a
                                            >*
                                        </label>
                                    </div>
                                    <mat-error
                                        *ngIf="
                                            !secondFormGroup.get('isConfirm')?.value &&
                                            secondFormGroup.get('isConfirm')?.touched
                                        "
                                    >
                                        Подтверждение <strong>обязателено</strong>
                                    </mat-error>
                                </div>

                                <button
                                    type="submit"
                                    matStepperNext
                                    class="btn btn-primary btn-xl btn-block"
                                    (click)="onSave()"
                                >
                                    Оформить Заказ
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="container">
          <div class="row-basket">
            <mat-form-field appearance="outline">
              <mat-label>Контактное лицо</mat-label>
              <input matInput formControlName="name" required>
              <mat-error *ngIf="secondFormGroup.controls['name'].hasError('required')"
              [innerHTML]="'Обязательное поле для заполнения'">
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Электронная почта</mat-label>
              <input matInput formControlName="email" required>
              <mat-error *ngIf="secondFormGroup.controls['email'].hasError('required')"
                [innerHTML]="'Обязательное поле для заполнения'">
              </mat-error>
            </mat-form-field>
          </div>

          <div class="row-basket">
            <mat-form-field appearance="outline">
              <mat-label>Контактный телефон</mat-label>
              <input matInput formControlName="phone" required>
              <mat-error *ngIf="secondFormGroup.controls['phone'].hasError('required')"
                [innerHTML]="'Обязательное поле для заполнения'">
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Город</mat-label>
              <input matInput formControlName="city" required>
                <mat-error *ngIf="secondFormGroup.controls['city'].hasError('required')"
                [innerHTML]="'Обязательное поле для заполнения'">
              </mat-error>
            </mat-form-field>
          </div>
          <div class="column">
            <mat-form-field appearance="outline">
              <mat-label>Адрес доставки</mat-label>
              <textarea matInput formControlName="address"></textarea>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Организация</mat-label>
              <textarea matInput formControlName="organization"></textarea>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Реквизиты для выставления счета</mat-label>
              <textarea matInput formControlName="requisites"></textarea>
            </mat-form-field>
          </div>
        </div>

        <div class="dialog-actions">
          <button mat-button matStepperPrevious
              tabindex="-1"
              color="accent">
              Назад
          </button>
          <button mat-raised-button
            matStepperNext
            [disabled]="secondFormGroup.invalid || !data.totalCount"
            (click)="onSave()"
            tabindex="-1"
            color="accent">
            Оформить Заказ
          </button>
        </div> -->
            </form>
        </mat-step>
        <mat-step>
            <div class="done">
                <p class="second-title">
                    {{
                        data.isSuccess
                            ? 'Заказ оформлен'
                            : 'Произошла ошибка. Пожалуйста, попробуйте позже'
                    }}
                </p>
                <div class="icon-container">
                    <app-icon
                        class="success"
                        [ngClass]="data.isSuccess ? 'success' : 'fail'"
                        [name]="data.isSuccess ? 'add-circle-outline' : 'cross-20'"
                        size="100"
                    >
                    </app-icon>
                </div>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
</ng-container>
