@import '../../../../../variables';
@import '../../../../../functions';
@import '../../../../../mixins/post-card';

.block-posts {
    position: relative;
    z-index: 1;

    ::ng-deep ngu-tile .tile {
        box-shadow: none;
    }
}

.block-posts--layout--list-sm {
    @media (min-width: breakpoint(sm-start)) {
        ::ng-deep.post-card {
            @include post-card-list();
            @include post-card-list-sm();
        }
    }

    @media (min-width: breakpoint(lg-start)) and (max-width: breakpoint(lg-end)) {
        ::ng-deep.post-card {
            @include post-card-list-xs();
        }
    }

    @media (max-width: breakpoint(xs-end)) {
        ::ng-deep.post-card {
            @include post-card-grid();
        }
    }
}

.block-posts--layout--grid-nl {
    ::ng-deep.post-card {
        @include post-card-grid();
    }
}
