<ng-container *ngIf="posts$ | async as posts">
    <div
        *ngIf="showCarousel && !!posts?.length"
        class="block block-posts block-posts--layout--{{ layout }}"
        [attr.data-layout]="layout"
    >
        <div class="container">
            <block-header [header]="header" [arrows]="true" [carousel]="carousel"> </block-header>

            <div class="block-posts__slider" #container>
                <ngu-carousel [inputs]="carouselTile" [dataSource]="posts" #carousel>
                    <ngu-tile NguCarouselItem *nguCarouselDef="let item; let i = index">
                        <post-card [descriptionLength]="150" [post]="item"></post-card>
                    </ngu-tile>
                </ngu-carousel>
            </div>
        </div>
    </div>
</ng-container>
