<!-- .megamenu -->
<div class="megamenu">
    <div class="megamenu__body">
        <div class="row">
            <div
                *ngFor="let column of menu"
                class="col-{{ column.subCategory.length > 3 ? 3 : 1 }}"
            >
                <ul class="megamenu__links megamenu__links--level--0">
                    <li
                        *ngFor="let item of column.subCategory"
                        class="megamenu__item"
                        [ngClass]="{ 'megamenu__item--with-submenu': item.subCategory }"
                    >
                        <a
                            *ngIf="!item.parentCategoryId"
                            [routerLink]="'/catalog'"
                            [target]="'_self'"
                            (click)="itemClick.emit(item)"
                            >{{ item.name }}</a
                        >
                        <a
                            *ngIf="item.parentCategoryId"
                            [href]="'/catalog'"
                            [target]="'_blank'"
                            (click)="itemClick.emit(item)"
                            >{{ item.name }}</a
                        >

                        <ul
                            *ngIf="item.subCategory && item.subCategory.length"
                            class="megamenu__links megamenu__links--level--1"
                        >
                            <li *ngFor="let subItem of item.subCategory" class="megamenu__item">
                                <a
                                    *ngIf="!subItem.parentCategoryId"
                                    [routerLink]="'/catalog'"
                                    [target]="'_self'"
                                    (click)="itemClick.emit(subItem)"
                                    >{{ subItem.name }}</a
                                >
                                <a
                                    *ngIf="subItem.parentCategoryId"
                                    [href]="'/catalog'"
                                    [target]="'_blank'"
                                    (click)="itemClick.emit(subItem)"
                                    >{{ subItem.name }}</a
                                >
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- .megamenu / end -->
