@import '../../../../variables';
@import '../../../../functions';
@import '../../../../mixins/hacks';

.megamenu {
    background: $megamenu-bg;
    color: $megamenu-font-color;
    box-shadow: $megamenu-shadow;
    min-height: 100%;
    width: 100%;
    line-height: 1.5;
    letter-spacing: 0.01em;
    overflow-y: auto;
    overscroll-behavior-y: contain;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;

    // without it IE renders a blurred menu
    @include only-ie() {
        box-shadow: 0 0 0 1px rgba(#000, 0.15);
    }
}
.megamenu__body {
    padding: 26px 30px;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100%;
    background-position: right bottom;
}

.megamenu__links {
    list-style: none;
    margin: 0;
    padding: 0;

    a {
        color: $megamenu-primary-link-color;
        transition: color 0.15s;

        &:hover {
            color: $link-hover-color;
        }
    }
}
.megamenu__links--level--0 {
    & > .megamenu__item + .megamenu__item--with-submenu,
    & > .megamenu__item--with-submenu + .megamenu__item {
        margin-top: 20px;
    }

    & > .megamenu__item {
        padding: 1px 0;
    }

    & > .megamenu__item > a {
        font-weight: $font-weight-medium;
    }

    & > .megamenu__item > a + .megamenu__links {
        padding-top: 10px;
        margin-top: 3px;
        border-top: 1px solid $megamenu-divider-color;
    }
}
.megamenu__links--level--1 {
    & > .megamenu__item > a {
        font-size: 14px;
        color: $megamenu-secondary-link-color;
        transition: color 0.15s;

        &:hover {
            color: $link-hover-color;
        }
    }
}

.col-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
}

.col-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}

.col-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.col-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.col-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}

.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.col-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}

.col-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.col-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.col-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}

.col-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}
