@import '../../../theme';

$primary: map-get($theme, primary);

:host {
    .mat-nav-list {
        width: 100%;
        a {
            .mat-icon {
                margin-right: 15px;
                color: mat-color($primary, main);
            }
            display: block;
        }
    }
    .nested-menu {
        .nested {
            list-style-type: none;
        }
        .submenu {
            display: none;
            height: 0;
        }
        & .expand {
            &.submenu {
                display: block;
                list-style-type: none;
                height: auto;
                margin: 0;
                li {
                    a {
                        padding: 10px;
                        display: block;
                    }
                }
            }
        }
    }

    .exit-button {
        width: 100%;

        ::ng-deep .mat-button-wrapper {
            display: flex;
            align-items: center;
            font-size: 16px;

            .mat-icon {
                padding-right: 15px;
            }
        }
    }
}
