<mat-nav-list>
    <a
        *ngFor="let item of routes"
        mat-list-item
        [routerLinkActive]="'active'"
        [routerLink]="[item.path]"
    >
        <mat-icon class="sidenav-icon">{{ item.data.icon }}</mat-icon>
        {{ item.data.text }}
    </a>
</mat-nav-list>
<button mat-button class="exit-button" tabindex="-1" (click)="onButtonClick()">
    <mat-icon class="sidenav-icon">exit_to_app</mat-icon>
    Выход
</button>
