@use 'sass:math';

@import '../../../../variables';
@import '../../../../mixins/card';
@import '../../../../mixins/product-card';

.products-view {
    position: relative;
}
label {
    margin-bottom: 0.25rem;
}
.products-view__options {
    padding-bottom: 20px;

    ::ng-deep mat-chip-list[role='listbox'] .mat-chip-list-wrapper {
        padding-top: 10px;
    }
}
.products-view__pagination {
    padding-top: 32px;
}
.products-view__empty {
    @include card;

    padding: 84px 0;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.products-view__empty-title {
    font-size: 24px;
    font-weight: $font-weight-medium;
}
.products-view__empty-subtitle {
    margin-bottom: 24px;
}
.products-view__loader {
    position: absolute;
    left: -10px;
    top: -10px;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    z-index: 4;
    background: rgba(#fff, 0.7);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
}
.products-view--loading {
    .products-view__loader {
        opacity: 1;
        pointer-events: auto;
    }
}

.layout-switcher__list {
    display: flex;
}
.layout-switcher__button {
    border: 1px solid $layout-switcher-default-border-color;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 9px;
    height: 32px;
    border-radius: 0;
    background: $layout-switcher-default-bg;
    fill: $layout-switcher-default-color;

    &:focus {
        outline: none;
    }

    &:hover {
        border-color: $layout-switcher-hover-border-color;
        background: $layout-switcher-hover-bg;
        fill: $layout-switcher-hover-color;
    }

    &:first-child {
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
    }
    &:last-child {
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
    }

    & + & {
        margin-left: -1px;
    }
}

.layout-switcher__button--active,
.layout-switcher__button--active:hover {
    cursor: default;
    border-color: $layout-switcher-active-border-color;
    background: $layout-switcher-active-bg;
    fill: $layout-switcher-active-color;
    z-index: 1;
}

.view-options {
    display: flex;
    align-items: center;
    font-size: 15px;
}
.view-options__legend {
    margin-left: 20px;
}
.view-options__divider {
    flex-grow: 1;
}
.view-options__filters-button {
    margin-right: 12px;
}
.view-options__control {
    display: flex;
    align-items: center;
    margin-left: 24px;

    label {
        margin-bottom: 0;
        margin-right: 8px;
    }
}

@media (max-width: breakpoint(md-end)) {
    .view-options {
        flex-wrap: wrap;
    }
    .view-options__legend {
        margin-left: auto;
    }
    .view-options__divider {
        width: 100%;
        height: 12px;
    }
    .view-options__control {
        margin-left: auto;

        & + & {
            margin-left: 24px;
        }
    }
}

@media (max-width: 474px) {
    .view-options__legend {
        width: 100%;
        padding-top: 12px;
    }
    .view-options__divider {
        height: 8px;
    }
    .view-options__control {
        display: block;
        margin-left: 0;
        margin-right: 24px;

        & + & {
            margin-left: 0;
        }
    }
}

.view-options--offcanvas--mobile {
    @media (min-width: breakpoint(lg-start)) {
        .view-options__filters-button {
            display: none;
        }
    }
}

@mixin local-layout($columns: 1, $margin-vertical: 0, $margin-horizontal: 0) {
    .products-list__body {
        margin: #{-$margin-vertical} #{-$margin-horizontal};
    }
    .products-list__item {
        @if ($columns == 1) {
            width: 100%;
        } @else {
            width: calc(#{math.div(100%, $columns)} - #{$margin-horizontal * 2});
        }
        margin: $margin-vertical $margin-horizontal;
    }
}

.products-list__body {
    display: flex;
    flex-wrap: wrap;
}
.products-list__item {
    display: flex;

    flex-card {
        display: flex;
        width: 100%;
        flex-shrink: 0;

        ::ng-deep.product-card {
            width: 100%;
            flex-shrink: 0;
        }
    }
}

.products-list[data-layout^='grid-'] ::ng-deep {
    .product-card {
        @include product-card-grid();
    }
    &[data-with-features='true'] .product-card {
        @include product-card-grid-with-features();
    }
}

.products-list[data-layout^='grid-'][data-with-features='true'] {
    ::ng-deep.product-card {
        @include product-card-grid();
        @include product-card-grid-with-features();
    }
}
.products-list[data-layout='grid-3-sidebar'] {
    @include local-layout(3, 8px, 6px);

    ::ng-deep.product-card {
        @include product-card-grid-nl();
    }

    @media (max-width: breakpoint(lg-end)) and (min-width: 480px) {
        ::ng-deep.product-card {
            @include product-card-grid-sm();
        }
    }
    @media (max-width: breakpoint(md-end)) and (min-width: breakpoint(md-start)) {
        @include local-layout(3, 8px, 6px);
    }
    @media (max-width: breakpoint(sm-end)) and (min-width: 480px) {
        @include local-layout(2, 8px, 6px);
    }
    @media (max-width: 479px) {
        @include local-layout(1, 8px, 6px);
    }
}
.products-list[data-layout='grid-4-full'] {
    @include local-layout(4, 8px, 6px);

    ::ng-deep.product-card {
        @include product-card-grid-nl();
    }

    @media (max-width: breakpoint(lg-end)) and (min-width: 480px) {
        ::ng-deep.product-card {
            @include product-card-grid-sm();
        }
    }
    @media (max-width: breakpoint(md-end)) and (min-width: breakpoint(md-start)) {
        @include local-layout(3, 8px, 6px);
    }
    @media (max-width: breakpoint(sm-end)) and (min-width: 480px) {
        @include local-layout(2, 8px, 6px);
    }
    @media (max-width: 479px) {
        @include local-layout(1, 8px, 6px);
    }
}
.products-list[data-layout='grid-5-full'] {
    @include local-layout(5, 8px, 6px);

    @media (min-width: 480px) {
        ::ng-deep.product-card {
            @include product-card-grid-sm();
        }
    }

    @media (max-width: breakpoint(lg-end)) and (min-width: breakpoint(lg-start)) {
        @include local-layout(4, 8px, 6px);
    }
    @media (max-width: breakpoint(md-end)) and (min-width: breakpoint(md-start)) {
        @include local-layout(3, 8px, 6px);
    }
    @media (max-width: breakpoint(sm-end)) and (min-width: 480px) {
        @include local-layout(2, 8px, 6px);
    }
    @media (max-width: 479px) {
        @include local-layout(1, 8px, 6px);
    }
}

.products-list[data-layout='list'] {
    @include local-layout(1, 8px);

    .products-list__item {
        display: block;
    }

    ::ng-deep.product-card {
        @include product-card-list();
    }
}

.filters-button {
    display: flex;
    align-items: center;
    padding: 0 9px;
    height: 32px;
    border: 1px solid $filters-button-default-border-color;
    border-radius: 2px;
    background: $filters-button-default-bg;
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    color: inherit;

    &:focus {
        outline: none;
    }
    &:hover {
        background: $filters-button-hover-bg;
        border-color: $filters-button-hover-border-color;
    }
}
.filters-button__icon {
    fill: $filters-button-icon-color;
    margin-right: 8px;
}
.filters-button__counter {
    display: block;
    height: 20px;
    font-size: 13px;
    font-weight: 500;
    padding: 2px 5px 0;
    border-radius: 2px;
    line-height: 16px;
    background: $filters-button-counter-bg;
    color: $filters-button-counter-font-color;
    margin-left: 12px;
    margin-right: -4px;
}
