<div
    class="products-view"
    *ngIf="catalog$ | async as items"
    [ngClass]="{ 'products-view--loading': isLoadingCatalog$ | async }"
    [formGroup]="listOptionsForm"
>
    <div class="products-view__loader"></div>

    <div *ngIf="items.length" class="products-view__content">
        <div class="products-view__options">
            <div
                class="view-options"
                [ngClass]="{
                    'view-options--offcanvas--always': offcanvas === 'always',
                    'view-options--offcanvas--mobile': offcanvas === 'mobile'
                }"
            >
                <div class="view-options__filters-button">
                    <button type="button" class="filters-button" (click)="sidebar.open()">
                        <app-icon
                            class="filters-button__icon"
                            name="filters-16"
                            size="16"
                        ></app-icon>
                        <span class="filters-button__title">Фильтер</span>
                        <span class="filters-button__counter" *ngIf="filtersCount > 0">{{
                            filtersCount
                        }}</span>
                    </button>
                </div>
                <div class="view-options__layout">
                    <div class="layout-switcher">
                        <div class="layout-switcher__list">
                            <button
                                title="Grid"
                                type="button"
                                class="layout-switcher__button"
                                [ngClass]="{ 'layout-switcher__button--active': layout === 'grid' }"
                                (click)="setLayout('grid')"
                            >
                                <app-icon name="layout-grid-16x16" size="16"></app-icon>
                            </button>
                            <button
                                title="Grid With Features"
                                type="button"
                                class="layout-switcher__button"
                                [ngClass]="{
                                    'layout-switcher__button--active':
                                        layout === 'grid-with-features'
                                }"
                                (click)="setLayout('grid-with-features')"
                            >
                                <app-icon
                                    name="layout-grid-with-details-16x16"
                                    size="16"
                                ></app-icon>
                            </button>
                            <button
                                title="List"
                                type="button"
                                class="layout-switcher__button"
                                [ngClass]="{ 'layout-switcher__button--active': layout === 'list' }"
                                (click)="setLayout('list')"
                            >
                                <app-icon name="layout-list-16x16" size="16"></app-icon>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="view-options__legend">{{ legendOptions$ | async }}</div>
                <div class="view-options__divider"></div>
                <!-- <div class="view-options__control">
                    <label for="view-options-sort">Сортировать</label>
                    <div>
                        <select class="form-control form-control-sm" id="view-options-sort" formControlName="sort">
                            <option value="default">Default</option>
                            <option value="name_asc">Name (A-Z)</option>
                            <option value="name_desc">Name (Z-A)</option>
                        </select>
                    </div>
                </div> -->
                <div class="view-options__control">
                    <label for="view-options-limit">Показать:</label>
                    <div>
                        <select
                            class="form-control form-control-sm"
                            id="view-options-limit"
                            formControlName="limit"
                            (change)="onLimitChange($event)"
                        >
                            <option
                                *ngFor="let option of pageSizeOptions$ | async"
                                [value]="option"
                            >
                                {{ option }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <mat-chip-listbox>
                <mat-chip-row
                    *ngFor="let item of selectedItems$ | async; trackBy: trackByFn"
                    [removable]="true"
                    (removed)="onRemove(item.id, item.type, item.isParent)"
                >
                    <span>{{ item.name || '' }}</span>
                    <app-icon name="cross-12" size="16" matChipRemove></app-icon>
                </mat-chip-row>
            </mat-chip-listbox>
        </div>

        <div
            class="products-view__list products-list"
            [attr.data-layout]="layout != 'list' ? grid : layout"
            [attr.data-with-features]="layout == 'grid-with-features' ? 'true' : 'false'"
        >
            <div class="products-list__body">
                <div *ngFor="let product of items; trackBy: trackByFn" class="products-list__item">
                    <flex-card [product]="product"> </flex-card>
                </div>
            </div>
        </div>

        <div class="products-view__pagination">
            <pagination
                (pageChange)="onPageChange($event)"
                [siblings]="2"
                [current]="pageIndex$ | async"
                [total]="pageCount$ | async"
            >
            </pagination>
        </div>
    </div>

    <div *ngIf="!items.length" class="products-view__empty">
        <div class="products-view__empty-title">Элементов не найдено</div>
        <div class="products-view__empty-subtitle">Попробуйте сбросить фильтры</div>
        <button type="button" class="btn btn-primary btn-sm" (click)="resetFilters()">
            Сбросить фильтры
        </button>
    </div>
</div>
