@import '../../../../../variables';
@import '../../../../../functions';

$local-item-margin: 6px;

.block-categories__list {
    display: flex;
    flex-wrap: wrap;
    margin: -$local-item-margin;
}
.block-categories__item {
    margin: $local-item-margin;
    background: $category-card-bg;
    box-shadow: $category-card-shadow;
    width: calc(33.3333% - #{$local-item-margin * 2});
}

.block--highlighted {
    background: $block-highlighted-bg;
}

.block-categories--layout--classic {
    @media (min-width: 480px) and (max-width: breakpoint(sm-end)) {
        .block-categories__item {
            width: calc(50% - #{$local-item-margin * 2});
        }
    }
    @media (max-width: 479px) {
        .block-categories__item {
            width: calc(100% - #{$local-item-margin * 2});
        }
    }
}

.block-categories--layout--compact {
    @media (min-width: breakpoint(md-start)) and (max-width: breakpoint(md-end)) {
        .block-categories__item {
            width: calc(50% - #{$local-item-margin * 2});
        }
    }
    @media (max-width: breakpoint(sm-end)) {
        .block-categories__item {
            width: calc(100% - #{$local-item-margin * 2});
        }
    }
}

.category-card {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%),
        0 1px 3px 0 rgb(0 0 0 / 12%);
}
.category-card__body {
    display: flex;
    padding: 0 19px 15px;
    flex-grow: 1;
}
.category-card__image {
    width: 160px;
    min-width: 125px;
    margin-right: 5px;
    display: flex;
    align-items: center;

    img {
        max-width: 100%;
    }
}
.category-card__content {
    display: flex;
    flex-direction: column;
}
.category-card__name {
    padding-top: 15px;
    font-weight: $font-weight-semi-bold;
    text-align: center;
    font-size: 21px;
    line-height: 21px;

    a {
        color: inherit;
        transition: 0.15s;
    }
    a:hover {
        color: $link-hover-color;
    }
}
.category-card__links {
    list-style: none;
    margin: 14px 0 0;
    padding: 0;
    font-size: 14px;
    line-height: 22px;
    flex-grow: 1;

    a {
        color: $category-card-links-font-color;
        transition: 0.15s;
    }
    a:hover {
        color: $link-hover-color;
    }
}
.category-card__all {
    margin-top: 14px;
    font-size: 14px;

    a:hover {
        text-decoration: underline;
    }
}
.category-card__products {
    display: none;
}

.category-card--layout--classic {
    @media (min-width: breakpoint(lg-start)) and (max-width: breakpoint(lg-end)) {
        .category-card__image {
            width: 90px;
        }
    }
    @media (min-width: 480px) and (max-width: breakpoint(md-end)) {
        .category-card__body {
            flex-direction: column;
            padding: 24px 28px;
        }
        .category-card__image {
            width: auto;
            margin: 0 0 18px;
        }
    }
    @media (min-width: 400px) and (max-width: 479px) {
        .category-card__image {
            width: 40%;
        }
    }
    @media (max-width: 399px) {
        .category-card__body {
            flex-direction: column;
            padding: 24px 28px;
            align-items: center;
        }
        .category-card__image {
            width: 120px;
            margin: 0 auto 18px;
        }
    }
}

.category-card--layout--compact {
    .category-card__body {
        padding: 16px 30px;
        align-items: center;
    }
    .category-card__image {
        width: 74px;
        margin-right: 30px;
    }
    .category-card__links {
        display: none;
    }
    .category-card__all {
        display: none;
    }
    .category-card__name {
        margin-top: 0;
        font-size: 17px;
        line-height: 19px;
    }
    .category-card__products {
        display: block;
        font-size: 15px;
        color: $category-card-counter-font-color;
        margin-top: 5px;
    }
}
