<!-- <div class="categories" *ngIf="categories$ | async as categories">
    <mat-card class="example-card" *ngFor="let category of categories"
        (click)="onNavigate(category.id);$event.preventDefault()">
        <image-wrapper [image]="category.image" [name]="category.name"></image-wrapper>
        <mat-card-content (click)="$event.stopPropagation()">
            <a class="ellipsis" [routerLink]="'subcategories/' + category.id">
                {{category.name}}
            </a>
        </mat-card-content>
    </mat-card>
</div> -->
<div class="block--highlighted block-categories block-categories--layout--{{ layout }}">
    <div class="container">
        <block-header [header]="header"></block-header>
        <div class="block-categories__list">
            <div
                *ngFor="let category of categories$ | async"
                class="block-categories__item category-card category-card--layout--{{ layout }}"
            >
                <div class="category-card__name">
                    <a [routerLink]="category.link">{{ category.name }}</a>
                </div>
                <div class="category-card__body">
                    <div class="category-card__image">
                        <a [routerLink]="category.link"
                            ><img
                                [lazyLoad]="category.image"
                                draggable="false"
                                [alt]="category.name"
                        /></a>
                    </div>
                    <div class="category-card__content">
                        <ul class="category-card__links">
                            <li *ngFor="let children of category.subCategoryLink?.slice(0, 5)">
                                <a [routerLink]="children.link" [queryParams]="children.queryParams"
                                    >{{ children.name }}.</a
                                >
                            </li>
                        </ul>
                        <div class="category-card__all">
                            <a [routerLink]="category.link">Показать все</a>
                        </div>
                        <div class="category-card__products">
                            {{ category.subCategoryLink.length }} Категорий
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
