:host {
    height: 100%;
    display: flex;
    flex-direction: column;

    .mat-dialog-content {
        flex: 1;
        max-height: 75vh;
        overflow-y: auto;
    }
}

.message {
    font-size: 18px;
    letter-spacing: 0.1px;
    font-weight: bold;
    line-height: 22px;
}

.mat-dialog-title {
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    padding: 0;
    margin: 0;
}

.mat-dialog-content {
    font-size: 14px;
    line-height: 22px;

    p {
        margin: 13px 0 8px;
    }
}

.mat-dialog-actions {
    justify-content: space-between;

    .second-action-btn {
        margin-right: 15px;
    }
}

button {
    text-transform: uppercase;
}

.mat-divider {
    margin: 0 -24px;
}

.row {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    .mat-form-field {
        flex: 1;
        padding-right: 15px;
    }
}
