<h1 mat-dialog-title>Запросить цену</h1>
<p class="message">Укажите свои контактные данные и мы предложим вам лучшую цену!</p>
<div mat-dialog-content>
    <form [formGroup]="requestGroup">
        <div class="row w-100">
            <mat-form-field appearance="outline">
                <mat-label>Контактное лицо</mat-label>
                <input matInput formControlName="name" />
                <mat-error
                    *ngIf="requestGroup.controls['name'].hasError('required')"
                    [innerHTML]="'Обязательное поле для заполнения'"
                >
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Электронная почта</mat-label>
                <input matInput formControlName="email" required />
                <mat-error
                    *ngIf="requestGroup.controls['email'].hasError('required')"
                    [innerHTML]="'Обязательное поле для заполнения'"
                >
                </mat-error>
                <mat-error
                    *ngIf="requestGroup.controls['email'].hasError('email')"
                    [innerHTML]="'Пожалуйста, введите корректный адрес электронной почты'"
                >
                </mat-error>
            </mat-form-field>
        </div>

        <div class="row w-100">
            <mat-form-field appearance="outline">
                <mat-label>Контактный телефон</mat-label>
                <input matInput formControlName="phone" required />
                <mat-error
                    *ngIf="requestGroup.controls['phone'].hasError('required')"
                    [innerHTML]="'Обязательное поле для заполнения'"
                >
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Город</mat-label>
                <input matInput formControlName="city" />
                <mat-error
                    *ngIf="requestGroup.controls['city'].hasError('required')"
                    [innerHTML]="'Обязательное поле для заполнения'"
                >
                </mat-error>
            </mat-form-field>
        </div>
        <div class="row w-100">
            <mat-form-field appearance="outline">
                <mat-label>Комментарий к заказу</mat-label>
                <textarea rows="6" matInput formControlName="comment"></textarea>
            </mat-form-field>
        </div>
    </form>
</div>

<mat-divider></mat-divider>

<div mat-dialog-actions>
    <button mat-button type="button" color="accent" tabindex="-1" (click)="onClose()">
        Закрыть
    </button>

    <button
        mat-raised-button
        type="button"
        color="accent"
        tabindex="-1"
        [disabled]="requestGroup.invalid"
        (click)="onSave()"
    >
        Отправить
    </button>
</div>
