//primary
$primary-color: #00796b !default;
//red
$red-color: #bf1725 !default;
// light
$light-color: #fff !default;
$light-opposite-color: #3d464d !default;
$light-opposite-muted-color: #999 !default;
$light-opposite-alt-color: #6c757d !default;
$light-divider-color: #ebebeb !default;
// dark
$dark-color: $light-opposite-color !default;
$dark-opposite-color: $light-color !default;
// accent
$accent-color: #1875d1 !default;
$accent-opposite-color: $light-opposite-color !default;
//links
$link-color: #1a66ff !default;
$link-hover-color: #1a66ff !default;
$gradient-background-color: linear-gradient(90deg, #00796b 0, #4b746b) !default;
