@import '../../variables';
@import '../../functions';

.site-header {
    position: relative;
    z-index: 100;
    background: $header-bg;
    color: $header-font-color;
}
.site-header__middle {
    display: flex;
    align-items: center;
    height: 104px;
}
.site-header__logo {
    flex-shrink: 0;
    width: 255px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $header-logo-color;
    margin-left: 30px;

    a {
        color: inherit;
        display: flex;
    }

    svg {
        fill: currentColor;
    }
}
.site-header__search {
    flex-grow: 1;
}
.site-header__phone {
    line-height: 1;
    flex-shrink: 0;
    text-align: right;
    margin-left: 80px;
}
.site-header__phone-title {
    font-size: 14px;
    color: $header-font-muted-color;
    margin-bottom: 6px;
}
.site-header__phone-number {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: $font-weight-bold;
    color: $header-logo-color;
    user-select: none;
    text-decoration: none;

    app-icon {
        font-size: 24px;
    }
}
.site-header__nav-panel {
    height: $nav-panel-height;
}

@media (min-width: breakpoint(lg-start)) and (max-width: breakpoint(lg-end)) {
    .site-header__logo {
        width: 220px;
        justify-content: flex-start;
        margin-left: 24px;
    }
}
