<div class="site-header">
    <div *ngIf="layout === 'classic'" class="site-header__middle container">
        <div class="site-header__logo">
            <a routerLink="/">
                <svg xmlns="http://www.w3.org/2000/svg" width="70px" height="40px">
                    <use [attr.xlink:href]="logo"></use>
                </svg>
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 430.6386719 79.1269531"
                    width="150px"
                    height="35px"
                >
                    <text
                        x="2"
                        y="80"
                        font-size="100"
                        font-family="'Cambria', sans-serif"
                        word-spacing="30"
                    >
                        {{ name }}
                    </text>
                </svg>
            </a>
        </div>
        <div class="site-header__search">
            <app-search></app-search>
        </div>
        <div class="site-header__phone">
            <div class="site-header__phone-title">Обслуживание клиентов</div>
            <a
                *ngIf="mobilePhones$ | async as mobilePhones"
                class="site-header__phone-number"
                [href]="'tel:' + mobilePhones[0]"
            >
                <app-icon name="phone-24" size="26" color="#00d200"></app-icon>
                {{ mobilePhones[0] }}
            </a>
        </div>
    </div>

    <div class="site-header__nav-panel">
        <app-header-nav
            [departments]="layout === 'classic'"
            [logo]="layout === 'compact'"
            [search]="layout === 'compact'"
            stickyMode="pullToShow"
        ></app-header-nav>
    </div>
</div>
