@mixin confirm-dialog-theme($theme) {
    $foreground: map-get($theme, foreground);

    confirm-dialog {
        .mat-dialog-title,
        .dialog-content {
            color: mat-color($foreground, text);
        }
    }
}
