<h1 mat-dialog-title>{{ data?.title ? data.title : 'Удалить продукт' }}</h1>
<div class="dialog-content">
    <p>{{ data?.message ? data.message : 'Вы уверены что хотите удалить?' }}</p>
    <mat-checkbox color="primary" *ngIf="data?.isShowConfirmCheckbox" [(ngModel)]="isShowConfirm">
        Don't show again
    </mat-checkbox>
</div>
<div mat-dialog-actions>
    <button
        id="confirm-dialog-cancel-btn"
        mat-button
        type="button"
        color="primary"
        tabindex="-1"
        (click)="onClose(false)"
    >
        {{ data?.cancelLabel ? data.cancelLabel : 'Отмена' }}
    </button>
    <button
        id="confirm-dialog-confirm-btn"
        mat-raised-button
        type="button"
        color="primary"
        tabindex="-1"
        (click)="onClose(true)"
    >
        {{ data?.confirmLabel ? data.confirmLabel : 'Удалить' }}
    </button>
</div>
