::ng-deep .small-dialog .mat-dialog-container {
    max-width: 420px;
}

.mat-dialog-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    text-transform: capitalize;
    margin: 0;
    padding: 0;
}

.dialog-content {
    font-size: 14px;
    line-height: 20px;

    p {
        margin-bottom: 8px;
        white-space: pre-line;
    }
}

.mat-dialog-actions {
    justify-content: space-between;
}

button {
    text-transform: uppercase;
}
