@import '../../../theme';

$primary: map-get($theme, primary);
$warn: map-get($theme, warn);

.mat-column-progress {
    max-width: 40px;
}

.bg-white {
    height: 100%;
    overflow: auto;
    background-color: #fafafa;
}

.filter {
    background-color: #fafafa;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.check-box {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    background: mat-color($warn, lighter);
}

.mat-table {
    .mat-row {
        cursor: pointer;

        &:hover,
        &.selected {
            background-color: mat-color($primary, 400);

            .mat-checkbox {
                opacity: 1;
            }
        }

        &:hover button {
            opacity: 1;
        }
    }
}
