<div class="filter">
    <mat-form-field>
        <input matInput [formControl]="searchControl" placeholder="Фильтр" />
    </mat-form-field>
    <mat-checkbox [checked]="isErrorChecked" (change)="onSearch($event)" class="check-box"
        >Товар без категории</mat-checkbox
    >
</div>
<section id="sample-table6" class="bg-white">
    <table mat-table [dataSource]="dataSource" matSort class="w-100">
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox
                    (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                >
                </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox
                    (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)"
                >
                </mat-checkbox>
            </td>
        </ng-container>
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
            <td mat-cell *matCellDef="let row">{{ row.id }}</td>
        </ng-container>

        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Цена</th>
            <td mat-cell *matCellDef="let row">
                {{ row.price | currency: 'RUB':'symbol-narrow' }}
            </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Название</th>
            <td mat-cell *matCellDef="let row">{{ row.name }}</td>
        </ng-container>

        <ng-container matColumnDef="count">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Количество</th>
            <td mat-cell *matCellDef="let row">{{ row.count }}</td>
        </ng-container>

        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
                <button mat-button (click)="onDelete(row.id); $event.stopPropagation()">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="onOpen(row.id)"></tr>
    </table>
</section>

<mat-paginator
    [length]="total$ | async"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    (page)="onChangePaginator($event)"
>
</mat-paginator>
