<ng-container *ngIf="wishlist$ | async as wishlist">
    <page-header [breadcrumbs]="breadcrumbs"></page-header>
    <div class="block block-empty" *ngIf="!wishlist?.length">
        <div class="container">
            <div class="block-empty__body">
                <div class="block-empty__message">Ваш список ожиданий пуст!</div>
                <div class="block-empty__actions">
                    <a routerLink="/catalog" class="btn btn-primary btn-sm">Продолжить</a>
                </div>
            </div>
        </div>
    </div>

    <div class="block" *ngIf="wishlist?.length">
        <div class="container">
            <table class="wishlist">
                <thead class="wishlist__head">
                    <tr class="wishlist__row">
                        <th class="wishlist__column wishlist__column--image">Фото</th>
                        <th class="wishlist__column wishlist__column--product">Продукт</th>
                        <th class="wishlist__column wishlist__column--stock">В наличии</th>
                        <th class="wishlist__column wishlist__column--price">Цена</th>
                        <th class="wishlist__column wishlist__column--tocart">
                            Добавить в корзину
                        </th>
                        <th class="wishlist__column wishlist__column--remove"></th>
                    </tr>
                </thead>
                <tbody class="wishlist__body">
                    <tr *ngFor="let product of wishlist" class="wishlist__row">
                        <td class="wishlist__column wishlist__column--image">
                            <div class="product-image">
                                <a
                                    [routerLink]="'/catalog/product/' + product.id"
                                    class="product-image__body"
                                >
                                    <img class="product-image__img" [src]="product.image" alt="" />
                                </a>
                            </div>
                        </td>
                        <td class="wishlist__column wishlist__column--product">
                            <a
                                [routerLink]="'/catalog/product/' + product.id"
                                class="wishlist__product-name"
                                >{{ product.name }}</a
                            >
                            <!-- <div class="wishlist__product-rating">
                            <app-rating [value]="product.rating"></app-rating>
                            <div class="wishlist__product-rating-legend">{{ product.reviews }} Reseñas</div>
                        </div> -->
                        </td>
                        <td class="wishlist__column wishlist__column--stock">
                            <div class="badge badge-success">В наличии</div>
                        </td>
                        <td class="wishlist__column wishlist__column--price">
                            {{
                                product.price
                                    | precentageDeduction: product.discount
                                    | currency: 'RUB':'symbol-narrow'
                            }}
                        </td>
                        <td class="wishlist__column wishlist__column--tocart">
                            <button
                                type="button"
                                class="btn btn-primary btn-sm"
                                (click)="addToCart(product)"
                                [ngClass]="{ 'btn-loading': addingToCart }"
                            >
                                {{ product.price ? 'В корзину' : 'Запросить цену' }}
                            </button>
                        </td>
                        <td class="wishlist__column wishlist__column--remove">
                            <button
                                type="button"
                                class="btn btn-light btn-sm btn-svg-icon"
                                (click)="onRemove(product.id)"
                                [ngClass]="{ 'btn-loading': addingToCart }"
                            >
                                <app-icon name="cross-12" size="12"></app-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</ng-container>
