<div class="filter">
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event)" placeholder="Фильтр" />
    </mat-form-field>
</div>
<section id="sample-table4" class="bg-white">
    <table
        class="w-100"
        mat-table
        [dataSource]="dataSource"
        (matSortChange)="sortData($event)"
        matSort
    >
        <ng-container matColumnDef="lastSendMessage">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Время отправки</th>
            <td mat-cell *matCellDef="let row">
                {{ row.lastSendMessage | date: 'M/d/yyy, H:mm' }}
            </td>
        </ng-container>

        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Почта</th>
            <td mat-cell *matCellDef="let row">{{ row.email }}</td>
        </ng-container>

        <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Моб.Номер</th>
            <td mat-cell *matCellDef="let row">{{ row.phone }}</td>
        </ng-container>

        <ng-container matColumnDef="director">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Имя</th>
            <td mat-cell *matCellDef="let row">{{ row.director }}</td>
        </ng-container>

        <ng-container matColumnDef="isSend">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Отказался от рассылки</th>
            <td mat-cell *matCellDef="let row">{{ row.isSend ? 'Нет' : 'Да' }}</td>
        </ng-container>

        <ng-container matColumnDef="isSendTemplate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Буклет отправлен</th>
            <td mat-cell *matCellDef="let row">{{ row.isSendTemplate ? 'Да' : 'Нет' }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
</section>

<mat-paginator
    [length]="count$ | async"
    [pageSize]="pageSize$ | async"
    [pageIndex]="currentPage$ | async"
    [pageSizeOptions]="pageSizeOptions"
    (page)="onChangePaginator($event)"
>
</mat-paginator>
