<h1 mat-dialog-title>Конфигурация ассоциаций</h1>

<div mat-dialog-content>
    <cdk-virtual-scroll-viewport itemSize="87">
        <ng-container
            *cdkVirtualFor="
                let association of associationsFromArray.controls;
                let i = index;
                templateCacheSize: 0
            "
        >
            <div class="row w-100">
                <div>
                    <a [href]="association.controls['siteCategoryUrl'].value">
                        <span class="hidden-sm category-name ellipsis">
                            {{ association.controls['siteCategoryName'].value }}
                        </span>
                    </a>
                    <mat-checkbox
                        class="check-box"
                        [formControl]="association.controls['isSiteCategoryExcluded']"
                    >
                        Исключить категорию
                    </mat-checkbox>
                </div>
                <form class="tree-form" novalidate>
                    <tree-select
                        name="simpleSelect"
                        [items]="items"
                        childrenField="subCategory"
                        idField="id"
                        textField="name"
                        [(ngModel)]="association.controls['category'].value"
                        required="true"
                        #simpleSelect="ngModel"
                        [filterPlaceholder]="FilterPlaceholder"
                        [placeholder]="'Название категории'"
                        [allowFilter]="ShowFilter"
                        [disabled]="association.controls['isSiteCategoryExcluded'].value"
                        [allowParentSelection]="allowParentSelection"
                        (ngModelChange)="valueChange($event, association)"
                    >
                    </tree-select>
                    <div
                        *ngIf="simpleSelect.errors && (simpleSelect.dirty || simpleSelect.touched)"
                        class="alert alert-danger"
                    >
                        <div [hidden]="!simpleSelect.invalid" class="warn">
                            Обязательное поле для заполнения
                        </div>
                    </div>
                </form>
            </div>
            <mat-divider></mat-divider>
        </ng-container>
    </cdk-virtual-scroll-viewport>
</div>

<mat-divider></mat-divider>

<div mat-dialog-actions>
    <button mat-button type="button" color="accent" tabindex="-1" (click)="onClose()">
        Закрыть
    </button>

    <button mat-raised-button type="button" color="accent" tabindex="-1" (click)="onSave()">
        Отправить
    </button>
</div>
