:host {
    height: 100%;
    display: flex;
    flex-direction: column;

    .mat-dialog-content {
        flex: 1;
        max-height: 75vh;
        overflow-y: auto;
    }
}

.cdk-virtual-scroll-viewport {
    height: 100%;
    overflow-x: hidden;

    ::ng-deep .cdk-virtual-scroll-content-wrapper {
        width: 100%;
    }
}

a {
    color: blue;
}

.message {
    font-size: 18px;
    letter-spacing: 0.1px;
    font-weight: bold;
    line-height: 22px;
}

.mat-dialog-title {
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    padding: 0;
    margin: 0;
}

.mat-dialog-content {
    font-size: 14px;
    line-height: 22px;

    p {
        margin: 13px 0 8px;
    }
}

.mat-dialog-actions {
    justify-content: space-between;

    .second-action-btn {
        margin-right: 15px;
    }
}

button {
    text-transform: uppercase;
}

.category-name {
    font-size: 20px;
    padding-bottom: 5px;
}

.mat-divider {
    margin: 0 -24px;
}

.row {
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.tree-form {
    height: 57px;
    padding: 15px;
    min-width: 287px;
    width: 40%;
    position: relative;
}
