<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <mat-tree-node
        *matTreeNodeDef="let node"
        matTreeNodeToggle
        matTreeNodePadding
        matTreeNodePaddingIndent="10"
    >
        <button class="toggle-button" disabled></button>
        <label class="filter-list__item">
            <span class="filter-list__input input-check">
                <span class="input-check__body">
                    <input
                        class="input-check__input"
                        type="checkbox"
                        [checked]="checklistSelection.isSelected(node)"
                        [name]="'filter_subCategories'"
                        (change)="todoLeafItemSelectionToggle(node)"
                    />
                    <span class="input-check__box"></span>
                    <app-icon class="input-check__icon" name="check-9x7" size="9x7"></app-icon>
                </span>
            </span>

            <span class="filter-list__title">{{ node.item }}</span>
        </label>
    </mat-tree-node>

    <mat-tree-node
        *matTreeNodeDef="let node; when: hasChild"
        matTreeNodePadding
        matTreeNodePaddingIndent="10"
    >
        <button
            class="toggle-button"
            matTreeNodeToggle
            [attr.aria-label]="'toggle ' + node.filename"
        >
            <app-icon
                [ngClass]="{ rotated: treeControl.isExpanded(node) }"
                size="8x13"
                color="#3d464d"
                name="arrow-rounded-right-7x11"
            >
            </app-icon>
        </button>
        <label class="filter-list__item">
            <span class="filter-list__input input-check">
                <span class="input-check__body">
                    <input
                        class="input-check__input"
                        type="checkbox"
                        [checked]="descendantsAllSelected(node)"
                        [ngClass]="{ mixed: descendantsPartiallySelected(node) }"
                        [name]="'filter_subCategory'"
                        (change)="todoItemSelectionToggle(node)"
                    />
                    <span class="input-check__box"></span>
                    <app-icon class="input-check__icon" name="check-9x7" size="9x7"></app-icon>
                    <app-icon class="input-mixed__icon" name="minus-9x7" size="9x7"></app-icon>
                </span>
            </span>

            <span class="filter-list__title">{{ node.item }}</span>
        </label>
    </mat-tree-node>
</mat-tree>
