@use 'sass:map';
@import '../../../../theme';
@import '../../../../variables';
@import '../../../../input-check';

$background: map.get($theme, background);
$local-margin: 8px;

:host {
    .mat-tree {
        background: get-color-from-palette($background, shop-background);

        .mat-tree-node {
            min-height: auto;

            .toggle-button {
                margin: -4px 0;
                width: 30px;
                line-height: 30px;
                height: 30px;
                background: none;
                border: none;
                cursor: pointer;
            }

            app-icon {
                display: flex;
                justify-content: center;
                transition: all 0.7s;
            }

            .rotated {
                transform: rotate(90deg);
            }

            .filter-list__item {
                padding: 1px 0;
                cursor: pointer;
                display: flex;
                align-items: center;

                .filter-list__title {
                    padding: 1px 0;
                    font-size: 14px;
                    line-height: 16px;
                    flex-grow: 1;
                    transition: color 0.2s;
                }

                .filter-list__item--disabled {
                    cursor: default;

                    .filter-list__title {
                        color: $card-font-muted-color;
                    }

                    .filter-list__counter {
                        display: none;
                    }
                }

                .filter-list__input {
                    flex-shrink: 0;
                    margin-right: 7px;
                }
            }
        }
    }
}
