@import '../../../../theme';

$primary: map-get($theme, primary);

:host {
    flex-direction: column;
}

.mat-drawer-container {
    display: flex;
    flex: 1;
}

.mat-drawer {
    flex-direction: column;
    display: flex;
    flex: 1;
    transform: translateX(-100%) translateX(32px);
}

.mat-drawer-content {
    flex-direction: column;
    display: flex;
    flex: 1;
}

.empty-state {
    flex: 1;
    width: 100%;
    flex-direction: column;
    display: flex;
}

.hidden-mat-drawer {
    visibility: visible !important;
}

.hidden-mat-drawer-content {
    margin-left: 32px !important;
}

.empty-state-message {
    background-color: mat-color($primary, 300);
    color: #44465b;
    font-size: 16px;
    width: 100%;
    flex: 1;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}
