<ng-container
    *ngIf="{
        isCollapsed: isCollapsed$ | async
    } as data"
>
    <mat-sidenav-container class="second-sidenav-container" [class.collapsed]="data.isCollapsed">
        <mat-sidenav
            class="mat-drawer secondary-sidenav"
            [class.hidden-mat-drawer]="data.isCollapsed"
            #secondarySideNav
            mode="side"
            disableClose
        >
            <secondary-menu
                [items]="brands$ | async"
                [showCreating]="false"
                [filterItems]="filterItems"
                [menuElement]="secondarySideNav"
                [isCollapsed]="data.isCollapsed"
            >
            </secondary-menu>
        </mat-sidenav>
        <div
            class="mat-drawer-content"
            [ngClass]="{ 'hidden-mat-drawer-content': data.isCollapsed }"
        >
            <div *ngIf="!(brands$ | async)" class="empty-state">
                <span class="empty-state-message"> Создайте брэнд </span>
            </div>
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-container>
</ng-container>
