<div class="product product--layout--{{ layout }}" *ngIf="product">
    <div itemscope itemtype="http://schema.org/Product" class="product__content">
        <!-- .product__gallery -->
        <div class="product__gallery">
            <product-gallery [productLayout]="layout" [images]="[product.image]"></product-gallery>
        </div>
        <!-- .product__gallery / end -->
        <!-- .product__info -->
        <div class="product__info">
            <!-- <div class="product__wishlist-compare">
                <button type="button" class="btn btn-sm btn-light btn-svg-icon" data-toggle="tooltip" data-placement="right" title="Wishlist"
                        appClick (click)="addToWishlist()"
                        [ngClass]="{'btn-loading': addingToWishlist}">
                    <app-icon name="wishlist-16" size="16"></app-icon>
                </button>
                <button type="button" class="btn btn-sm btn-light btn-svg-icon" data-toggle="tooltip" data-placement="right" title="Compare"
                        appClick (click)="addToCompare()"
                        [ngClass]="{'btn-loading': addingToCompare}">
                    <app-icon name="compare-16" size="16"></app-icon>
                </button>
            </div> -->
            <h1 itemprop="name" class="product__name">{{ product.name }}</h1>
            <!-- <div class="product__rating">
                <div class="product__rating-stars">
                    <app-rating [value]="product.rating"></app-rating>
                </div>
                <div class="product__rating-legend">
                    <a href="" appClick>{{ product.reviews }} Reviews</a><span>/</span><a href="" appClick>Write A Review</a>
                </div>
            </div> -->
            <div class="product__description">
                {{ pravoInfo }}
            </div>
            <ul class="product__features">
                <li *ngFor="let feature of product.techProperties | keyvalue">
                    {{ feature.key }}: {{ feature.value }}
                </li>
            </ul>
            <ul class="product__meta">
                <li class="product__meta-availability">
                    Доступность: <span class="text-success">В наличии</span>
                </li>
                <meta itemprop="sku" [content]="product.properties.vendorCode || product.id" />
                <meta itemprop="mpn" [content]="product.properties.vendorCode || product.id" />
                <li *ngIf="product.properties.brand">
                    Производитель:
                    <a
                        routerLink="/catalog"
                        [queryParams]="{ brand: product.properties.brand.id }"
                        appClick
                        itemprop="brand"
                        itemtype="https://schema.org/Brand"
                        itemscope
                        ><span itemprop="name">{{ product.properties.brand.value }}</span></a
                    >
                </li>
                <li>SKU: {{ product.id }}</li>
            </ul>
        </div>
        <meta itemprop="description" [content]="description" />
        <!-- .product__info / end -->
        <!-- .product__sidebar -->
        <div class="product__sidebar">
            <div class="product__availability">
                Доступность: <span class="text-success">В наличии</span>
            </div>

            <div
                class="product__prices"
                itemprop="offers"
                itemscope
                itemtype="http://schema.org/Offer"
            >
                <ng-container *ngIf="product.discount">
                    <span class="product__new-price">{{
                        product.price
                            | precentageDeduction: product.discount
                            | currency: 'RUB':'symbol-narrow'
                    }}</span>
                    {{ ' ' }}
                    <span class="product__old-price">{{
                        product.price | currency: 'RUB':'symbol-narrow'
                    }}</span>
                </ng-container>
                <ng-container *ngIf="!product.discount">
                    <span>{{
                        product.price
                            ? (product.price | currency: 'RUB':'symbol-narrow')
                            : 'Цена по запросу'
                    }}</span>
                </ng-container>
                <meta itemprop="url" [content]="siteUrl + 'catalog/product/' + product.id" />
                <meta itemprop="price" [content]="product.price ? product.price : 0" />
                <meta itemprop="priceCurrency" content="RUB" />
                <meta itemprop="priceValidUntil" [content]="nextWeek.toISOString().substr(0, 10)" />
                <link
                    itemprop="availability"
                    [href]="
                        (product.price
                            ? 'http://schema.org/InStock'
                            : 'http://schema.org/OutOfStock'
                        ) | noSanitize: 'resourceUrl'
                    "
                />
            </div>
            <!-- .product__options -->
            <form class="product__options">
                <div class="form-group product__option">
                    <label *ngIf="product.price" class="product__option-label">Количество</label>
                    <div class="product__actions">
                        <div *ngIf="product.price" class="product__actions-item">
                            <input-number
                                aria-label="Quantity"
                                class="product__quantity"
                                size="lg"
                                [min]="1"
                                [formControl]="quantity"
                            ></input-number>
                        </div>
                        <div class="product__actions-item product__actions-item--addtocart">
                            <button
                                type="button"
                                class="btn btn-primary btn-lg"
                                [ngClass]="{ 'btn-loading': addingToCart }"
                                appClick
                                (click)="addToCart()"
                            >
                                {{ product.price ? 'Купить' : 'Запросить цену' }}
                            </button>
                        </div>
                        <!-- <div class="product__actions-item product__actions-item--wishlist">
                            <button type="button" class="btn btn-secondary btn-svg-icon btn-lg" data-toggle="tooltip" title="Wishlist"
                                    [ngClass]="{'btn-loading': addingToWishlist}"
                                    appClick (click)="addToWishlist()">
                                <app-icon name="wishlist-16" size="16"></app-icon>
                            </button>
                        </div>
                        <div class="product__actions-item product__actions-item--compare">
                            <button type="button" class="btn btn-secondary btn-svg-icon btn-lg" data-toggle="tooltip" title="Compare"
                                    [ngClass]="{'btn-loading': addingToCompare}"
                                    appClick (click)="addToCompare()">
                                <app-icon name="compare-16" size="16"></app-icon>
                            </button>
                        </div> -->
                    </div>
                </div>
            </form>
            <!-- .product__options / end -->
        </div>
        <!-- .product__end -->
        <div class="product__footer">
            <share-buttons
                class="product__share-buttons"
                [buttons]="['whatsapp', 'telegram', 'vk', 'ok', 'email']"
                [pageUrl]="'/catalog/product/' + product.id | absoluteUrl: 'angular'"
                [pageTitle]="product.name"
                [pageImage]="product.image | absoluteUrl: 'html'"
            ></share-buttons>
        </div>
    </div>
</div>
