<div class="home">
    <div class="mb10 item">
        <app-stat
            [bgClass]="'danger'"
            [icon]="'bookmarks'"
            [count]="13"
            [label]="'New Tickets!'"
        ></app-stat>
    </div>
    <div class="mb10 item">
        <app-stat
            [bgClass]="'warn'"
            [icon]="'view_list'"
            [count]="12"
            [label]="'New Task!'"
        ></app-stat>
    </div>
    <div class="mb10 item">
        <app-stat
            [bgClass]="'success'"
            [icon]="'shopping_cart'"
            [count]="124"
            [label]="'New Orders!'"
        ></app-stat>
    </div>
    <div class="mb10 item">
        <app-stat
            [bgClass]="'info'"
            [icon]="'contact_support'"
            [count]="13"
            [label]="'New Tickets!'"
        ></app-stat>
    </div>
</div>
