:host {
    .home {
        flex-direction: row;
        flex-wrap: wrap;
        box-sizing: border-box;
        display: flex;
        place-content: stretch space-between;
        align-items: stretch;
        max-height: 100%;
    }

    .item {
        box-sizing: border-box;
        flex: 1;
        max-width: 100%;
        min-width: 240px;
        margin-right: 10px;
    }
}
