@import '../../../../../variables';
@import '../../../../../functions';
@import '../../../../../mixins/card';

.block-features__list {
    @include card();
    display: flex;
    flex-wrap: wrap;

    &:first-child {
        border-bottom: none;
    }
}

.block-features__item {
    flex-basis: 0;
    flex-grow: 1;
    padding: 11px 5px 14px 11px;
    display: flex;
}

.block-features__divider {
    flex-shrink: 0;
}

.block-features__icon {
    flex-shrink: 0;
    width: 48px;
    height: 48px;
    fill: $block-features-icon-color;
    margin-right: 15px;

    svg {
        display: block;
    }
}

.block-features__content {
    padding-top: 2px;
}

.block-features__title {
    font-size: 16px;
    line-height: 22px;
    font-weight: $font-weight-bold;
}

.block-features__subtitle {
    font-size: 14px;
}

.block-features--layout--boxed {
    $local-margin: 14px;

    .block-features__list {
        border: none;
    }

    .block-features__item {
        flex-direction: column;
        background: $block-features-boxed-bg;
        border-radius: 3px;
        text-align: center;
        align-items: center;
        padding: 20px 18px 18px;
    }

    .block-features__divider {
        width: $local-margin;
    }

    .block-features__icon {
        margin-bottom: 12px;
        margin-right: 0;
    }

    @media (min-width: 480px) and (max-width: breakpoint(md-end)) {
        .block-features__list {
            flex-wrap: wrap;
        }

        .block-features__item {
            width: 50%;
        }

        .block-features__divider:nth-child(4n) {
            width: 100%;
            height: $local-margin;
        }
    }

    @media (max-width: 479px) {
        .block-features__list {
            flex-wrap: wrap;
        }

        .block-features__item {
            width: 100%;
        }

        .block-features__divider {
            width: 100%;
            height: $local-margin;
        }
    }
}

.block-features--layout--classic {
    .block-features__divider {
        flex-shrink: 0;
        width: 2px;
        background: $card-border-color;
    }

    @media (max-width: breakpoint(lg-end)) and (min-width: breakpoint(lg-start)),
        (max-width: breakpoint(sm-end)) and (min-width: breakpoint(sm-start)) {
        .block-features__item {
            padding: 12px;
        }

        .block-features__icon {
            margin-right: 5px;
        }

        .block-features__content {
            padding-top: 0;
        }
    }

    @media (max-width: breakpoint(md-end)) and (min-width: 420px) {
        .block-features__list {
            flex-wrap: wrap;
        }

        .block-features__item {
            flex-basis: auto;
            width: calc(50% - 1px);
            flex-shrink: 0;
        }

        .block-features__divider:nth-child(4n) {
            width: 100%;
            height: 2px;
        }
    }

    @media (max-width: breakpoint(xs-end)) and (min-width: 420px) {
        .block-features__item {
            text-align: center;
            flex-direction: column;
        }

        .block-features__icon {
            margin-bottom: 20px;
            width: 100%;
            display: flex;
            justify-content: center;
            margin-right: 0;
        }
    }

    @media (max-width: 419px) {
        .block-features__list {
            flex-wrap: wrap;
        }

        .block-features__item {
            flex-basis: auto;
            width: 100%;
            flex-shrink: 0;
        }

        .block-features__icon {
            margin-right: 19px;
        }

        .block-features__divider {
            width: 100%;
            height: 2px;
        }
    }
}
