<div class="block block-features block-features--layout--{{ layout }}">
    <div class="container">
        <div class="block-features__list" *ngFor="let part of directions">
            <ng-container *ngFor="let direction of part; let i = index; let last = last">
                <div class="block-features__item">
                    <div class="block-features__icon">
                        <app-icon
                            [name]="direction.icon"
                            [color]="primaryColor"
                            size="41"
                        ></app-icon>
                    </div>
                    <div class="block-features__content">
                        <div class="block-features__title">{{ direction.name }}</div>
                        <div class="block-features__subtitle">{{ direction.description }}</div>
                    </div>
                </div>
                <div *ngIf="!last" class="block-features__divider"></div>
            </ng-container>
        </div>
    </div>
</div>
