<ol class="comments-list comments-list--level--{{ level }}">
    <li *ngFor="let comment of comments" class="comments-list__item">
        <div class="comment">
            <div class="comment__avatar">
                <a href=""
                    ><span class="initials">{{ comment.author | getLetters }}</span></a
                >
            </div>
            <div class="comment__content">
                <div class="comment__header">
                    <div class="comment__author">
                        <a href="">{{ comment.author }}</a>
                    </div>
                    <!-- <div class="comment__reply">
                        <button type="button" class="btn btn-xs btn-light">Reply</button>
                    </div> -->
                </div>
                <div class="comment__text">{{ comment.comment }}</div>
                <div class="comment__date">{{ comment.created | date: 'd MMMM, yyyy' }}</div>
            </div>
        </div>

        <div *ngIf="comment.children?.length" class="comment-list__children">
            <comments-list [comments]="comment.children || []" [level]="level + 1"></comments-list>
        </div>
    </li>
</ol>
