@import '../../../variables';
@import '../../../functions';

.comments-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.comments-list__item {
    & + & {
        border-top: 1px solid $body-divider-color;
        margin-top: 24px;
        padding-top: 28px;
    }
}

.comments-list--level--0 {
    & > .comments-list__item:last-child {
        padding-bottom: 28px;
        border-bottom: 1px solid $body-divider-color;
    }
}

.comments-list--level--1 {
    border-top: 1px solid $body-divider-color;
    margin-top: 24px;
    padding-top: 28px;

    & > .comments-list__item {
        margin-left: 46px;
    }
}

@media (max-width: breakpoint(sm-end)) {
    .comments-list__item + .comments-list__item {
        margin-top: 20px;
        padding-top: 24px;
    }

    .comments-list--level--1 {
        margin-top: 20px;
        padding-top: 24px;
    }
}

.comment {
    display: flex;
}

.comment__avatar {
    width: 81px;
    flex-shrink: 0;
    margin-left: 20px;
    margin-right: 24px;

    .initials {
        border: 1px solid #666;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
}

.comment__content {
    flex-grow: 1;
}

.comment__header {
    margin-top: -4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment__author {
    font-size: 16px;
    font-weight: $font-weight-medium;

    a {
        color: inherit;
        transition: color 0.2s;
    }

    a:hover {
        color: $link-hover-color;
    }
}

.comment__reply .btn {
    height: 22px;
    padding: 0.125rem 0.375rem;
    display: block;
}

.comment__text {
    font-size: 16px;
    margin-top: 6px;
}

.comment__date {
    margin-top: 10px;
    color: $body-font-muted-color;
    font-size: 14px;
}

@media (max-width: breakpoint(sm-end)) {
    .comment__avatar {
        margin-left: 0;
    }
}

@media (max-width: breakpoint(xs-end)) and (max-width: breakpoint(xs-end)) {
    .comment__avatar {
        display: none;
    }
}
