<div class="container" itemscope itemtype="http://schema.org/BreadcrumbList">
    <span
        class="children"
        *ngIf="parent"
        itemprop="itemListElement"
        itemscope
        itemtype="http://schema.org/ListItem"
    >
        <a
            mat-button
            itemprop="item"
            class="title"
            [matTooltip]="parent.name"
            [ngClass]="{ bold: !breadcrumbs?.length }"
            (click)="onNavigateToSubCategory(parent)"
        >
            <span itemprop="name">{{ parent.name }}</span>
        </a>
        <meta itemprop="position" content="1" />
    </span>

    <ng-container
        *ngFor="let m of breadcrumbs | orderBy: 'level'; trackBy: trackByFn; last as isLast"
    >
        <app-icon name="arrow-rounded-right-7x11" size="7x11"></app-icon>
        <span
            class="children"
            itemprop="itemListElement"
            itemscope
            itemtype="http://schema.org/ListItem"
        >
            <a
                class="title"
                itemprop="item"
                mat-button
                [matTooltip]="m.item"
                [ngClass]="{ bold: isLast }"
                (click)="onNavigateToSubCategory(m)"
            >
                <span itemprop="name">{{ m.item }}</span>
            </a>
            <meta itemprop="position" [content]="m.level" />
        </span>
    </ng-container>
</div>
