:host {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 15px !important;
}

mat-list :hover {
    background: lightgray;
    cursor: pointer;
}

.container {
    display: flex;
    width: 100%;
    padding: 5px 0;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-bottom: 1px solid #f3f3f3;

    @media screen and (max-width: 992px) {
        .children {
            .title {
                max-width: 150px;
                padding: 0;
                font-size: 12px;
            }

            .title.bold {
                font-size: 14px;
                max-width: 200px;
            }
        }
    }
}

.children {
    display: flex;
    align-items: center;

    .title {
        max-width: 300px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .bold {
        font-weight: bold;
        font-size: 18px;
        max-width: 400px;
    }
}
