@use 'sass:map';
@import '../../../theme';

$primary: map.get($theme, primary);
$foreground: map.get($theme, foreground);

:host {
    @media screen and (min-width: 992px) {
        flex: 1;
    }
}

.webcontent {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    height: 40px;
    border-radius: 6px;
    color: get-color-from-palette($foreground, secondary-text);
    border: 1px solid get-color-from-palette($foreground, divider);
    background-color: #fafafa;
    margin-right: 20px;

    @media screen and (max-width: 992px) {
        display: none;
    }

    .mat-form-field ::ng-deep {
        flex: 1;
        top: 1px;
        width: 0;
        font-size: 14px;

        .mat-form-field-underline {
            display: none;
        }

        .mat-form-field-wrapper {
            flex: 1;
            padding: 0;
            letter-spacing: 1.43px;
        }

        .mat-form-field-infix {
            border: none;
        }

        &.mat-focused .mat-form-field-label {
            color: inherit;
        }

        .mat-input-element {
            caret-color: inherit;
        }

        .mat-form-field-subscript-wrapper {
            cursor: default;
            position: absolute;
            top: 17px;
            margin-top: 6px;
            line-height: 11px;
        }
    }

    .mat-search-icon {
        margin: 0 16px;
        color: get-color-from-palette($primary, 600);
        cursor: default;
    }

    .mat-cancel-icon {
        visibility: hidden;
        cursor: pointer;
        margin: 0 8px;
    }

    .active {
        visibility: visible;
    }
}

::ng-deep .mat-autocomplete .mat-option {
    line-height: normal;
    white-space: normal;

    .mat-option-text {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
    }
}

.mobile {
    position: relative;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 24px;
    height: 24px;

    @media screen and (max-width: 992px) {
        display: flex;
    }

    .mat-form-field {
        position: absolute;
        z-index: 1;
        padding: 0 24px 0 0;

        ::ng-deep .mat-form-field-flex {
            background: #f5f5f5;
        }
    }

    .input-width-mobile {
        width: calc(100vw - 150px);
    }

    span {
        display: block;
        position: absolute;
        margin: 0;
        padding: 0;
        top: 0;
        left: 0;

        &:hover {
            cursor: pointer;
        }

        .mat-search-icon {
            color: get-color-from-palette($primary, 600);
        }

        .mat-close-icon,
        .mat-search-icon {
            transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            border-radius: 50%;
        }

        .mat-close-icon,
        &.active .mat-search-icon {
            opacity: 0;
            transform: rotate(225deg);
        }

        &.active .mat-close-icon {
            opacity: 1;
            z-index: 3;
            visibility: visible;
            transform: rotate(360deg);
        }
    }
}
