<div class="mobile">
    <mat-form-field [ngClass]="{ 'input-width-mobile': isMobile }" [@slideInOut]="searchVisible">
        <input
            #input
            matInput
            [formControl]="searchControl"
            [matAutocomplete]="auto"
            type="text"
            (keyup.enter)="onOpenCatalog()"
        />
        <mat-hint *ngIf="showSearchHint">{{ 'Введите минимум 3 символа' }}</mat-hint>
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option
                class="default"
                *ngIf="lastSearch"
                [value]="lastSearch"
                (click)="onOpenCatalog()"
                >{{ lastSearch }} - <strong>Поиск в каталоге</strong></mat-option
            >
            <mat-option
                *ngFor="let option of searchOptions$ | async"
                [value]="option.name"
                (click)="onOpenProduct(option.id)"
            >
                {{ option.name }}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <span [class.active]="searchVisible">
        <mat-icon class="mat-close-icon" color="warn" (click)="onCancel()" matRipple
            >close</mat-icon
        >
        <mat-icon class="mat-search-icon" (click)="onOpen()" matRipple>search</mat-icon>
    </span>
</div>

<div class="webcontent">
    <mat-icon class="mat-search-icon">search</mat-icon>
    <mat-form-field floatLabel="always">
        <input
            #input
            matInput
            [formControl]="searchControl"
            [matAutocomplete]="auto"
            placeholder="{{ placeholder }}"
            type="text"
            (keyup.enter)="onOpenCatalog()"
        />
        <mat-hint *ngIf="showSearchHint">{{ 'Введите минимум 3 символа' }}</mat-hint>
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option
                class="default"
                *ngIf="lastSearch"
                [value]="lastSearch"
                (click)="onOpenCatalog()"
                >{{ lastSearch }} - <strong>Поиск в каталоге</strong></mat-option
            >
            <mat-option
                *ngFor="let option of searchOptions$ | async"
                [value]="option.name"
                (click)="onOpenProduct(option.id)"
            >
                {{ option.name }}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <mat-icon
        matRipple
        color="warn"
        class="mat-cancel-icon"
        [class.active]="searchControl.value"
        (click)="onCancel()"
    >
        cancel
    </mat-icon>
</div>
