<div
    class="filter"
    [ngClass]="{ 'filter--opened': isCollapsed }"
    appCollapseItem="filter--opened"
    #collapse="appCollapseItem"
>
    <button type="button" class="filter__title" (click)="collapse.toggle()">
        {{ name }}
        <app-icon class="filter__arrow" name="arrow-rounded-down-12x7" size="12x7"></app-icon>
    </button>
    <div class="filter__body" appCollapseContent>
        <div class="filter__container">
            <ng-content></ng-content>
        </div>
    </div>
</div>
