<page-header [breadcrumbs]="newsBreadcrumb$ | async"></page-header>
<div class="container">
    <ng-container *ngIf="layout === 'classic'">
        <div class="row">
            <div class="col-12 col-lg-4 order-1 order-lg-0">
                <shop-sidebar position="start"></shop-sidebar>
            </div>
            <div class="col-12 col-lg-8">
                <post-details layout="classic"></post-details>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="layout === 'full'">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-9 col-xl-8">
                <post-details layout="full"></post-details>
            </div>
        </div>
    </ng-container>
</div>
