<div class="page-header">
    <div class="page-header__container container">
        <div class="page-header__breadcrumb">
            <nav aria-label="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
                <ol
                    class="breadcrumb"
                    itemprop="itemListElement"
                    itemscope
                    itemtype="http://schema.org/ListItem"
                >
                    <ng-container
                        *ngFor="let breadcrumb of breadcrumbs; let i = index; last as last"
                    >
                        <li *ngIf="!last" class="breadcrumb-item">
                            <a
                                itemprop="item"
                                [routerLink]="breadcrumb.url"
                                [queryParams]="breadcrumb.queryParams"
                                ><span itemprop="name">{{ breadcrumb.label }}</span></a
                            >
                            <app-icon
                                class="breadcrumb-arrow"
                                name="arrow-rounded-right-6x9"
                                size="6x9"
                            ></app-icon>
                            <meta itemprop="position" [content]="i + 1" />
                        </li>
                        <li *ngIf="last" class="breadcrumb-item active" aria-current="page">
                            <a itemprop="item" [routerLink]="breadcrumb.url"
                                ><span itemprop="name">{{ breadcrumb.label }}</span></a
                            >
                            <meta itemprop="position" [content]="i + 1" />
                        </li>
                    </ng-container>
                </ol>
            </nav>
        </div>
        <div *ngIf="header" class="page-header__title">
            <h1>{{ header }}</h1>
            <ng-content></ng-content>
        </div>
    </div>
</div>
