@import '../../../../../variables';
@import '../../../../../functions';

$local-padding: 12px;

.page-header__container {
    padding-bottom: 32px;
}
.page-header__breadcrumb {
    padding-top: 16px;
}
.page-header__title {
    padding-top: 6px;
    display: flex;
    justify-content: space-between;

    h1 {
        margin-bottom: 0;
    }
}

@media (min-width: breakpoint(md-start)) and (max-width: breakpoint(md-end)) {
    .page-header__title {
        padding-top: 4px;

        h1 {
            margin-bottom: 0;
        }
    }
}
@media (max-width: breakpoint(sm-end)) {
    .page-header__container {
        padding-bottom: 24px;
    }
    .page-header__title {
        padding-top: 2px;

        h1 {
            margin-bottom: 0;
            font-size: 30px;
        }
    }
}

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    background: transparent;
    border-radius: 0.25rem;
    padding: 0;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
}
.breadcrumb-item {
    position: relative;
    padding-left: 0;
    padding-right: 6px + $local-padding * 2;

    a {
        color: $breadcrumb-link-default-color;
        transition: color 0.15s;
    }
    a:hover {
        color: $breadcrumb-link-hover-color;
    }

    & + & {
        padding-left: 0;
        padding-right: 6px + $local-padding * 2;

        &::before {
            display: none;
        }
    }

    &.active {
        color: $breadcrumb-link-active-color;
        pointer-events: none;
    }
}
.breadcrumb-arrow {
    fill: $breadcrumb-arrow-color;
    position: absolute;
    top: 5px;
    right: $local-padding - 1px;
    transform: scaleX(1);
}
