<page-header [breadcrumbs]="breadcrumbs"></page-header>
<div class="block">
    <div class="container">
        <div class="document">
            <div class="document__content typography">
                <div [innerHTML]="privacyText$ | async | noSanitize"></div>
            </div>
        </div>
    </div>
</div>
