<div
    class="product-card"
    [ngClass]="{
        'product-card--layout--grid product-card--size--sm': layout === 'grid-sm',
        'product-card--layout--grid product-card--size--nl': layout === 'grid-nl',
        'product-card--layout--grid product-card--size--lg': layout === 'grid-lg',
        'product-card--layout--list': layout === 'list',
        'product-card--layout--horizontal': layout === 'horizontal'
    }"
>
    <div class="product-card__badges-list">
        <div *ngIf="product.discount" class="product-card__badge product-card__badge--sale">
            -{{ product.discount }}%
        </div>
        <!-- <div *ngIf="product.badges.includes('hot')" class="product-card__badge product-card__badge--hot">Hot</div> -->
        <div *ngIf="product.updated > newDate" class="product-card__badge product-card__badge--new">
            Новинка
        </div>
        <div class="view-options__divider"></div>
        <img
            class="brand"
            *ngIf="product?.properties?.brand?.image"
            [height]="labelHeight"
            [lazyLoad]="product.properties.brand.image"
            [alt]="product.properties.brand.value"
        />
    </div>

    <div class="product-card__image product-image">
        <a appClick [routerLink]="'/catalog/product/' + product.id" class="product-image__body">
            <img
                class="product-image__img"
                draggable="false"
                [lazyLoad]="product.image"
                [alt]="product.name"
            />
        </a>
    </div>
    <div class="product-card__info">
        <div class="product-card__name">
            <a
                appClick
                class="ellipsis"
                [matTooltip]="product.name"
                [matTooltipPosition]="'above'"
                [routerLink]="'/catalog/product/' + product.id"
                >{{ product.name }}</a
            >
        </div>
        <!-- <div class="product-card__rating">
            <app-rating [value]="product.rating"></app-rating>
            <div class="product-card__rating-legend">{{ product.reviews }} Reviews</div>
        </div> -->
        <ul *ngIf="product.techProperties" class="product-card__features-list">
            <li *ngFor="let propertie of product.techProperties | keyvalue | slice: 0:5">
                {{ propertie.key }}: {{ propertie.value }}
            </li>
        </ul>
    </div>
    <div class="product-card__actions">
        <!-- <div class="product-card__availability">
            Availability:
            <span *ngIf="product.availability === 'in-stock'" class="text-success">In Stock</span>
        </div> -->
        <div class="product-card__prices">
            <ng-container *ngIf="product.discount">
                <span class="product-card__new-price">{{
                    product.price
                        | precentageDeduction: product.discount
                        | currency: 'RUB':'symbol-narrow'
                }}</span
                >{{ ' ' }}
                <span class="product-card__old-price">{{
                    product.price | currency: 'RUB':'symbol-narrow'
                }}</span>
            </ng-container>
            <ng-container *ngIf="!product.discount">
                {{
                    product.price
                        ? (product.price | currency: 'RUB':'symbol-narrow')
                        : 'Цена по запросу'
                }}
            </ng-container>
        </div>
        <div class="product-card__buttons">
            <button
                class="btn btn-primary product-card__addtocart"
                type="button"
                appClick
                (click)="addToCart()"
                [ngClass]="{ 'btn-loading': addingToCart }"
            >
                {{ product.price ? 'В корзину' : 'Запросить цену' }}
            </button>
            <button
                class="btn btn-secondary product-card__addtocart product-card__addtocart--list"
                type="button"
                appClick
                (click)="addToCart()"
                [ngClass]="{ 'btn-loading': addingToCart }"
            >
                {{ product.price ? 'В корзину' : 'Запросить цену' }}
            </button>
            <button
                class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__wishlist"
                type="button"
                appClick
                (click)="addToWishlist()"
                [ngClass]="{ 'btn-loading': addingToWishlist }"
            >
                <app-icon name="wishlist-16" size="16"></app-icon>
                <span class="fake-svg-icon fake-svg-icon--wishlist-16"></span>
            </button>
            <!-- <button class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__compare" type="button" appClick (click)="addToCompare()" [ngClass]="{'btn-loading': addingToCompare}">
                <app-icon name="compare-16" size="16"></app-icon>
                <span class="fake-svg-icon fake-svg-icon--compare-16"></span>
            </button> -->
        </div>
    </div>
</div>
