<main class="footer">
    <div class="container">
        <div class="footer-wrapper">
            <div class="about-widget">
                <div class="logo" routerLink="/">
                    <svg xmlns="http://www.w3.org/2000/svg" width="70px" height="50px">
                        <use [attr.xlink:href]="logo"></use>
                    </svg>

                    <svg class="label" viewBox="0 0 430.6386719 79.1269531">
                        <text
                            x="2"
                            y="90"
                            fill="#868e96"
                            font-size="100"
                            font-family="'Cambria', sans-serif"
                            word-spacing="30"
                        >
                            {{ name }}
                        </text>
                    </svg>
                </div>
                <p>
                    Является дилером и официальным представителем основных крупнейших отечественных
                    производителей оборудования и мебели, а также иностранных заводов –
                    изготовителей оборудования для торговли и общепита.
                </p>
                <div class="link">
                    <a routerLink="/about"> Больше о нас </a>
                </div>
            </div>
            <div class="links-widget">
                <div class="title">
                    <h5>Услуги</h5>
                </div>
                <div>
                    <ul>
                        <li *ngFor="let link of links">
                            <a [routerLink]="link.url">
                                {{ link.name }}
                            </a>
                        </li>
                        <!-- <iframe *ngIf="yandexRatingId" loading="lazy" src="{{'https://yandex.ru/sprav/widget/rating-badge/'+yandexRatingId | noSanitize:'resourceUrl'}} " width="150" height="50" frameborder="0"></iframe> -->
                    </ul>
                </div>
            </div>
            <div class="subscribe-widget">
                <div class="title">
                    <h5>Подписка на рассылку новостей</h5>
                </div>
                <form action="#">
                    <p>Получайте последние обновления и предложения.</p>
                    <div class="news-widget">
                        <input
                            type="email"
                            class="form-control"
                            [formControl]="email"
                            placeholder="Введите адрес почты"
                        />
                        <button
                            class="btn btn-primary"
                            [disabled]="email.invalid"
                            type="submit"
                            color="primary"
                            tabindex="-1"
                            (click)="onSend()"
                        >
                            Подписаться
                        </button>
                    </div>
                </form>
            </div>
            <div class="subscribe-widget">
                <div class="title">
                    <h5>Контакты</h5>
                </div>
                <a class="tel-box" *ngFor="let info of infoes" [href]="info?.href">
                    <div class="icon">
                        <i class="fa" [ngClass]="info?.icon"></i>
                    </div>
                    <div class="text">
                        <p>{{ info?.text }}</p>
                    </div>
                </a>
                <ul class="list-inline">
                    <li *ngFor="let messenger of messengers">
                        <a [href]="messenger.link | noSanitize: 'url'" target="_blank">
                            <i class="fab" [ngClass]="messenger.icon"></i>
                        </a>
                    </li>
                </ul>
                <p class="phone">{{ messengerPhone }}</p>
            </div>
        </div>
    </div>
    <app-totop></app-totop>
</main>
