@import '../../variables';

:host {
    h5 {
        color: #868e96;
        line-height: 24px;
        letter-spacing: 0.05em;
    }
}

.footer {
    background: $gradient-background-color;
    padding: 60px 0;

    .container {
        .footer-wrapper {
            padding: 0 15px;
            flex-flow: row wrap;
            box-sizing: border-box;
            display: flex;
            place-content: flex-start space-between;
            align-items: flex-start;

            .about-widget,
            .links-widget,
            .subscribe-widget {
                padding-right: 15px;
            }

            .title {
                margin-bottom: 10px;

                h5 {
                    font-size: 18px;
                    font-weight: 600;
                    margin: 0;
                    padding: 0;
                }
            }
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
            }

            li {
                list-style-type: none;
            }

            a {
                text-decoration: none;
                font-size: 15px;
                line-height: 32px;
                color: #dee2e6;
                cursor: pointer;
            }

            p {
                line-height: 24px;
                margin: 0;
                color: #dee2e6;
            }

            .about-widget {
                flex: 1 1 30%;
                box-sizing: border-box;
                max-width: 30%;

                @media screen and (max-width: 600px) {
                    flex: 1 1 100%;
                    box-sizing: border-box;
                    max-width: 100%;
                }

                @media screen and (max-width: 992px) and (min-width: 601px) {
                    flex: 1 1 50%;
                    box-sizing: border-box;
                    max-width: 50%;
                }

                .logo {
                    display: flex;

                    .title {
                        font-weight: bold;
                        font-size: 26px;
                        line-height: 40px;
                    }

                    .icon {
                        padding-right: 15px;
                        font-size: 60px;
                        height: 60px;
                        width: 60px;
                    }

                    .label {
                        height: 50px;
                        width: 180px;
                        fill: #868e96;
                    }
                }

                a {
                    text-transform: uppercase;
                }
            }

            .links-widget {
                flex: 1 1 23%;
                box-sizing: border-box;
                max-width: 23%;

                @media screen and (max-width: 600px) {
                    flex: 1 1 100%;
                    box-sizing: border-box;
                    max-width: 100%;
                }

                @media screen and (max-width: 992px) and (min-width: 601px) {
                    flex: 1 1 50%;
                    box-sizing: border-box;
                    max-width: 50%;
                }

                li {
                    max-width: 200px;
                }
            }

            .subscribe-widget {
                flex: 1 1 23%;
                box-sizing: border-box;
                max-width: 23%;

                @media screen and (max-width: 600px) {
                    flex: 1 1 100%;
                    box-sizing: border-box;
                    max-width: 100%;
                }

                @media screen and (max-width: 992px) and (min-width: 601px) {
                    flex: 1 1 50%;
                    box-sizing: border-box;
                    max-width: 50%;
                }

                .news-widget {
                    flex-direction: column;
                    box-sizing: border-box;
                    display: flex;
                    position: relative;
                    margin: 15px 0 20px;
                }

                .tel-box {
                    flex-direction: row;
                    box-sizing: border-box;
                    display: flex;
                    padding-left: 4px;

                    .icon {
                        color: #dee2e6;
                        display: block;
                        line-height: 27px;
                        vertical-align: middle;
                        margin-right: 5px;
                        width: 18px;
                        text-align: center;
                        font-size: 18px;
                    }

                    &:hover {
                        border-radius: 2px;
                        background: $nav-links-item-hover-bg;
                        box-shadow: $nav-links-item-hover-shadow;
                        transition-duration: 0.1s;
                        .icon {
                            fill: $nav-links-item-hover-arrow-color;
                        }

                        .text {
                            color: $nav-links-item-hover-font-color;
                        }
                    }
                }

                .list-inline {
                    flex-direction: row;
                    box-sizing: border-box;
                    display: flex;
                    margin-top: 20px;

                    li {
                        width: 33px;
                        height: 33px;
                        text-align: center;
                        margin-right: 10px;

                        &:hover {
                            a {
                                color: #fff;
                            }
                        }
                        a {
                            text-decoration: none;
                            font-size: 32px;
                            line-height: 32px;
                            color: #dee2e6 i {
                                color: #dee2e6;
                            }
                        }
                    }
                }

                .phone {
                    padding-top: 10px;
                }
            }
        }
    }
}
