:host {
    display: flex;
    justify-content: center;

    .image-content {
        display: flex;
        position: relative;
        overflow: hidden;
    }

    .drop-area {
        user-select: none;
        cursor: pointer;
        height: 200px;
        border: 1px solid rgba(43, 56, 80, 0.12);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        overflow: hidden;
        position: relative;

        .mat-icon {
            margin-bottom: 13px;
        }

        input {
            position: absolute;
            top: -50px;
            bottom: -50px;
            width: 100%;
            z-index: 2;
            flex: auto;
            outline: none;
            cursor: pointer;
        }

        > p {
            text-align: center;
            margin: 0 30px;
            font-family: Roboto;
            font-size: 12px;
            letter-spacing: -0.13px;
            line-height: 20px;

            span {
                color: #ce0000;
            }
        }
    }

    .file-label {
        display: flex;
        flex-direction: column;
    }

    .columns {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        margin-bottom: 15px;

        .spiner-container {
            height: 200px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .column {
            min-width: 200px;
            min-height: 215px;
            position: relative;
        }

        .field {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .upload-column {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            .text-field {
                display: flex;
                flex-direction: column;
                align-items: self-end;
            }
        }
    }

    .remove {
        position: absolute;
        background-color: white;
        border-radius: 50%;
        right: 0;
        top: 0;
    }

    .file-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
    }

    .file-image {
        flex: 1;
        overflow: hidden;
        position: relative;
    }

    .image-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        ::ng-deep > * {
            max-width: 100%;
            max-height: 100%;
        }

        .mat-icon {
            font-size: 50px;
            height: 50px;
            width: 50px;
        }
    }
}
