<div class="columns">
    <div
        class="drop-area"
        *ngIf="!control?.value && !isUploading"
        (dragover)="onChange(fileInput?.files)"
        (drop)="onChange(fileInput?.files)"
    >
        <mat-icon [className]="'mat-list-icon material-icons alert--' + icon" *ngIf="icon">{{
            icon
        }}</mat-icon>
        <p>Перетащите сюда или нажмите,</p>
        <p>
            чтобы добавить {{ title }}.
            <span>*</span>
        </p>
        <input
            #fileInput
            type="file"
            accept="{{ selectMimeTypes }}"
            id="file"
            (change)="onChange(fileInput?.files)"
        />
    </div>
    <div
        class="image-content"
        [style.width]="width"
        [style.height]="height"
        *ngIf="control?.value && !isUploading"
    >
        <div class="file-content">
            <div class="file-image">
                <div class="image-wrapper">
                    <img
                        *ngIf="format === fileType.Image; else elseBlock"
                        alt="upload photo"
                        [src]="control?.value"
                    />
                    <ng-template #elseBlock>
                        <mat-icon
                            [className]="'mat-icon material-icons alert--' + icon"
                            *ngIf="icon"
                            >{{ icon }}</mat-icon
                        >
                    </ng-template>
                </div>
            </div>
        </div>
        <button class="remove" mat-icon-button (click)="onDelete()">
            <mat-icon mat-list-icon>delete</mat-icon>
        </button>
    </div>
    <div class="spiner-container" *ngIf="!control?.value && isUploading">
        <mat-spinner [color]="'primary'" [strokeWidth]="3" [diameter]="50"> </mat-spinner>
    </div>
</div>
