@use 'sass:map';
@import '../../theme';

$primary: map.get($theme, primary);

.example-card {
    width: 400px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

    .mat-card-content {
        a {
            font-size: 24px;
            text-align: center;
            color: inherit;
            transition: 0.15s;
            text-decoration: none;
            background-color: initial;
        }

        a:hover {
            color: #f18815;
        }
    }
}

.body {
    flex: 1;

    h1 {
        text-align: center;
    }
}

.example-card:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    z-index: 10;
    background-color: get-color-from-palette($primary, 500);
}

.categories,
.footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
