<page-header [breadcrumbs]="subCategoriesBreadcrumb$ | async"></page-header>
<div class="body">
    <div class="categories" *ngIf="categories">
        <mat-card class="example-card" *ngFor="let category of categories; trackBy: trackByFn">
            <image-wrapper
                [image]="category.image"
                [name]="category.name"
                [link]="category.link"
                [target]="'_self'"
                [queryParams]="category.queryParams"
            ></image-wrapper>
            <mat-card-content (click)="$event.stopPropagation()">
                <a
                    class="ellipsis"
                    [routerLink]="category.link"
                    [queryParams]="category.queryParams"
                >
                    {{ category.name }}
                    {{
                        category.subCategory && category.subCategory.length
                            ? '(' + category.subCategory.length + ')'
                            : ''
                    }}
                </a>
            </mat-card-content>
        </mat-card>
    </div>
</div>
