@mixin secondary-menu-theme($theme) {
    $accent: map-get($theme, accent);
    $foreground: map-get($theme, foreground);
    $primary: map-get($theme, primary);
    $background: map-get($theme, background);

    .secondary-menu {
        .create-container .mat-icon-button {
            color: mat-color($accent, main);
        }

        .mat-icon-button {
            color: mat-color($accent, main);

            &.disabled {
                color: mat-color($foreground, accent-text);
            }
        }

        .mat-button,
        .mat-chip,
        .mat-chip.mat-primary {
            color: mat-color($foreground, accent-text);
            border: 1px solid mat-color($foreground, accent-text);
        }

        .mat-chip.mat-standard-chip.mat-chip-selected.mat-primary {
            color: mat-color($primary, 50);
            background-color: mat-color($foreground, accent-text);

            .mat-icon {
                color: mat-color($primary, 50);
            }
        }

        .mat-pseudo-checkbox-checked,
        .mat-pseudo-checkbox-indeterminate {
            background-color: mat-color($accent, main);
        }

        .active {
            color: mat-color($primary, main, 0.87);
            background-color: mat-color($background, focused-button);
            border-right-color: mat-color($accent, main);
        }
    }
}
