:host {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.filter-container,
.header-container {
    padding: 16px;
}

.secondary-toggle-button {
    width: 32px;
    height: 32px;
    line-height: 32px;
    transition-duration: 0.2s;
}

.collapsed-secondary-toggle-button {
    transform: translateX(16px);
}

.hidden-secondary-menu {
    opacity: 0;
    transition: opacity 0.2s linear;

    .secondary-menu,
    .filter-container {
        display: none;
    }
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: space-between;
}

.filter-container {
    padding-top: 0;

    .mat-chip-list-wrapper {
        flex-direction: column;
    }
}

:host ::ng-deep {
    .secondary-menu {
        width: 100%;
        box-sizing: initial;
        opacity: 1;
        transition: opacity 0.2s linear;
        overflow-y: auto;
        overflow-x: hidden;

        .mat-list-item {
            outline: none;
            cursor: pointer;

            .mat-list-item-content {
                width: 100%;
                height: 48px;
            }
        }
    }

    .filter-container {
        .filter-chip {
            margin-bottom: 4px;
        }

        .mat-chip-selected {
            margin: 4px 0;
        }

        .mat-chip-list-wrapper {
            flex-direction: column;
            align-items: end;
            margin: inherit;
        }
    }

    .create-list-item {
        padding-right: 0;
        height: 52px;

        .mat-form-field {
            width: auto;

            .mat-form-field-infix {
                input {
                    width: 100%;
                }
            }
        }

        .mat-input-element {
            padding-right: 45px;
        }

        .mat-icon-button {
            position: absolute;
            right: 5px;
            bottom: 7px;
        }
    }

    .mat-form-field-subscript-wrapper {
        margin-top: 2px;
    }
}

.mat-chip.mat-standard-chip::after {
    background: none;
}

.mat-button,
.mat-chip,
.mat-chip.mat-primary {
    background: transparent;
    border-radius: 100px;
    font-size: 12px;
    padding: 2px 12px;
    line-height: 16px;
    height: 22px;
    min-height: 22px;

    .mat-icon {
        font-size: 16px;
        width: auto;
        height: 14px;
        cursor: pointer;
        position: relative;
        left: 7px;
        margin: 0;
        padding: 0;
    }
}

.mat-chip.mat-standard-chip.mat-chip-selected.mat-primary {
    border: transparent;

    .mat-icon {
        opacity: 1;
    }
}

.mat-chip:not(.mat-basic-chip) + .mat-chip:not(.mat-basic-chip) {
    margin: 4px 0;

    &:last-child {
        margin-bottom: 0;
    }
}

.new-button {
    width: 112px;
    height: 36px;

    mat-icon {
        vertical-align: top;
    }
}
