<div class="header-container">
    <button
        mat-raised-button
        color="primary"
        class="new-button"
        *ngIf="showCreating"
        (click)="onCreatingMode()"
    >
        Создать
    </button>
    <div *ngIf="!showCreating"></div>
    <button
        class="secondary-toggle-button"
        [ngClass]="{ 'collapsed-secondary-toggle-button': isCollapsed }"
        mat-icon-button
        (click)="toggleMenu()"
    >
        <mat-icon>menu</mat-icon>
    </button>
</div>

<form class="secondary-menu" [formGroup]="formGroup" *ngIf="!isCollapsed">
    <mat-list>
        <mat-list-item class="create-list-item active" *ngIf="isCreating">
            <mat-form-field class="discount">
                <mat-label>Название</mat-label>
                <input
                    matInput
                    formControlName="name"
                    [placeholder]="'Введите название'"
                    (enter)="onEnterClick()"
                />
            </mat-form-field>
            <button mat-icon-button *ngIf="formGroup.valid" (click)="onCreate()">
                <mat-icon class="material-icons" aria-label="create">check_circle</mat-icon>
            </button>
            <button mat-icon-button *ngIf="!formGroup.valid" class="disabled" (click)="onCancel()">
                <mat-icon class="material-icons" aria-label="cancel">cancel</mat-icon>
            </button>
        </mat-list-item>
        <mat-list-item
            *ngFor="let item of items | orderBy: 'name'; trackBy: trackByFn"
            (click)="onCancel()"
            [routerLink]="[item.id]"
            routerLinkActive="active"
            #routerActive="routerLinkActive"
            [id]="routerActive.isActive ? 'activeItem' : item.id"
        >
            <p class="ellipsis">{{ item.name }}</p>
        </mat-list-item>
    </mat-list>
</form>
