@import '../../../../typography';
@import '../../../../variables';
@import '../../../../functions';

.product-tabs {
    margin-top: 50px;
}
.product-tabs__list {
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    margin-bottom: -$product-tabs-border-width;

    &::after,
    &::before {
        content: '';
        display: block;
        width: 8px;
        flex-shrink: 0;
    }
}
.product-tabs__item {
    font-size: 20px;
    padding: 18px 48px;
    border-bottom: $product-tabs-border-width solid transparent;
    color: inherit;
    font-weight: $font-weight-medium;
    border-radius: 3px 3px 0 0;
    transition: all 0.15s;

    &:hover {
        color: inherit;
        background: $product-tabs-hover-bg;
        border-bottom-color: $product-tabs-hover-border-color;
    }

    &:first-child {
        margin-left: auto;
    }
    &:last-child {
        margin-right: auto;
    }
}
.product-tabs__item--active {
    transition-duration: 0s;

    &,
    &:hover {
        cursor: default;
        border-bottom-color: $product-tabs-active-border-color;
        background: transparent;
    }
}
.product-tabs__content {
    border: $product-tabs-border;
    border-radius: $product-tabs-border-radius;
    padding: 80px 90px;
}
.product-tabs__pane {
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: opacity 0.5s;
}
.product-tabs__pane--active {
    overflow: visible;
    height: auto;
    opacity: 1;
}

.product-tabs--layout--sidebar {
    .product-tabs__item {
        padding: 14px 30px;
    }
    .product-tabs__content {
        padding: 48px 50px;
    }
}

@media (min-width: breakpoint(lg-start)) and (max-width: breakpoint(lg-end)) {
    .product-tabs__content {
        padding: 60px 70px;
    }
}
@media (min-width: breakpoint(md-start)) and (max-width: breakpoint(md-end)) {
    .product-tabs {
        margin-top: 40px;
    }
    .product-tabs .product-tabs__item {
        padding: 14px 30px;
    }
    .product-tabs .product-tabs__content {
        padding: 40px 50px;
    }
}
@media (max-width: breakpoint(sm-end)) {
    .product-tabs {
        margin-top: 24px;
    }
    .product-tabs .product-tabs__item {
        padding: 10px 22px;
    }
    .product-tabs .product-tabs__content {
        padding: 24px;
    }
}

.spec {
    font-size: 15px;
    line-height: 18px;
}
.spec__header {
    margin-bottom: 50px;
}
.spec__section {
    & + & {
        margin-top: 40px;
    }
}
.spec__row {
    padding: 8px 12px;
    display: flex;
    border-bottom: 1px solid $card-divider-color;

    .magazine {
        display: flex;
        align-items: center;
        padding: 5px;

        .pdf {
            padding-right: 5px;
        }
    }

    &:first-of-type {
        border-top: 1px solid $card-divider-color;
    }
}
.spec__name {
    width: 230px;
    flex-shrink: 0;
    color: $card-font-muted-color;
    padding-right: 30px;
}
.spec__disclaimer {
    margin-top: 40px;
    font-size: 14px;
    line-height: 22px;
    color: $card-font-muted-color;
}

@media (min-width: breakpoint(sm-start)) and (max-width: breakpoint(sm-end)) {
    .spec__name {
        width: 170px;
    }
}
@media (max-width: breakpoint(xs-end)) {
    .spec__header {
        margin-bottom: 30px;
    }
    .spec__row {
        display: block;
        padding: 12px 0;
    }
    .spec__name {
        width: auto;
        margin-bottom: 6px;
    }
}
