<page-header [breadcrumbs]="breadcrumbs"></page-header>
<div class="block">
    <div class="container">
        <div class="document">
            <div class="document__content typography">
                <div [innerHTML]="aboutText$ | async | noSanitize"></div>
            </div>
        </div>
        <div class="certificates">
            <div class="title">
                <h4>Сертификаты</h4>
            </div>
            <ngu-carousel *ngIf="!!images?.length" [inputs]="carouselTile" [dataSource]="images">
                <ngu-tile NguCarouselItem *nguCarouselDef="let item; let i = index">
                    <div class="image-box">
                        <div class="file-content">
                            <div class="file-image">
                                <div class="image-wrapper" [id]="item.id">
                                    <img
                                        draggable="false"
                                        [height]="height"
                                        [lazyLoad]="item.image"
                                        [alt]="item.name"
                                        (click)="openModal(); currentSlide(i + 1)"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                </ngu-tile>
            </ngu-carousel>
        </div>
    </div>
</div>
<div id="imgModal" class="slide-modal">
    <span class="close cursor" (click)="closeModal()">&times;</span>
    <div class="slide-modal-content">
        <div class="img-slides" *ngFor="let image of images; let i = index">
            <img [lazyLoad]="image.image" [alt]="image.name" />
        </div>

        <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
        <a class="next" (click)="plusSlides(1)">&#10095;</a>
    </div>
</div>
