@import '../../../../typography';
@import '../../../../document';

:host {
    .block {
        margin-top: 20px;
    }

    .certificates {
        padding: 20px 0;

        .title {
            margin-bottom: 15px;
            position: relative;
            padding-bottom: 1.25rem;

            h4 {
                font-size: 18px;
                text-transform: capitalize;
                line-height: 1;
                margin: 0;
            }
        }

        .title::before {
            content: '';
            left: 0;
            position: absolute;
            width: 100%;
            height: 0.0625rem;
            bottom: 0.34375rem;
            background-color: #f6f6f6;
        }

        .title::after {
            content: '';
            left: 0;
            position: absolute;
            width: 2.5rem;
            height: 0.125rem;
            background-color: #222;
            bottom: 0.3125rem;
        }
    }

    .image-box {
        height: 300px;
        display: flex;
        position: relative;
        overflow: hidden;

        .file-content {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
        }

        .file-image {
            flex: 1;
            overflow: hidden;
            position: relative;
        }

        .image-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;

            ::ng-deep > * {
                max-width: 100%;
                max-height: 100%;
            }
        }
    }
}

img {
    width: 100%;
}

.slide-modal {
    display: none;
    z-index: 99999999;
    position: fixed;
    padding-top: 10px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000000;
}

.slide-modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    width: 100%;
    max-width: 950px;
}

.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #888888;
    text-decoration: none;
    cursor: pointer;
}

.img-slides {
    display: none;
}

.cursor {
    cursor: pointer;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 18px;
    margin-top: -50px;
    color: white !important;
    background-color: rgba(0, 0, 0, 0.1);
    font-weight: bold;
    font-size: 20px;
    transition: 0.8s ease;
    border-radius: 0 5px 5px 0;
    user-select: none;
    -webkit-user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

img {
    margin-bottom: -4px;
}

img.hover-shadow {
    transition: 0.3s;
}
