@use 'sass:map';
@import '../../theme';

$primary: map.get($theme, primary);
$warn: map.get($theme, warn);

.counter-wrapper {
    border-radius: 24px;
    height: 16px;
    min-width: 16px;
    max-width: 60px;
    background-color: get-color-from-palette($warn, main);
    color: get-color-from-palette($primary, 50);
}

.counter {
    text-align: center;
    font-weight: bold;
    padding: 3px 4px;
    font-size: 13px;
    line-height: 10px;
}
