:host {
    background: #ffff;

    .body {
        display: flex;
        justify-content: center;
    }

    .image-box {
        height: 450px;
        display: flex;
        position: relative;
        overflow: hidden;
    }

    .file-image {
        flex: 1;
        overflow: hidden;
        position: relative;
    }

    .image-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;

        ::ng-deep > * {
            max-width: 100%;
            max-height: 100%;
        }
    }

    ::ng-deep ngu-carousel {
        width: 100%;

        .tile {
            box-shadow: none;
            height: 100%;
        }
    }

    .item.active .container .content {
        h1,
        h3,
        button {
            opacity: 1;
            transform: none;
        }
    }

    .container {
        height: 100%;
        display: flex;

        .content {
            flex-direction: column;
            box-sizing: border-box;
            display: flex;
            place-content: stretch center;
            align-items: center;
            text-align: center;
            height: 100%;
            z-index: 9;
            vertical-align: middle;
            max-width: min-content;

            h1 {
                font-size: 48px;
                color: #333;
                text-transform: uppercase;
                letter-spacing: 3px;
                font-weight: 700;
                margin: 0;
                transition: all 1s 0.2s;
                opacity: 0;

                @media screen and (max-width: 600px) {
                    font-size: 16px;
                    letter-spacing: 0;
                }

                @media screen and (max-width: 992px) and (min-width: 601px) {
                    font-size: 30px;
                    letter-spacing: 0;
                }
            }

            h3 {
                font-size: 36px;
                color: #333;
                margin: 15px 0 40px 0;
                font-weight: 300;
                letter-spacing: 2px;
                transition: all 0.8s 0.5s;
                opacity: 0;
                transform: translateY(15px);

                @media screen and (max-width: 600px) {
                    font-size: 14px;
                    margin-bottom: 10px;
                    letter-spacing: 2px;
                }

                @media screen and (max-width: 992px) and (min-width: 601px) {
                    font-size: 16px;
                    margin-bottom: 10px;
                    letter-spacing: 0;
                }
            }

            button {
                color: #fff;
                width: 110px;
                opacity: 0;
                transition: all 1s 0.4s;

                @media screen and (min-width: 601px) {
                    padding: 5px 33px;
                    width: 200px;
                }

                ::ng-deep .mat-button-wrapper {
                    font-size: 10px;
                    font-weight: 700;
                    text-transform: uppercase;

                    @media screen and (min-width: 601px) {
                        font-size: 14px;
                    }
                }
            }
        }
    }

    .bannerStyle h1 {
        background-color: #ccc;
        min-height: 300px;
        text-align: center;
        line-height: 300px;
    }

    .myPoint {
        list-style-type: none;
        text-align: center;
        margin: 0;
        white-space: nowrap;
        overflow: auto;
        position: absolute;
        width: 100%;
        bottom: 20px;
        left: 0;
        box-sizing: border-box;

        @media screen and (max-width: 600px) {
            display: none;
        }
    }

    .myPoint li {
        display: inline-block;
        border-radius: 999px;
        background: #d6d6d6;
        padding: 6px;
        cursor: pointer;
        user-select: none;
        margin: 0 4px;
        transition: 0.4s ease all;
    }
    .myPoint li.active {
        background: #869791;
        width: 10px;
    }
}
