<div class="body" *ngIf="!!lazySlides?.length">
    <ngu-carousel
        #myCarousel
        [inputs]="carouselTile"
        (carouselLoad)="carouselTileLoad()"
        [dataSource]="lazySlides"
    >
        <ngu-tile
            NguCarouselItem
            *nguCarouselDef="let item; let i = index"
            #myTile
            [class.active]="i === myCarousel.activePoint"
        >
            <div class="container">
                <div class="content">
                    <h1>{{ item.description }}</h1>
                    <h3>{{ item.title }}</h3>
                    <button
                        class="btn btn-primary btn-{{ myCarousel.deviceType }}"
                        type="button"
                        [routerLink]="item.link"
                    >
                        Купить сейчас
                    </button>
                </div>
                <div class="file-image">
                    <div class="image-wrapper">
                        <img
                            src="assets/svg/spinner.svg"
                            [lazyLoad]="item.image"
                            draggable="false"
                            [attr.alt]="item?.description"
                        />
                    </div>
                </div>
            </div>
        </ngu-tile>

        <ul class="myPoint" NguCarouselPoint>
            <li
                *ngFor="let j of myCarousel.pointNumbers"
                [class.active]="j === myCarousel.activePoint"
                (click)="myCarousel.moveTo(j)"
                [style.background]="'url(' + slides[j] + ')'"
            ></li>
        </ul>
    </ngu-carousel>
</div>
