<div class="filter">
    <mat-form-field>
        <input matInput [formControl]="searchControl" placeholder="Фильтр" />
    </mat-form-field>
</div>
<section id="sample-table4" class="bg-white">
    <table mat-table [dataSource]="dataSource" matSort class="w-100">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Номер</th>
            <td mat-cell *matCellDef="let row">{{ row.id }}</td>
        </ng-container>

        <ng-container matColumnDef="created">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Время запроса</th>
            <td mat-cell *matCellDef="let row">{{ row.created | date: 'M/d/yyy, H:mm' }}</td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Имя Заказчика</th>
            <td mat-cell *matCellDef="let row">{{ row.userInfo.name }}</td>
        </ng-container>

        <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Номер телефона</th>
            <td mat-cell *matCellDef="let row">{{ row.userInfo.phone }}</td>
        </ng-container>

        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Почта</th>
            <td mat-cell *matCellDef="let row">{{ row.userInfo.email }}</td>
        </ng-container>

        <ng-container matColumnDef="productName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Название товара</th>
            <td mat-cell *matCellDef="let row">
                <a routerLink="/catalog/product/{{ row.product.id }}">{{ row.product.name }}</a>
            </td>
        </ng-container>

        <ng-container matColumnDef="info">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Информация</th>
            <td mat-cell *matCellDef="let row">
                <mat-icon
                    *ngIf="row.comment"
                    class="mat-help"
                    [matTooltip]="row.comment"
                    aria-label="help"
                >
                    help
                </mat-icon>
            </td>
        </ng-container>

        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
                <button mat-button (click)="onDelete(row.id); $event.stopPropagation()">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
</section>

<mat-paginator
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    (page)="onChangePaginator($event)"
>
</mat-paginator>
