:host {
    .toolbar {
        background-color: #fafafa;
        padding: 10px;
        justify-content: space-between;
        align-items: center;
        display: flex;
    }

    .name {
        width: 50%;
        font-weight: bold;
        font-size: 18px;
    }

    .bg-white {
        height: 100%;
        overflow: auto;
        background-color: #fff;
    }

    .inputs {
        display: flex;
        flex-direction: column;

        .fields-row-wrapper {
            margin: 0 6px;
            display: flex;
            flex-flow: row wrap;

            .mat-form-field {
                height: 57px;
                padding: 15px;
                width: 30%;
            }
        }
    }

    .inputs .fields-row-wrapper .example-full-width {
        width: 100%;
        height: 100%;
    }

    ::ng-deep json-input .mat-form-field {
        width: 100%;
        height: 100%;
        padding: 15px;
    }
}
