<div class="toolbar">
    <button mat-icon-button type="button" (click)="onBack()">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <div class="name">Номер заказа: {{ orderGroup.controls['id'].value }}</div>
</div>
<section id="sample-table2" class="bg-white">
    <div class="inputs">
        <p class="pl20 bold">Иформация о заказе</p>
        <form [formGroup]="orderGroup" class="fields-row-wrapper">
            <mat-form-field class="product">
                <mat-label>Коментарий</mat-label>
                <input matInput formControlName="comment" [placeholder]="'Коментарий'" />
            </mat-form-field>
            <mat-form-field class="product">
                <mat-label>Время создания</mat-label>
                <input matInput formControlName="created" [placeholder]="'Время создания'" />
            </mat-form-field>
            <mat-form-field class="product">
                <mat-label>Время последнего обновления</mat-label>
                <input
                    matInput
                    formControlName="updated"
                    [placeholder]="'Время последнего обновления'"
                />
            </mat-form-field>
            <mat-form-field class="product">
                <mat-label>Общая стоимость в рублях</mat-label>
                <input
                    matInput
                    type="number"
                    formControlName="totalCost"
                    [placeholder]="'Общая стоимость в рублях'"
                />
            </mat-form-field>
            <mat-form-field class="product">
                <mat-label>Статус заказа</mat-label>
                <mat-select formControlName="status">
                    <mat-option *ngFor="let status of statuses" [value]="status.id">
                        {{ status.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </form>
        <p class="pl20 bold">Иформация о заказчике</p>
        <form [formGroup]="customerInfoGroup" class="fields-row-wrapper">
            <mat-form-field class="product">
                <mat-label>Организация</mat-label>
                <input matInput formControlName="organization" [placeholder]="'Организация'" />
            </mat-form-field>
            <mat-form-field class="product">
                <mat-label>Реквизиты для выставления счета</mat-label>
                <input
                    matInput
                    formControlName="requisites"
                    [placeholder]="'Реквизиты для выставления счета'"
                />
            </mat-form-field>
            <mat-form-field class="product">
                <mat-label>Город</mat-label>
                <input matInput formControlName="city" [placeholder]="'Город'" />
            </mat-form-field>
            <mat-form-field class="product">
                <mat-label>Адрес доставки</mat-label>
                <input matInput formControlName="address" [placeholder]="'Адрес доставки'" />
            </mat-form-field>
            <mat-form-field class="product">
                <mat-label>Контактное лицо</mat-label>
                <input matInput formControlName="name" [placeholder]="'Контактное лицо'" />
            </mat-form-field>
            <mat-form-field class="product">
                <mat-label>Контактный телефон</mat-label>
                <input matInput formControlName="phone" [placeholder]="'Контактный телефон'" />
            </mat-form-field>
            <mat-form-field class="product">
                <mat-label>Электронная почта</mat-label>
                <input matInput formControlName="email" [placeholder]="'Электронная почта'" />
            </mat-form-field>
        </form>
        <p class="pl20 bold">Товары. Количество: {{ productsFormArray.controls.length }}</p>
        <ng-container *ngFor="let product of productsFormArray.controls; let i = index">
            <form [formGroup]="$any(product)" class="fields-row-wrapper">
                <mat-form-field class="product">
                    <mat-label>Название</mat-label>
                    <input matInput formControlName="name" [placeholder]="'Название'" />
                </mat-form-field>
                <mat-form-field class="product">
                    <mat-label>Количество</mat-label>
                    <input matInput formControlName="quantity" [placeholder]="'Количество'" />
                </mat-form-field>
            </form>
        </ng-container>
    </div>
</section>
