:host {
    flex-direction: column;
    background-color: #fff;

    ::ng-deep .mat-list .mat-list-item .mat-list-item-content {
        padding: 0;
    }

    .toolbar {
        background-color: #fafafa;
        padding: 10px;
        justify-content: space-between;
        align-items: center;
        display: flex;
        position: sticky;
        top: 0;
        left: 0;
        z-index: 2;

        .actions {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
        }
    }
}

.slides {
    display: flex;
    flex-wrap: wrap;
}
