<div class="toolbar">
    <div class="actions">
        <button mat-button (click)="onCancel()">
            <mat-icon>cancel</mat-icon>
            <span>Отменить</span>
        </button>
        <div>
            <button mat-button class="create-button" type="button" (click)="onCreateSlide()">
                <mat-icon aria-label="new contact">add_circle_outline</mat-icon>
                Добавить элемент
            </button>
            <button
                mat-raised-button
                type="submit"
                class="mat-rounded-button"
                color="accent"
                [disabled]="!slidesFormArray.valid || slidesFormArray.pristine"
                (click)="onSave()"
            >
                <mat-icon>save</mat-icon>
                Сохранить
            </button>
        </div>
    </div>
</div>

<div *ngIf="slides" class="slides" cdkDropListGroup>
    <div
        cdkDropList
        class="pad-md"
        [cdkDropListData]="i"
        *ngFor="
            let slide of slidesFormArray.controls | formSort: 'step';
            let i = index;
            trackBy: trackByFn
        "
    >
        <form [formGroup]="$any(slide)">
            <card-item
                cdkDrag
                [cdkDragData]="i"
                (cdkDragEntered)="drop($event)"
                [nameControl]="slide.get('description')"
                [imageControl]="slide.get('image')"
                [label]="'Описание'"
                [title]="'Описание'"
                [placeholder]="'Описание'"
            >
                <mat-form-field appearance="outline" class="sub-category">
                    <mat-label>Sale Title</mat-label>
                    <input matInput formControlName="title" [placeholder]="'Продажный лозунг'" />
                </mat-form-field>
                <mat-form-field appearance="outline" class="sub-category">
                    <mat-label>Гиперссылка</mat-label>
                    <input matInput formControlName="link" [placeholder]="'Гиперссылка'" />
                </mat-form-field>
                <button mat-raised-button color="accent" class="remove" (click)="onRemoveSlide(i)">
                    Удалить
                </button>
            </card-item>
        </form>
    </div>
</div>
